In [13]:
# Importing necessary libraries
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [14]:
# Connecting to the web Browser.
driver=webdriver.Chrome(r'C:\Users\91749\Downloads\chromedriver_win32\chromedriver.exe')

In [3]:
# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location.

url='https://www.naukri.com/'
driver.get(url)

In [21]:
from selenium.webdriver.common.by import By

In [5]:
# Finding Web element search job bar using id
Search_job=driver.find_element(By.CLASS_NAME,"suggestor-input ")
Search_job

In [6]:
Search_job.send_keys('Data Analyst')

In [9]:
# Finding Web element search location bar using xpath.
search_loct=driver.find_element("xpath",'/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')
search_loct

In [11]:
search_loct.send_keys('Banglore')

In [12]:
#clicking using absolute xpath function.
search_btn=driver.find_element("xpath",'/html/body/div[1]/div[2]/div[3]/div/div/div[6]')
search_btn

In [13]:
search_btn.click()

In [14]:
# Extracting job titles.
title_tags=driver.find_elements("xpath",'//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [15]:
job_titles=[]

for i in title_tags:
    job_titles.append(i.text)
len(job_titles)

20

In [16]:
job_titles

['Data Analyst/Senior Data Analyst',
 'Senior Data Analyst II',
 'Software Technical Expert - Data Analyst',
 'Data Analyst',
 'Big data analyst',
 'Data Analyst',
 'Senior Business Analyst, Data Analytics & Engineering-DATA Engineer',
 'Data Analyst 2',
 'Clinical Data Analyst',
 'Senior Data Analyst',
 'Senior Data Management Analyst',
 'Senior Data Management Analyst',
 'Senior Data Management Analyst',
 'Business Analyst/Data Analyst',
 'Senior Data Analyst',
 'Financial Data Analyst - Data & Analytics',
 'Data Analyst / Product Analyst / Business Analyst',
 'Data Analyst / Modeler',
 'Data Analyst',
 'Opening For Data Analyst For Bangalore']

In [17]:
# Extracting company names.
company_tags=driver.find_elements("xpath",'//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

20

In [18]:
company_names=[]

for i in company_tags:
    company_names.append(i.text)
len(company_names)

20

In [21]:
company_names

['Meesho',
 'Flipkart',
 'Schneider Electric',
 'Jio',
 'Accolite Software India Pvt Ltd',
 'BYJUS',
 'Artech Infosystems Pvt. Ltd.',
 'PayPal',
 'Navitas LLP',
 'Walmart',
 'Wells Fargo',
 'Wells Fargo',
 'Wells Fargo',
 'cliqhr.com',
 'manoramaONLINE',
 "Moody's",
 'Benchire',
 'RARR Technologies',
 'Happay (VA Tech Ventures)',
 'TARENTO TECHNOLOGIES PRIVATE LIMITED']

In [22]:
# Extracting Experience
experience_tags=driver.find_elements("xpath",'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(experience_tags)

20

In [23]:
Experience=[]

for i in experience_tags:
    Experience.append(i.text)
len(Experience)

20

In [24]:
Experience

['3-6 Yrs',
 '3-6 Yrs',
 '3-6 Yrs',
 '8-11 Yrs',
 '2-6 Yrs',
 '2-5 Yrs',
 '4-8 Yrs',
 '1-3 Yrs',
 '3-8 Yrs',
 '4-7 Yrs',
 '7-12 Yrs',
 '8-13 Yrs',
 '4-9 Yrs',
 '5-10 Yrs',
 '5-10 Yrs',
 '1-3 Yrs',
 '2-5 Yrs',
 '6-8 Yrs',
 '1-2 Yrs',
 '5-8 Yrs']

In [25]:
# Extracting job location
loc_tags=driver.find_elements("xpath",'//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(loc_tags)

20

In [26]:
location=[]

for i in loc_tags:
    location.append(i.text)
len(location)

20

In [27]:
location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Serilingampally, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru, kerala',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Delhi / NCR',
 'Mumbai, Pune, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [28]:
len(job_titles),len(company_names),len(Experience),len(location)

(20, 20, 20, 20)

In [29]:
# Creating the Dataframe for the above lists.
jobs=pd.DataFrame()
jobs['Job_Titles']=job_titles
jobs['Company_Names']=company_names
jobs['Company_Experience']=Experience
jobs['Job_location']=location
jobs

,Job_Titles,Company_Names,Company_Experience,Job_location
0,Data Analyst/Senior Data Analyst,Meesho,3-6 Yrs,Bangalore/Bengaluru
1,Senior Data Analyst II,Flipkart,3-6 Yrs,Bangalore/Bengaluru
2,Software Technical Expert - Data Analyst,Schneider Electric,3-6 Yrs,Bangalore/Bengaluru
3,Data Analyst,Jio,8-11 Yrs,Bangalore/Bengaluru
4,Big data analyst,Accolite Software India Pvt Ltd,2-6 Yrs,Bangalore/Bengaluru
5,Data Analyst,BYJUS,2-5 Yrs,Bangalore/Bengaluru
6,"Senior Business Analyst, Data Analytics & Engi...",Artech Infosystems Pvt. Ltd.,4-8 Yrs,Bangalore/Bengaluru\n(WFH during Covid)
7,Data Analyst 2,PayPal,1-3 Yrs,Bangalore/Bengaluru
8,Clinical Data Analyst,Navitas LLP,3-8 Yrs,"Chennai, Bangalore/Bengaluru"
9,Senior Data Analyst,Walmart,4-7 Yrs,Bangalore/Bengaluru
10,Senior Data Management Analyst,Wells Fargo,7-12 Yrs,"Serilingampally, Bangalore/Bengaluru"
11,Senior Data Management Analyst,Wells Fargo,8-13 Yrs,Bangalore/Bengaluru
12,Senior Data Management Analyst,Wells Fargo,4-9 Yrs,"Hyderabad/Secunderabad, Bangalore/Bengaluru"
13,Business Analyst/Data Analyst,cliqhr.com,5-10 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Chennai,..."
14,Senior Data Analyst,manoramaONLINE,5-10 Yrs,"Chennai, Bangalore/Bengaluru, kerala"
15,Financial Data Analyst - Data & Analytics,Moody's,1-3 Yrs,Bangalore/Bengaluru
16,Data Analyst / Product Analyst / Business Analyst,Benchire,2-5 Yrs,"Bangalore/Bengaluru, Delhi / NCR"
17,Data Analyst / Modeler,RARR Technologies,6-8 Yrs,"Mumbai, Pune, Chennai, Bangalore/Bengaluru"
18,Data Analyst,Happay (VA Tech Ventures),1-2 Yrs,Bangalore/Bengaluru
19,Opening For Data Analyst For Bangalore,TARENTO TECHNOLOGIES PRIVATE LIMITED,5-8 Yrs,Bangalore/Bengaluru

In [34]:
# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location.
driver=webdriver.Chrome(r'C:\Users\91749\Downloads\chromedriver_win32\chromedriver.exe')

In [35]:
url='https://www.naukri.com/'
driver.get(url)

In [79]:
from selenium.webdriver.common.by import By

In [37]:
Search_job=driver.find_element(By.CLASS_NAME,"suggestor-input ")
Search_job

In [38]:
Search_job.send_keys('Data Scientists')

In [39]:
search_loct=driver.find_element("xpath",'/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')
search_loct

In [40]:
search_loct.send_keys("Banglore")

In [41]:
search_btn=driver.find_element("xpath",'/html/body/div[1]/div[2]/div[3]/div/div/div[6]')
search_btn

In [42]:
search_btn.click()

In [43]:
title_tags=driver.find_elements("xpath",'//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [44]:
job_titles=[]

for i in title_tags:
    job_titles.append(i.text)
len(job_titles)

20

In [45]:
job_titles

['Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist - IN3',
 'Data Scientist - IN3',
 'Data Scientist',
 'Data Scientist',
 'Senior Data Scientist, Personalization',
 'Principal Data Scientist, AI-ML, D&T',
 'Data Scientist',
 'NLP , Data Scientist',
 'Knowledge Graph , Data Scientist',
 'Deep Learning , Data Scientist',
 'Data Scientist',
 'Senior Data Scientist',
 'DigitalBCG GAMMA Data Scientist',
 'MLOPS && Data scientist && ML Engineer && AWS Quicksight Developer',
 'Opportunity For Data Scientist - Female Candidates ONLY',
 'Opening For Data Scientist - Bangalore',
 'NLP - Data scientist']

In [46]:
company_tags=driver.find_elements("xpath",'//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

20

In [47]:
company_names=[]

for i in company_tags:
    company_names.append(i.text)
len(company_names)

20

In [48]:
company_names

['Neudesic Technologies',
 'RARR Technologies',
 'Happay (VA Tech Ventures)',
 'Walmart',
 'Walmart',
 'Nomiso India',
 'ECOLAB DIGITAL CENTER PVT LTD',
 'Walmart',
 'Western India Pharmaceutical',
 'PRA',
 'Mango Sciences',
 'Mango Sciences',
 'Mango Sciences',
 'Kimberly-Clark Lever Limited',
 'Enquero',
 'Boston Consulting Group',
 'Qeosol',
 'PayU',
 'HDFC LIFE INSURANCE COMPANY LIMITED',
 'RARR Technologies']

In [49]:
loc_tags=driver.find_elements("xpath",'//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(loc_tags)

20

In [50]:
location=[]

for i in loc_tags:
    location.append(i.text)
len(location)

20

In [51]:
location

['Kochi/Cochin, Hyderabad/Secunderabad, Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'New Delhi, Bangalore/Bengaluru',
 'Hassan, Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru']

In [52]:
jobs=pd.DataFrame()
jobs['Job_Titles']=job_titles
jobs['Company_Names']=company_names
jobs['Job_location']=location
jobs

,Job_Titles,Company_Names,Job_location
0,Data Scientist,Neudesic Technologies,"Kochi/Cochin, Hyderabad/Secunderabad, Bangalor..."
1,Data Scientist,RARR Technologies,Bangalore/Bengaluru
2,Data Scientist,Happay (VA Tech Ventures),Bangalore/Bengaluru
3,Data Scientist - IN3,Walmart,Bangalore/Bengaluru
4,Data Scientist - IN3,Walmart,Bangalore/Bengaluru
5,Data Scientist,Nomiso India,"Hyderabad/Secunderabad, Bangalore/Bengaluru\n(..."
6,Data Scientist,ECOLAB DIGITAL CENTER PVT LTD,Bangalore/Bengaluru
7,"Senior Data Scientist, Personalization",Walmart,Bangalore/Bengaluru
8,"Principal Data Scientist, AI-ML, D&T",Western India Pharmaceutical,Bangalore/Bengaluru
9,Data Scientist,PRA,Bangalore/Bengaluru
10,"NLP , Data Scientist",Mango Sciences,Bangalore/Bengaluru
11,"Knowledge Graph , Data Scientist",Mango Sciences,Bangalore/Bengaluru
12,"Deep Learning , Data Scientist",Mango Sciences,Bangalore/Bengaluru
13,Data Scientist,Kimberly-Clark Lever Limited,Bangalore/Bengaluru
14,Senior Data Scientist,Enquero,"Hyderabad/Secunderabad, Bangalore/Bengaluru"
15,DigitalBCG GAMMA Data Scientist,Boston Consulting Group,"New Delhi, Bangalore/Bengaluru"
16,MLOPS && Data scientist && ML Engineer && AWS ...,Qeosol,"Hassan, Bangalore/Bengaluru"
17,Opportunity For Data Scientist - Female Candid...,PayU,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ..."
18,Opening For Data Scientist - Bangalore,HDFC LIFE INSURANCE COMPANY LIMITED,Bangalore/Bengaluru
19,NLP - Data scientist,RARR Technologies,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,..."

In [3]:
# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
url='https://www.naukri.com/'
driver.get(url)

In [4]:
from selenium.webdriver.common.by import By

In [5]:
Search_job=driver.find_element(By.CLASS_NAME,"suggestor-input ")
Search_job

In [6]:
Search_job.send_keys('Data Scientists')

In [7]:
search_loct=driver.find_element("xpath",'/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')
search_loct

In [8]:
search_loct.send_keys("Delhi/NCR")

In [9]:
search_btn=driver.find_element("xpath",'/html/body/div[1]/div[2]/div[3]/div/div/div[6]')
search_btn

In [10]:
search_btn.click()

In [27]:
salary_check=driver.find_element("xpath",'/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]')
salary_check

In [28]:
salary_check.click()

In [29]:
title_tags=driver.find_elements("xpath",'//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [30]:
job_titles=[]

for i in title_tags:
    job_titles.append(i.text)
len(job_titles)

20

In [31]:
job_titles

['Data Scientist',
 'DigitalBCG GAMMA Data Scientist',
 'Data Scientist',
 'Data Scientist - Engine Algorithm',
 'Data Scientist - KPO',
 'Data Scientist',
 'Forecast Analyst (Data Scientist)',
 'Associate Data Scientist - Java/ Scala/ Apache Server',
 'Data Scientist - Noida/Bangalore',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist/ Machine Learning, 2022 Passout Can also apply',
 'Hiring || Data Scientist || North Delhi || 5.5 days working',
 'Associate Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist - Machine learning AI',
 'Data Scientist',
 'Data scientist- Python',
 'data scientist - biotechnology Jobs']

In [32]:
company_tags=driver.find_elements("xpath",'//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

20

In [33]:
company_names=[]

for i in company_tags:
    company_names.append(i.text)
len(company_names)

20

In [34]:
company_names

['Nelito Systems Ltd',
 'Boston Consulting Group',
 'RapiPay Fintech',
 'Primo Hiring',
 'Huquo Consulting Pvt. Ltd',
 'Kellton Tech Solutions Limited',
 'Concentrix',
 'Smart work Consultants',
 'EXL',
 'GREAT LAKES E-LEARNING SERVICES PRIVATE LIMITED',
 'Sydata Consulting India Pvt Ltd',
 'Creative Hands HR Consultancy',
 'Shriram Automall India Limited',
 'Gartner',
 'itForte Staffing Services Private Ltd.',
 'Boston Consulting Group',
 'Teq Analytics',
 'BlackBuck',
 'TeamPlus Staffing Solution Pvt Ltd',
 'RIGHT STEP CONSULTING PRIVATE LIMITED']

In [35]:
loc_tags=driver.find_elements("xpath",'//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(loc_tags)

20

In [36]:
location=[]

for i in loc_tags:
    location.append(i.text)
len(location)

20

In [37]:
location

['Delhi / NCR, Kolkata, New Delhi, Navi Mumbai, Ahmedabad, Mumbai (All Areas)',
 'New Delhi, Bangalore/Bengaluru',
 'Noida',
 'Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secunderabad, Lucknow, Chennai, Ahmedabad, Bangalore/Bengaluru',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Delhi / NCR, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Noida',
 'Noida, Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Delhi / NCR, Bangalore/Bengaluru, Mumbai (All Areas)\n(WFH during Covid)',
 'Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Delhi / NCR(Netaji Subhash Place)',
 'Gurgaon/Gurugram',
 'Gurgaon',
 'New Delhi',
 'Delhi / NCR, Bangalore/Bengaluru, Mumbai (All Areas)\n(WFH during Covid)',
 'Gurgaon, Bengaluru',
 'Gurgaon/Gurugram',
 'Delhi']

In [38]:
experience_tags=driver.find_elements("xpath",'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(experience_tags)

20

In [39]:
Experience=[]

for i in experience_tags:
    Experience.append(i.text)
len(Experience)

20

In [40]:
Experience

['3-8 Yrs',
 '2-5 Yrs',
 '4-9 Yrs',
 '1-3 Yrs',
 '4-7 Yrs',
 '3-6 Yrs',
 '3-7 Yrs',
 '1-4 Yrs',
 '5-10 Yrs',
 '2-7 Yrs',
 '3-8 Yrs',
 '0-4 Yrs',
 '4-9 Yrs',
 '1-3 Yrs',
 '3-8 Yrs',
 '2-5 Yrs',
 '3-8 Yrs',
 '3-7 Yrs',
 '3-6 Yrs',
 '2-5 Yrs']

In [42]:
jobs=pd.DataFrame()
jobs['Job_Titles']=job_titles
jobs['Company_Names']=company_names
jobs['Company_Experience']=Experience
jobs['Job_location']=location
jobs.head(10)

,Job_Titles,Company_Names,Company_Experience,Job_location
0,Data Scientist,Nelito Systems Ltd,3-8 Yrs,"Delhi / NCR, Kolkata, New Delhi, Navi Mumbai, ..."
1,DigitalBCG GAMMA Data Scientist,Boston Consulting Group,2-5 Yrs,"New Delhi, Bangalore/Bengaluru"
2,Data Scientist,RapiPay Fintech,4-9 Yrs,Noida
3,Data Scientist - Engine Algorithm,Primo Hiring,1-3 Yrs,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund..."
4,Data Scientist - KPO,Huquo Consulting Pvt. Ltd,4-7 Yrs,Gurgaon/Gurugram
5,Data Scientist,Kellton Tech Solutions Limited,3-6 Yrs,Gurgaon/Gurugram
6,Forecast Analyst (Data Scientist),Concentrix,3-7 Yrs,"Delhi / NCR, Gurgaon/Gurugram, Bangalore/Benga..."
7,Associate Data Scientist - Java/ Scala/ Apache...,Smart work Consultants,1-4 Yrs,Noida
8,Data Scientist - Noida/Bangalore,EXL,5-10 Yrs,"Noida, Bangalore/Bengaluru"
9,Data Scientist,GREAT LAKES E-LEARNING SERVICES PRIVATE LIMITED,2-7 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"

In [87]:
#Q4: Scrape data of first 100 sunglasses listings on flipkart.com
url='https://www.flipkart.com/'
driver.get(url)

In [88]:
Search_bar=driver.find_element(By.CLASS_NAME,"_3704LK")
Search_bar

In [89]:
Search_bar.send_keys('sunglasses')

In [90]:
search_btn=driver.find_element("xpath",'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn

In [91]:
search_btn.click()

In [92]:
brand_tags=driver.find_elements("xpath",'//div[@class="_2WkVRV"]')
len(brand_tags)

40

In [93]:
brand=[]

for i in brand_tags:
    brand.append(i.text)
len(brand)

40

In [94]:
brand

['VINCENT CHASE',
 'VINCENT CHASE',
 'Fastrack',
 'Elligator',
 'SRPM',
 'New Specs',
 'Fastrack',
 'ROZZETTA CRAFT',
 'SUNBEE',
 'Fastrack',
 'Lee Topper',
 'Singco India',
 'PIRASO',
 'SUNBEE',
 'PIRASO',
 'VINCENT CHASE',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'CRYSTAL CART',
 'ROZZETTA CRAFT',
 'Fastrack',
 'SHAAH COLLECTIONS',
 'kingsunglasses',
 'ROYAL SON',
 'Lee Topper',
 'PHENOMENAL',
 'PIRASO',
 'VINCENT CHASE',
 'ROZZETTA CRAFT',
 'Fastrack',
 'CRYSTAL CART',
 'AISLIN',
 'Fastrack',
 'Sewell',
 'Fastrack',
 'ROZZETTA CRAFT',
 'PIRASO',
 'Lee Topper',
 'PIRASO',
 'AISLIN']

In [95]:
describe=driver.find_elements("xpath",'//a[@class="IRpwTa"]')
len(describe)

40

In [96]:
Description=[]

for i in describe:
    Description.append(i.text)
len(Description)

40

In [97]:
Description

['Polarized, UV Protection Round Sunglasses (50)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Cat-eye Sunglasses (Free Size)',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'UV Protection Aviator Sunglasses (54)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...',
 'Mirrored, Night Vision Oval Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Rectangular Sunglasses (F...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'Polarized Retro Square Sunglasses (61)',
 'Riding Glasses Wrap-around Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection Rectangular Sunglasses (50)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection, Mirrored, Gradient Rectangula...',
 'UV Protection, Gradient Cat-eye, Round Sunglasses (62)',
 'UV Protection Aviator Sunglasses (58)',
 'Mirrored, Night Vision, UV Protection, Riding Glasses S...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Spectacle Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (55)',
 'UV Protection, Gradient Butterfly, Round Sunglasses (53...']

In [98]:
price_tag=driver.find_elements("xpath",'//div[@class="_30jeq3"]')
len(price_tag)

40

In [99]:
Price=[]

for i in price_tag:
    Price.append(i.text)
len(Price)

40

In [100]:
Price

['₹949',
 '₹999',
 '₹639',
 '₹315',
 '₹224',
 '₹264',
 '₹799',
 '₹399',
 '₹283',
 '₹639',
 '₹229',
 '₹598',
 '₹224',
 '₹259',
 '₹224',
 '₹799',
 '₹349',
 '₹499',
 '₹189',
 '₹449',
 '₹719',
 '₹279',
 '₹213',
 '₹664',
 '₹299',
 '₹369',
 '₹306',
 '₹649',
 '₹319',
 '₹719',
 '₹529',
 '₹475',
 '₹1,039',
 '₹279',
 '₹759',
 '₹399',
 '₹226',
 '₹219',
 '₹246',
 '₹425']

In [101]:
discount_tag=driver.find_elements("xpath",'//div[@class="_3Ay6Sb"]')
len(discount_tag)

40

In [102]:
discount=[]

for i in discount_tag:
    discount.append(i.text)
len(discount)

40

In [103]:
discount

['52% off',
 '50% off',
 '20% off',
 '87% off',
 '82% off',
 '89% off',
 '20% off',
 '80% off',
 '78% off',
 '20% off',
 '82% off',
 '80% off',
 '85% off',
 '80% off',
 '85% off',
 '60% off',
 '82% off',
 '75% off',
 '68% off',
 '79% off',
 '20% off',
 '78% off',
 '82% off',
 '55% off',
 '88% off',
 '81% off',
 '88% off',
 '67% off',
 '78% off',
 '20% off',
 '74% off',
 '72% off',
 '20% off',
 '81% off',
 '15% off',
 '80% off',
 '85% off',
 '78% off',
 '84% off',
 '72% off']

In [104]:
# Data Frame of first 40 Sunglasses.
sun1=pd.DataFrame()
sun1['Brand Name']=brand
sun1['Product Price']= Price
sun1['Product Description']= Description
sun1['Product Discount']=discount
sun1.head()

,Brand Name,Product Price,Product Description,Product Discount
0,VINCENT CHASE,₹949,"Polarized, UV Protection Round Sunglasses (50)",52% off
1,VINCENT CHASE,₹999,"by Lenskart Polarized, UV Protection Round Sun...",50% off
2,Fastrack,₹639,UV Protection Rectangular Sunglasses (Free Size),20% off
3,Elligator,₹315,UV Protection Round Sunglasses (54),87% off
4,SRPM,₹224,UV Protection Wayfarer Sunglasses (50),82% off

In [105]:
# Shifting to the 2nd page to scrape the data.
next_page=driver.find_element("xpath",'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')
next_page

In [106]:
next_page.click()

In [123]:
next_Brand=driver.find_elements("xpath",'//div[@class="_2WkVRV"]')
len(next_Brand)

40

In [124]:
Brands=[]
for i in next_Brand:
    Brands.append(i.text)
len(Brands)

40

In [125]:
Brands

['kingsunglasses',
 'Fastrack',
 'Lee Topper',
 'VINCENT CHASE',
 'New Specs',
 'kingsunglasses',
 'Mi',
 'ROZZETTA CRAFT',
 'LIZA ANGEL',
 'DEIXELS',
 'Mi',
 'VINCENT CHASE',
 'ROYAL SON',
 'PIRASO',
 'SRPM',
 'VINCENT CHASE',
 'Silver Kartz',
 'LIZA ANGEL',
 'kingsunglasses',
 'VINCENT CHASE',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'Fastrack',
 'Rich Club',
 'ROZZETTA CRAFT',
 'VINCENT CHASE',
 'Fastrack',
 'Mi',
 'Fastrack',
 'NuVew',
 'New Specs',
 'VINCENT CHASE',
 'ROYAL SON',
 'ROYAL SON',
 'Fastrack',
 'Fastrack',
 'ROYAL SON',
 'VINCENT CHASE']

In [126]:
prices=driver.find_elements("xpath",'//div[@class="_30jeq3"]')
len(prices)

40

In [127]:
glass=[]
for i in prices:
    glass.append(i.text)
len(glass)

40

In [128]:
glass

['₹289',
 '₹719',
 '₹255',
 '₹949',
 '₹189',
 '₹329',
 '₹799',
 '₹399',
 '₹189',
 '₹249',
 '₹839',
 '₹949',
 '₹379',
 '₹246',
 '₹249',
 '₹949',
 '₹288',
 '₹199',
 '₹269',
 '₹999',
 '₹214',
 '₹499',
 '₹269',
 '₹449',
 '₹721',
 '₹225',
 '₹399',
 '₹649',
 '₹1,169',
 '₹899',
 '₹759',
 '₹385',
 '₹214',
 '₹749',
 '₹217',
 '₹664',
 '₹639',
 '₹899',
 '₹699',
 '₹749']

In [132]:
describes=driver.find_elements("xpath",'//a[@class="IRpwTa"]')
len(describes)

40

In [133]:
styles=[]
for i in describes:
    styles.append(i.text)
len(styles)

40

In [134]:
styles

['Mirrored, UV Protection Wayfarer, Rectangular Sunglasse...',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'Polarized Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'Riding Glasses, Night Vision Spectacle Sunglasses (Fre...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Polarized Aviator Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (53)',
 'Polarized, UV Protection Round Sunglasses (50)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Night Vision, Riding Glasses Round Sungl...',
 'UV Protection, Mirrored Aviator Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Rectangular Sunglasses (F...',
 'UV Protection Wayfarer Sunglasses (55)',
 'Polarized Round Sunglasses (48)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (50)',
 'UV Protection Round Sunglasses (52)',
 'Polarized Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Cat-eye Sunglasses (60)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Rectangular Sungla...',
 'UV Protection, Gradient Wayfarer Sunglasses (55)',
 'Polarized Retro Square Sunglasses (61)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Butterfly Sunglasses (62)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...']

In [129]:
deduce= driver.find_elements("xpath",'//div[@class="_3Ay6Sb"]')
len(deduce)

40

In [130]:
deduction=[]
for i in deduce:
    deduction.append(i.text)
len(deduction)

40

In [131]:
deduction

['85% off',
 '20% off',
 '74% off',
 '52% off',
 '88% off',
 '79% off',
 '20% off',
 '80% off',
 '81% off',
 '79% off',
 '30% off',
 '52% off',
 '74% off',
 '84% off',
 '75% off',
 '52% off',
 '80% off',
 '75% off',
 '85% off',
 '50% off',
 '78% off',
 '77% off',
 '82% off',
 '79% off',
 '9% off',
 '54% off',
 '80% off',
 '67% off',
 '10% off',
 '25% off',
 '15% off',
 '73% off',
 '86% off',
 '62% off',
 '78% off',
 '55% off',
 '20% off',
 '10% off',
 '65% off',
 '70% off']

In [167]:
# Data Frame for next 40 Sunglasses.
sun2=pd.DataFrame()
sun2['Brand Name']=Brands
sun2['Product Price']= glass
sun2['Product Description']=styles 
sun2['Product Discount']=deduction
sun2.head(15)

,Brand Name,Product Price,Product Description,Product Discount
0,kingsunglasses,₹289,"Mirrored, UV Protection Wayfarer, Rectangular ...",85% off
1,Fastrack,₹719,UV Protection Shield Sunglasses (Free Size),20% off
2,Lee Topper,₹255,UV Protection Round Sunglasses (Free Size),74% off
3,VINCENT CHASE,₹949,"by Lenskart Polarized, UV Protection Cat-eye S...",52% off
4,New Specs,₹189,UV Protection Rectangular Sunglasses (Free Size),88% off
5,kingsunglasses,₹329,UV Protection Round Sunglasses (Free Size),79% off
6,Mi,₹799,Polarized Wayfarer Sunglasses (Free Size),20% off
7,ROZZETTA CRAFT,₹399,"UV Protection, Gradient Rectangular Sunglasses...",80% off
8,LIZA ANGEL,₹189,"Riding Glasses, Night Vision Spectacle Sunglas...",81% off
9,DEIXELS,₹249,UV Protection Aviator Sunglasses (Free Size),79% off
10,Mi,₹839,Polarized Aviator Sunglasses (Free Size),30% off
11,VINCENT CHASE,₹949,"by Lenskart Polarized, UV Protection Cat-eye S...",52% off
12,ROYAL SON,₹379,Mirrored Aviator Sunglasses (Free Size),74% off
13,PIRASO,₹246,UV Protection Aviator Sunglasses (54),84% off
14,SRPM,₹249,UV Protection Wayfarer Sunglasses (53),75% off

In [137]:
# Shifting to the 3rd page for reamaining 40 sunglasses.
search_cursor=driver.find_element("xpath",'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[4]')
search_cursor

In [138]:
search_cursor.click()

In [139]:
make=driver.find_elements("xpath",'//div[@class="_2WkVRV"]')
len(make)

40

In [140]:
maker=[]
for i in make:
    maker.append(i.text)
len(maker)

40

In [141]:
maker

['LIZA ANGEL',
 'Singco India',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'Fastrack',
 'Elligator',
 'Singco India',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'SHAAH COLLECTIONS',
 'Ray-Ban',
 'VINCENT CHASE',
 'ROYAL SON',
 'Singco India',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'Elligator',
 'Fastrack',
 'CRYSTAL CART',
 'VINCENT CHASE',
 'Urbanic',
 'WROGN',
 'Rich Club',
 'VINCENT CHASE',
 'PIRASO',
 'VINCENT CHASE',
 'Fastrack',
 'VINCENT CHASE',
 'kingsunglasses',
 'GANSTA',
 'Fastrack',
 'ROZZETTA CRAFT',
 'PHENOMENAL',
 'Fastrack',
 'VINCENT CHASE',
 'ROYAL SON',
 'PIRASO',
 'HAMIW COLLECTION',
 'DEIXELS',
 'ROYAL SON']

In [142]:
outline=driver.find_elements("xpath",'//a[@class="IRpwTa"]')
len(outline)

40

In [143]:
outlines=[]
for i in outline:
    outlines.append(i.text)
len(outlines)

40

In [144]:
outlines

['UV Protection, Riding Glasses, Night Vision Spectacle ...',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'by Lenskart Polarized, UV Protection Rectangular Sungla...',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection Round Sunglasses (55)',
 'UV Protection, Riding Glasses Rectangular, Retro Square...',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Round Sunglasses (Free Size)',
 'Mirrored, UV Protection Aviator Sunglasses (58)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'Polarized Rectangular Sunglasses (60)',
 'Riding Glasses, UV Protection, Others Aviator Sunglasse...',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection Retro Square, Round Sunglasses (54)',
 'Polarized Retro Square Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'Polarized, UV Protection Round Sunglasses (50)',
 'Others Oval Sunglasses (Free Size)',
 'Polarized Round Sunglasses (44)',
 'Polarized Round Sunglasses (48)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection Aviator Sunglasses (58)',
 'by Lenskart Polarized, UV Protection Rectangular Sungla...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (50)',
 'UV Protection, Mirrored Round Sunglasses (Free Size)',
 'UV Protection, Gradient Aviator Sunglasses (57)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection, Riding Glasses Rectangular Sunglasses (F...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection Round Sunglasses (50)',
 'Polarized Retro Square Sunglasses (61)',
 'UV Protection Butterfly Sunglasses (60)',
 'UV Protection Wayfarer, Sports, Shield, Rectangular, Re...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection Retro Square Sunglasses (62)']

In [145]:
rate=driver.find_elements("xpath",'//div[@class="_30jeq3"]')
len(rate)

40

In [146]:
Rates=[]
for i in rate:
    Rates.append(i.text)
len(Rates)

40

In [147]:
Rates

['₹189',
 '₹598',
 '₹749',
 '₹949',
 '₹949',
 '₹379',
 '₹664',
 '₹399',
 '₹449',
 '₹324',
 '₹3,909',
 '₹799',
 '₹664',
 '₹232',
 '₹949',
 '₹949',
 '₹329',
 '₹639',
 '₹429',
 '₹949',
 '₹499',
 '₹599',
 '₹225',
 '₹999',
 '₹345',
 '₹849',
 '₹669',
 '₹649',
 '₹265',
 '₹242',
 '₹759',
 '₹449',
 '₹369',
 '₹679',
 '₹849',
 '₹664',
 '₹405',
 '₹219',
 '₹249',
 '₹854']

In [148]:
slash=driver.find_elements("xpath",'//div[@class="_3Ay6Sb"]')
len(slash)

40

In [149]:
reduction=[]
for i in slash:
    reduction.append(i.text)
len(reduction)

40

In [150]:
reduction

['62% off',
 '80% off',
 '62% off',
 '52% off',
 '5% off',
 '74% off',
 '79% off',
 '80% off',
 '77% off',
 '80% off',
 '30% off',
 '60% off',
 '66% off',
 '84% off',
 '52% off',
 '52% off',
 '83% off',
 '20% off',
 '78% off',
 '52% off',
 '49% off',
 '82% off',
 '54% off',
 '50% off',
 '86% off',
 '57% off',
 '25% off',
 '67% off',
 '84% off',
 '81% off',
 '15% off',
 '79% off',
 '81% off',
 '15% off',
 '57% off',
 '55% off',
 '84% off',
 '89% off',
 '50% off',
 '57% off']

In [151]:
# Data Frame for 3rd page's sunglasses.
sun3=pd.DataFrame()
sun3['Brand Name']=maker
sun3['Product Price']= Rates
sun3['Product Description']=outline 
sun3['Product Discount']=reduction
sun3.head()

,Brand Name,Product Price,Product Description,Product Discount
0,LIZA ANGEL,₹189,<selenium.webdriver.remote.webelement.WebEleme...,62% off
1,Singco India,₹598,<selenium.webdriver.remote.webelement.WebEleme...,80% off
2,VINCENT CHASE,₹749,<selenium.webdriver.remote.webelement.WebEleme...,62% off
3,VINCENT CHASE,₹949,<selenium.webdriver.remote.webelement.WebEleme...,52% off
4,Fastrack,₹949,<selenium.webdriver.remote.webelement.WebEleme...,5% off

In [166]:
# Combining all the three Data Frames.
Sunglass=pd.concat([sun1,sun2,sun3])
Sunglass.head(100)

,Brand Name,Product Price,Product Description,Product Discount
0,VINCENT CHASE,₹949,"Polarized, UV Protection Round Sunglasses (50)",52% off
1,VINCENT CHASE,₹999,"by Lenskart Polarized, UV Protection Round Sun...",50% off
2,Fastrack,₹639,UV Protection Rectangular Sunglasses (Free Size),20% off
3,Elligator,₹315,UV Protection Round Sunglasses (54),87% off
4,SRPM,₹224,UV Protection Wayfarer Sunglasses (50),82% off
...,...,...,...,...
15,VINCENT CHASE,₹949,<selenium.webdriver.remote.webelement.WebEleme...,52% off
16,Elligator,₹329,<selenium.webdriver.remote.webelement.WebEleme...,83% off
17,Fastrack,₹639,<selenium.webdriver.remote.webelement.WebEleme...,20% off
18,CRYSTAL CART,₹429,<selenium.webdriver.remote.webelement.WebEleme...,78% off
19,VINCENT CHASE,₹949,<selenium.webdriver.remote.webelement.WebEleme...,52% off

In [14]:
#Q6: Scrape 100 reviews data from flipkart.com for sneakers.

url=' https://www.flipkart.com/'
driver.get(url)

In [15]:
# Scrapping the Search Bar.
search_tool=driver.find_element("xpath",'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_tool

In [16]:
search_tool.send_keys('sneaker')

In [17]:
# Scrapping search button.
command=driver.find_element("xpath",'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
command

In [18]:
command.click()

In [19]:
# scraped Brand attribute of 1st page.
brand_tags= driver.find_elements("xpath",'//div[@class="_2WkVRV"]')
len(brand_tags)

40

In [20]:
brands=[]
for i in brand_tags:
    brands.append(i.text)
len(brands)

40

In [21]:
brands

['Anugrahappradha',
 'aadi',
 'PUMA',
 'BRUTON',
 'URBANBOX',
 'Magnolia',
 'PUMA',
 'CEPTREE',
 'BIRDE',
 'SFR',
 'Labbin',
 'ASTEROID',
 'HOTSTYLE',
 'aadi',
 'BIRDE',
 'Viv',
 'BRUTON',
 'PUMA',
 'CLYMB',
 'RED CHIEF',
 'D-SNEAKERZ',
 'BIRDE',
 'Kraasa',
 'aadi',
 'corsac',
 'KWIK FIT',
 'ASTEROID',
 'PUMA',
 'BIRDE',
 'Magnolia',
 'Kraasa',
 'Ktiz',
 'KNIGHT WALKERS',
 'SCATCHITE',
 'BRUTON',
 'DR right',
 'ONECENTRE',
 'Shoes Bank',
 'BRUTON',
 'GODIGO']

In [25]:
# scraped prices.
prices=driver.find_elements("xpath",'//div[@class="_30jeq3"]')
len(prices)

40

In [26]:
costly=[]
for i in prices:
    costly.append(i.text)
len(costly)

40

In [27]:
costly

['₹699',
 '₹399',
 '₹2,029',
 '₹269',
 '₹198',
 '₹449',
 '₹2,204',
 '₹499',
 '₹249',
 '₹289',
 '₹499',
 '₹549',
 '₹258',
 '₹319',
 '₹299',
 '₹699',
 '₹299',
 '₹2,036',
 '₹616',
 '₹2,199',
 '₹299',
 '₹335',
 '₹479',
 '₹479',
 '₹499',
 '₹397',
 '₹499',
 '₹2,204',
 '₹299',
 '₹449',
 '₹479',
 '₹499',
 '₹699',
 '₹398',
 '₹199',
 '₹449',
 '₹299',
 '₹298',
 '₹269',
 '₹799']

In [29]:
#Scraped Discount tag.
dist_tag=driver.find_elements("xpath",'//div[@class="_3Ay6Sb"]')
len(dist_tag)

40

In [30]:
offer=[]
for i in dist_tag:
    offer.append(i.text)
len(offer)

40

In [31]:
offer

['76% off',
 '80% off',
 '42% off',
 '79% off',
 '80% off',
 '55% off',
 '37% off',
 '77% off',
 '75% off',
 '71% off',
 '50% off',
 '72% off',
 '74% off',
 '68% off',
 '70% off',
 '46% off',
 '76% off',
 '41% off',
 '58% off',
 '50% off',
 '54% off',
 '66% off',
 '52% off',
 '76% off',
 '66% off',
 '80% off',
 '75% off',
 '37% off',
 '70% off',
 '55% off',
 '52% off',
 '50% off',
 '65% off',
 '60% off',
 '66% off',
 '55% off',
 '50% off',
 '70% off',
 '79% off',
 '20% off']

In [34]:
# Dataframe for 1st 40 sunglasses.
sneaker1=pd.DataFrame()
sneaker1['Brand Name']=brands
sneaker1['Product Price']=costly
sneaker1['Product Discount']=offer
sneaker1

         Brand Name Product Price Product Discount
0   Anugrahappradha          ₹699          76% off
1              aadi          ₹399          80% off
2              PUMA        ₹2,029          42% off
3            BRUTON          ₹269          79% off
4          URBANBOX          ₹198          80% off
5          Magnolia          ₹449          55% off
6              PUMA        ₹2,204          37% off
7           CEPTREE          ₹499          77% off
8             BIRDE          ₹249          75% off
9               SFR          ₹289          71% off
10           Labbin          ₹499          50% off
11         ASTEROID          ₹549          72% off
12         HOTSTYLE          ₹258          74% off
13             aadi          ₹319          68% off
14            BIRDE          ₹299          70% off
15              Viv          ₹699          46% off
16           BRUTON          ₹299          76% off
17             PUMA        ₹2,036          41% off
18            CLYMB          ₹616          58% off
19        RED CHIEF        ₹2,199          50% off
20       D-SNEAKERZ          ₹299          54% off
21            BIRDE          ₹335          66% off
22           Kraasa          ₹479          52% off
23             aadi          ₹479          76% off
24           corsac          ₹499          66% off
25         KWIK FIT          ₹397          80% off
26         ASTEROID          ₹499          75% off
27             PUMA        ₹2,204          37% off
28            BIRDE          ₹299          70% off
29         Magnolia          ₹449          55% off
30           Kraasa          ₹479          52% off
31             Ktiz          ₹499          50% off
32   KNIGHT WALKERS          ₹699          65% off
33        SCATCHITE          ₹398          60% off
34           BRUTON          ₹199          66% off
35         DR right          ₹449          55% off
36        ONECENTRE          ₹299          50% off
37       Shoes Bank          ₹298          70% off
38           BRUTON          ₹269          79% off
39           GODIGO          ₹799          20% off

In [32]:
#Scrapping the 2nd page
command1=driver.find_element("xpath",'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')
command1

In [33]:
command1.click()

In [35]:
# Scrapping the 2nd page's 40 sunglasses brands.
branded= driver.find_elements("xpath",'//div[@class="_2WkVRV"]')
len(branded)

40

In [36]:
costly_brands=[]
for i in branded:
    costly_brands.append(i.text)
len(costly_brands)

40

In [37]:
costly_brands

['aadi',
 'PUMA',
 'Robbie jones',
 'aadi',
 'Rzisbo',
 'PUMA',
 'WHITE WALKERS',
 'Anugrahappradha',
 'Numenzo',
 'PUMA',
 'Airland',
 'CEPTREE',
 'Kzaara',
 'Noztile',
 'AMICO',
 'ASTEROID',
 'LE GREEM',
 'Dizzler',
 'PUMA',
 'Viv',
 'PEXLO',
 'BRUTON',
 'PUMA',
 'Ktiz',
 'luxury fashion',
 'Numenzo',
 'Layasa',
 'DR right',
 'BRUTON',
 'Chevit',
 'PEXLO',
 'RED CHIEF',
 'BIRDE',
 'SPARX',
 'luxury fashion',
 'aadi',
 'India hub',
 'KNIGHT WALKERS',
 'ASTEROID',
 'PUMA']

In [38]:
# Scrapping the next 40 Prices.
rate_tag=driver.find_elements("xpath",'//div[@class="_30jeq3"]')
len(rate_tag)

40

In [39]:
rates=[]
for i in rate_tag:
    rates.append(i.text)
len(rates)

40

In [40]:
rates

['₹299',
 '₹1,889',
 '₹499',
 '₹399',
 '₹464',
 '₹1,889',
 '₹599',
 '₹699',
 '₹450',
 '₹1,714',
 '₹210',
 '₹499',
 '₹259',
 '₹399',
 '₹549',
 '₹549',
 '₹499',
 '₹460',
 '₹1,550',
 '₹699',
 '₹707',
 '₹269',
 '₹1,763',
 '₹499',
 '₹474',
 '₹539',
 '₹499',
 '₹449',
 '₹499',
 '₹649',
 '₹592',
 '₹2,199',
 '₹335',
 '₹715',
 '₹399',
 '₹479',
 '₹399',
 '₹699',
 '₹499',
 '₹2,204']

In [41]:
# Scrapping the next 40 discounts.
premium=driver.find_elements("xpath",'//div[@class="_3Ay6Sb"]')
len(premium)

40

In [44]:
Premiums=[]
for i in premium:
    Premiums.append(i.text)
len(Premiums)

40

In [45]:
Premiums

['70% off',
 '37% off',
 '50% off',
 '80% off',
 '53% off',
 '37% off',
 '50% off',
 '76% off',
 '77% off',
 '51% off',
 '57% off',
 '77% off',
 '74% off',
 '80% off',
 '45% off',
 '72% off',
 '50% off',
 '36% off',
 '53% off',
 '46% off',
 '52% off',
 '79% off',
 '49% off',
 '50% off',
 '76% off',
 '82% off',
 '50% off',
 '55% off',
 '80% off',
 '65% off',
 '75% off',
 '50% off',
 '66% off',
 '15% off',
 '69% off',
 '76% off',
 '80% off',
 '65% off',
 '50% off',
 '37% off']

In [46]:
# Dataframe of 40 sunglasses on 2nd page.
sneaker2=pd.DataFrame()
sneaker2['Brand Name']=costly_brands
sneaker2['Product Price']=rates
sneaker2['Product Discount']=Premiums
sneaker2

         Brand Name Product Price Product Discount
0              aadi          ₹299          70% off
1              PUMA        ₹1,889          37% off
2      Robbie jones          ₹499          50% off
3              aadi          ₹399          80% off
4            Rzisbo          ₹464          53% off
5              PUMA        ₹1,889          37% off
6     WHITE WALKERS          ₹599          50% off
7   Anugrahappradha          ₹699          76% off
8           Numenzo          ₹450          77% off
9              PUMA        ₹1,714          51% off
10          Airland          ₹210          57% off
11          CEPTREE          ₹499          77% off
12           Kzaara          ₹259          74% off
13          Noztile          ₹399          80% off
14            AMICO          ₹549          45% off
15         ASTEROID          ₹549          72% off
16         LE GREEM          ₹499          50% off
17          Dizzler          ₹460          36% off
18             PUMA        ₹1,550          53% off
19              Viv          ₹699          46% off
20            PEXLO          ₹707          52% off
21           BRUTON          ₹269          79% off
22             PUMA        ₹1,763          49% off
23             Ktiz          ₹499          50% off
24   luxury fashion          ₹474          76% off
25          Numenzo          ₹539          82% off
26           Layasa          ₹499          50% off
27         DR right          ₹449          55% off
28           BRUTON          ₹499          80% off
29           Chevit          ₹649          65% off
30            PEXLO          ₹592          75% off
31        RED CHIEF        ₹2,199          50% off
32            BIRDE          ₹335          66% off
33            SPARX          ₹715          15% off
34   luxury fashion          ₹399          69% off
35             aadi          ₹479          76% off
36        India hub          ₹399          80% off
37   KNIGHT WALKERS          ₹699          65% off
38         ASTEROID          ₹499          50% off
39             PUMA        ₹2,204          37% off

In [47]:
# Scrapping data of 3rd page.
command2=driver.find_element("xpath",'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[4]')
command2

In [48]:
command2.click()

In [49]:
# Scrapping price of 40 sunglasses from 3rd page
sell=driver.find_elements("xpath",'//div[@class="_30jeq3"]')
len(sell)

40

In [50]:
sells=[]
for i in sell:
    sells.append(i.text)
len(sells)

40

In [51]:
sells

['₹599',
 '₹699',
 '₹449',
 '₹399',
 '₹1,899',
 '₹474',
 '₹499',
 '₹699',
 '₹499',
 '₹229',
 '₹2,519',
 '₹499',
 '₹499',
 '₹499',
 '₹487',
 '₹549',
 '₹424',
 '₹499',
 '₹648',
 '₹699',
 '₹388',
 '₹599',
 '₹359',
 '₹499',
 '₹2,204',
 '₹499',
 '₹589',
 '₹449',
 '₹319',
 '₹499',
 '₹249',
 '₹2,199',
 '₹179',
 '₹244',
 '₹650',
 '₹2,204',
 '₹341',
 '₹499',
 '₹251',
 '₹495']

In [53]:
# Scrapping Brands of 40 sunglasses from 3rd page
label= driver.find_elements("xpath",'//div[@class="_2WkVRV"]')
len(label)

40

In [54]:
labels=[]
for i in label:
    labels.append(i.text)
len(labels)

40

In [55]:
labels

['WHITE WALKERS',
 'KNIGHT WALKERS',
 'BAUCHHAAR',
 'aadi',
 'PUMA',
 'Edoeviv',
 "K' Footlance",
 'Anugrahappradha',
 'Robbie jones',
 'Stinson',
 'PUMA',
 'CEPTREE',
 'Layasa',
 'corsac',
 'Bata',
 'ASTEROID',
 'Magnolia',
 'LE GREEM',
 'KNIGHT WALKERS',
 'Viv',
 'Eiffel',
 'WHITE WALKERS',
 'Elevarse',
 'Ktiz',
 'PUMA',
 'Robbie jones',
 'Chevit',
 'DR right',
 'aadi',
 'Xtoon',
 'CLYMB',
 'RED CHIEF',
 'URBANBOX',
 'Kzaara',
 'RapidBox',
 'PUMA',
 'DUNKASTON',
 'Robbie jones',
 'Bretton',
 'Zorth']

In [56]:
# Scrapping discounts of 40 sunglasses from 3rd page
price_cut=driver.find_elements("xpath",'//div[@class="_3Ay6Sb"]')
len(price_cut)

40

In [58]:
Price_cut=[]
for i in price_cut:
    Price_cut.append(i.text)
len(Price_cut)

40

In [59]:
Price_cut

['50% off',
 '65% off',
 '55% off',
 '80% off',
 '36% off',
 '40% off',
 '50% off',
 '76% off',
 '50% off',
 '54% off',
 '37% off',
 '77% off',
 '50% off',
 '66% off',
 '2% off',
 '72% off',
 '57% off',
 '50% off',
 '56% off',
 '46% off',
 '61% off',
 '50% off',
 '64% off',
 '50% off',
 '37% off',
 '50% off',
 '67% off',
 '55% off',
 '68% off',
 '50% off',
 '75% off',
 '50% off',
 '64% off',
 '75% off',
 '34% off',
 '37% off',
 '77% off',
 '50% off',
 '74% off',
 '50% off']

In [61]:
# Dataframe of 40 sunglasses on 3rd page.
sneaker3=pd.DataFrame()
sneaker3['Brand Name']=labels
sneaker3['Product Price']=sells
sneaker3['Product Discount']=Price_cut
sneaker3.head(5)

       Brand Name Product Price Product Discount
0   WHITE WALKERS          ₹599          50% off
1  KNIGHT WALKERS          ₹699          65% off
2       BAUCHHAAR          ₹449          55% off
3            aadi          ₹399          80% off
4            PUMA        ₹1,899          36% off

In [63]:
# Combining the three dataframes in one.
Sneakers=pd.concat([sneaker1,sneaker2,sneaker3])
Sneakers.head(100)

         Brand Name Product Price Product Discount
0   Anugrahappradha          ₹699          76% off
1              aadi          ₹399          80% off
2              PUMA        ₹2,029          42% off
3            BRUTON          ₹269          79% off
4          URBANBOX          ₹198          80% off
..              ...           ...              ...
15         ASTEROID          ₹549          72% off
16         Magnolia          ₹424          57% off
17         LE GREEM          ₹499          50% off
18   KNIGHT WALKERS          ₹648          56% off
19              Viv          ₹699          46% off

[100 rows x 3 columns]

In [3]:
#Q8: Go to the link - https://www.amazon.in, Scrape this website.
url='https://www.amazon.in'
driver.get(url)

In [7]:
filter= driver.find_element("xpath",'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
filter

In [8]:
filter.send_keys('laptop')

In [9]:
search_button=driver.find_element("xpath",'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search_button

In [10]:
search_button.click()

In [12]:
filter3=driver.find_element("xpath",'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[14]/span/a/div')
filter3

In [14]:
filter3.click()

In [15]:
title_tag= driver.find_elements("xpath",'//div[@class="a-section a-spacing-none s-padding-right-small s-title-instructions-style"]')
len(title_tag)

24

In [16]:
Titles=[]
for i in title_tag:
    Titles.append(i.text)
len(Titles)

24

In [17]:
Titles

['Samsung Galaxy Book2 Intel 12th Gen core i7 39.6cm (15.6") FHD LED Thin & Light Laptop (16 GB/512 GB SSD/Windows 11/MS Office/Backlit Keyboard/Fingerprint Reader/Silver/1.55Kg), NP750XED-KC2IN',
 'ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) FHD 144Hz, Intel Core i7-11600H 11th Gen, 4GB RTX 3050 Graphics, Gaming Laptop (16GB/512GB SSD/Windows 10/Office 2019/Gray/2.3 Kg), FX566HCB-HN299TS',
 'HP Pavilion 14 12th Gen Intel Core i7 16GB SDRAM/1TB SSD 14 inch(35.6cm) FHD,IPS,Micro-Edge Display/Intel UHD Graphics/B&O/Win 11/Alexa Built-in/Backlit KB/FPR/MSO 2021/Natural Silver, 14-dv2015TU',
 'Lenovo IdeaPad Slim 5 Pro Intel Core i7 11th Gen 14" (35.56cm) 2.2K IPS Thin & Light Laptop (16GB/512GB SSD/Win11/Office 2021/Backlit/3Yr Warranty/3months Game Pass/Storm Grey/1.38Kg), 82L3006YIN',
 'Hp Pavilion X360 11Th Gen Intel Core I7 14 Inches Fhd Multitouch 2In1 Laptop (16Gb Ram/512Gb Ssd/B&O/Windows 11 Home/Fpr/Backlit Kb/Intel Iris Xe Graphics/Pen/Alexa/Ms Office/Silver/1.52Kg)14-Dy1047Tu',
 'ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Iris Plus Graphics/Windows 11/Office 2021/Silver/1.8 kg), X515JA-EJ701WS',
 'LG Gram 17 Intel Evo 11th Gen i7 Thin & Light Laptop 2K+ IPS 16:10 Display [16 GB RAM/ 512 GB SSD/ Windows 11 / Iris Xe Graphics/ Thunderbolt 4/ USC -C x 2 / 1.35 kg, Black/ 3Yr Warranty] 17Z90P',
 'Lenovo ThinkBook 13s Intel 11th Gen Core i7 13.3"(33.78 cm) WQXGA IPS 300 nits 100% sRGB Dolby Vision Thin and Light Laptop (16GB/512GB SSD/Windows 10 Professional/Mineral Grey/1.26 Kg), 20V9A032IH',
 'ASUS Zenbook 14 OLED (2022), 14" (35.56 cms) 2.8K OLED 16:10 90Hz, Intel Core Evo i7-1260P 12th Gen, Thin and Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Blue/1.39 kg), UX3402ZA-KM731WS',
 'Lenovo ThinkBook 15 Intel 11th Gen Core i7 15.6"(39.62 cm)FHD Thin and Light Laptop (16GB/512GB SSD/Windows 11 Home/MS Office H&S 2021/Iris® Xe Graphics/Backlit/Mineral Grey/1.7 Kg) 20VE00W4IH',
 'Hp Pavilion 15 12Th Gen Intel Core I7 16Gb Sdram/1Tb Ssd 15.6 Inches (39.6Cm) Fhd,IPS/Intel Iris Xe Graphics/B&O/Windows 11 Home/Alexa/Backlit Kb/Fpr/Mso 2021/1.75Kg, 15-Eg2039Tu, Natural Silver',
 '(Renewed) Dell Intel Core i7 7th Gen 14.Inch(35.6 cms) (1920 x 1080)FHD TOUCHSCREEN Laptop (32GB RAM/512GB SSD/Windows 10 Pro/MS Office/Intel HD Integrated Graphics/ Black/1.18Kg,Black) Latitude E7480',
 'Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD IPS 400Nits Thin & Light Laptop(16GB/512GB SSD/Windows 11/Office 2021/Iris Xe Graphics/Backlit Kb/Fingerprint Reader/2Yr Warranty/Black/878gms),4ZR1F38024',
 'Lenovo ThinkPad E14 Intel Core i7 11th Gen 14-inch (35.56cm) FHD TN Antiglare Thin and Light Laptop (16GB RAM/512GB SSD/Windows 11 Home/Microsoft Office H&S 2021/FPR/Black/1.59 kg), 20TAS1B400',
 '(Renewed) Dell Intel Core i7 7th Gen 14.Inch(35.6 cms) (1920 x 1080)FHD TOUCHSCREEN Laptop (32GB RAM /2TB HDD/Windows 10 Pro/MS Office/Intel HD Integrated Graphics/ Black/1.18Kg,Black) Latitude E7480',
 '(Renewed) Dell Latitude E7470 Intel Core i7 6th Gen 14 inches Laptop /16 GB RAM/512 GB SSD/Windows 10 Pro/MS Office/HD Display/Integrated Graphics, 1.9 kg',
 'Fujitsu UH-X 11th Gen Intel Core i7 13.3" FHD IPS 400Nits 2-in1 Touch Convertible Laptop (16GB/1TB SSD/Windows 11/MS Office 2021/Iris Xe Graphics/2 Yr Warranty/Backlit Kb/Black/0.997 kg, 4ZR1F38027)',
 "(Renewed) DELL LATITUDE 7490 (CORE I7 8TH GEN/8GB/512GB SSD/WEBCAM/14'' TOUCH/WIN-10 PRO)",
 '(Renewed) HP Omen Core i7 9th Gen 15.6-inch FHD Gaming Laptop (16GB/1TB HDD + 512GB SSD/Windows 10/NVIDIA GTX 1650 4GB Graphics/Shadow Black), 15-dh0135TX',
 'Infinix INBook X1 Pro Core i7 10th Gen - (16 GB/512 GB SSD/Windows 11 Home) XL12 Thin and Light Laptop (14 Inch, Noble Red, 1.48 kg)',
 'ASUS Vivobook S15 OLED (2022), 15.6" (39.62 cms) FHD OLED, Intel Core Evo i7-12700H 12th Gen, Thin and Light Laptop (16GB/512GB SSD/Iris Xe Graphics/Windows 11/Office 2021/Grey/1.8 kg), K3502ZA-L701WS',
 '(Renewed) Dell Latitude Laptop E7250 Intel Core i7 - 5600u Processor, 8 GB Ram & 256 GB SSD, 12.5 Inches Ultralight Notebook Computer (1.35 Kg)',
 '(Renewed) ASUS VivoBook 14 (2021), 14-inch (35.56 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Integrated Graphics/Office 2021/Windows 11/Silver/1.6 Kg), X415JA-EK701WS',
 '(Renewed) Dell Latitude e5480 Intel Core i7 6th Gen 14 inches Laptop /8 GB RAM/256 GB SSD/Windows 10 Pro/MS Office/HD Display/Integrated Graphics, 1.8 kg']

In [28]:
price=driver.find_elements("xpath",'//span[@class="a-price-whole"]')
len(price)

24

In [29]:
prices=[]
for i in price:
    prices.append(i.text)
len(prices)

24

In [30]:
prices

['79,990',
 '89,990',
 '86,990',
 '75,203',
 '83,603',
 '57,890',
 '95,999',
 '89,990',
 '1,04,990',
 '86,990',
 '87,990',
 '55,895',
 '81,590',
 '94,990',
 '56,895',
 '39,463',
 '94,090',
 '38,190',
 '60,990',
 '53,999',
 '94,990',
 '31,879',
 '51,490',
 '34,880']

In [32]:
laptop=pd.DataFrame()
laptop['Brand Name']= Titles
laptop['Price']=prices
laptop.head(10)

                                          Brand Name     Price
0  Samsung Galaxy Book2 Intel 12th Gen core i7 39...    79,990
1  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...    89,990
2  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...    86,990
3  Lenovo IdeaPad Slim 5 Pro Intel Core i7 11th G...    75,203
4  Hp Pavilion X360 11Th Gen Intel Core I7 14 Inc...    83,603
5  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...    57,890
6  LG Gram 17 Intel Evo 11th Gen i7 Thin & Light ...    95,999
7  Lenovo ThinkBook 13s Intel 11th Gen Core i7 13...    89,990
8  ASUS Zenbook 14 OLED (2022), 14" (35.56 cms) 2...  1,04,990
9  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....    86,990

In [3]:
#Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location.

url='https://www.ambitionbox.com/'
driver.get(url)

In [10]:
search_bar=driver.find_element("xpath",'/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input')
search_bar

In [11]:
search_bar.send_keys('Data Scientists')

In [12]:
search_btn1=driver.find_element("xpath",'/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button')
search_btn1

In [13]:
search_btn1.click()

In [19]:
title_tag=driver.find_elements("xpath",'//p[@class="company body-medium"]')
len(title_tag)

10

In [20]:
Titles=[]
for i in title_tag:
    Titles.append(i.text)
len(Titles)

10

In [21]:
Titles

['Optum Global Solutions (India) Private Limited',
 'Deloitte',
 'UNBXD Software Pvt Ltd',
 'Reval India Pvt. Ltd.',
 'Multi Recruit',
 'ION',
 'EinNel Technologies',
 'Cogmac Technologies',
 'Nibha Infotech Private Limited',
 'Zdaly']

In [22]:
days=driver.find_elements("xpath",'//span[@class="body-small-l"]')
len(days)

20

In [23]:
Days=[]
for i in days:
    Days.append(i.text)
len(Days)

20

In [24]:
Days

['6d ago',
 'via naukri.com',
 '11d ago',
 'via naukri.com',
 '2mon ago',
 'via naukri.com',
 '25d ago',
 'via naukri.com',
 '10mon ago',
 'via naukri.com',
 '2mon ago',
 'via naukri.com',
 '11mon ago',
 'via naukri.com',
 '2y ago',
 'via naukri.com',
 '1mon ago',
 'via naukri.com',
 '3y ago',
 'via naukri.com']

In [33]:
Day=Days[0::2]

In [39]:
len(Day)

10

In [35]:
rate=driver.find_elements("xpath",'//span[@class="body-small"]')
len(rate)

9

In [36]:
rates=[]
for i in rate:
    rates.append(i.text)
len(rates)

9

In [37]:
rates

['4.1', '4.1', '4.2', '5.0', '4.5', '3.6', '3.6', '5.0', '2.0']

In [40]:
import numpy as np
Job=pd.DataFrame()
Job['Company Name']=Titles
Job['Days']=Day
Job['Company Rating']=pd.Series(rates)
Job

                                     Company Name       Days Company Rating
0  Optum Global Solutions (India) Private Limited     6d ago            4.1
1                                        Deloitte    11d ago            4.1
2                          UNBXD Software Pvt Ltd   2mon ago            4.2
3                           Reval India Pvt. Ltd.    25d ago            5.0
4                                   Multi Recruit  10mon ago            4.5
5                                             ION   2mon ago            3.6
6                             EinNel Technologies  11mon ago            3.6
7                             Cogmac Technologies     2y ago            5.0
8                  Nibha Infotech Private Limited   1mon ago            2.0
9                                           Zdaly     3y ago            NaN

In [15]:
#Q10: Write a python program to scrape the salary data for Data Scientist designation.

url='http://www.ambitionbox.com/'    
driver.get(url)

In [18]:
search_btn=driver.find_element("xpath",'/html/body/div/div/div/div[2]/div/div/div/div[1]/span/input')
search_btn

In [19]:
Exp_tag=driver.find_elements("xpath",'//div[@class="sbold-list-header"]')
len(Exp_tag)

10

In [20]:
Titles=[]
for i in Exp_tag:
    Titles.append(i.text)

len(Titles)

10

In [21]:
Titles

['3 yrs experience (based on 12 salaries)',
 '3-4 yrs experience (based on 33 salaries)',
 '2 yrs experience (based on 15 salaries)',
 '3-4 yrs experience (based on 32 salaries)',
 '3-4 yrs experience (based on 21 salaries)',
 '2-4 yrs experience (based on 89 salaries)',
 '2-4 yrs experience (based on 51 salaries)',
 '2-4 yrs experience (based on 57 salaries)',
 '3-4 yrs experience (based on 21 salaries)',
 '2-4 yrs experience (based on 69 salaries)']

In [22]:
min_sal=driver.find_elements("xpath",'//div[@class="value body-medium"]')
len(min_sal)

20

In [23]:
Min_sal=[]
for i in min_sal:
    Min_sal.append(i.text)
len(Min_sal)

20

In [24]:
Min_sal

['₹ 25.0L',
 '₹ 36.0L',
 '₹ 15.0L',
 '₹ 26.2L',
 '₹ 11.0L',
 '₹ 22.0L',
 '₹ 11.0L',
 '₹ 22.5L',
 '₹ 5.6L',
 '₹ 26.2L',
 '₹ 10.0L',
 '₹ 23.0L',
 '₹ 9.0L',
 '₹ 20.0L',
 '₹ 8.3L',
 '₹ 21.1L',
 '₹ 7.6L',
 '₹ 21.0L',
 '₹ 7.0L',
 '₹ 25.0L']

In [25]:
sal=Min_sal[0::2]
sal

['₹ 25.0L',
 '₹ 15.0L',
 '₹ 11.0L',
 '₹ 11.0L',
 '₹ 5.6L',
 '₹ 10.0L',
 '₹ 9.0L',
 '₹ 8.3L',
 '₹ 7.6L',
 '₹ 7.0L']

In [26]:
max_sal=driver.find_elements("xpath",'//div[@class="value body-medium"]')
len(max_sal)

20

In [27]:
Max_sal=[]
for i in max_sal:
    Max_sal.append(i.text)
len(Max_sal)

20

In [28]:
maximun_sal=Max_sal[1::2]
maximun_sal

['₹ 36.0L',
 '₹ 26.2L',
 '₹ 22.0L',
 '₹ 22.5L',
 '₹ 26.2L',
 '₹ 23.0L',
 '₹ 20.0L',
 '₹ 21.1L',
 '₹ 21.0L',
 '₹ 25.0L']

In [29]:
avg_sal=driver.find_elements("xpath",'//p[@class="averageCtc"]')
len(avg_sal)

10

In [30]:
Avg_sal=[]
for i in avg_sal:
    Avg_sal.append(i.text)
Avg_sal

['₹ 30.6L',
 '₹ 20.8L',
 '₹ 16.7L',
 '₹ 15.9L',
 '₹ 15.7L',
 '₹ 15.5L',
 '₹ 14.8L',
 '₹ 14.0L',
 '₹ 13.2L',
 '₹ 12.8L']

In [31]:
company=driver.find_elements("xpath",'//div[@class="company-info"]')
len(company)

25

In [32]:
company_name=[]
for i in company:
    company_name.append(i.text)
company_name

['Walmart\nData Scientist Salary\n3 yrs experience (based on 12 salaries)',
 'Ab Inbev\nData Scientist Salary\n3-4 yrs experience (based on 33 salaries)',
 'ZS\nData Scientist Salary\n2 yrs experience (based on 15 salaries)',
 'Optum\nData Scientist Salary\n3-4 yrs experience (based on 32 salaries)',
 'Reliance Jio\nData Scientist Salary\n3-4 yrs experience (based on 21 salaries)',
 'Fractal Analytics\nData Scientist Salary\n2-4 yrs experience (based on 89 salaries)',
 'Tiger Analytics\nData Scientist Salary\n2-4 yrs experience (based on 51 salaries)',
 'UnitedHealth\nData Scientist Salary\n2-4 yrs experience (based on 57 salaries)',
 'EXL Service\nData Scientist Salary\n3-4 yrs experience (based on 21 salaries)',
 'Deloitte\nData Scientist Salary\n2-4 yrs experience (based on 69 salaries)',
 'TCS\n3.1\nSalary Rating \n42k reviews',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [18]:
#Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.

url='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART'
driver.get(url)

In [3]:
import requests
from bs4 import BeautifulSoup

In [10]:
Reviews=[]
Ratings=[]
page_num=input("Enter number of pages:")
for i in range(1,int(page_num)+1):
    url='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART'+str(i)
    req=requests.get(url)
    content=BeautifulSoup(req.content,'html.parser')
    review=content.find_all('p',{'class':"_2-N8zT"})
    rates=content.find_all('div',{'class':"_3LWZlK _1BLPMq"})
    print("phone in page",str(i))
    print(len(review))
    
    for i in review:
        Reviews.append(i.text)
    for i in rates:
        Ratings.append(i.text)
    print(Reviews)
    print(Ratings)

Enter number of pages:10
phone in page 1
10
['Simply awesome', 'Perfect product!', 'Best in the market!', 'Highly recommended', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Good choice', 'Highly recommended']
['5', '5', '5', '5', '5', '5', '5', '5', '4', '5']
phone in page 2
10
['Simply awesome', 'Perfect product!', 'Best in the market!', 'Highly recommended', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Good choice', 'Highly recommended', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Highly recommended', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Good choice', 'Highly recommended']
['5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5']
phone in page 3
10
['Simply awesome', 'Perfect product!', 'Best in the market!', 'Highly recommended', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Good choice', 'Highly recommended', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Highly recommended', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Good choice', 'Highly recommended', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Highly recommended', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Good choice', 'Highly recommended']
['5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5']
phone in page 4
10
['Simply awesome', 'Perfect product!', 'Best in the market!', 'Highly recommended', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Good choice', 'Highly recommended', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Highly recommended', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Good choice', 'Highly recommended', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Highly recommended', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Good choice', 'Highly recommended', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Highly recommended', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Good choice', 'Highly recommended']
['5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5']
phone in page 5
10
['Simply awesome', 'Perfect product!', 'Best in the market!', 'Highly recommended', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Good choice', 'Highly recommended', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Highly recommended', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Good choice', 'Highly recommended', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Highly recommended', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Good choice', 'Highly recommended', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Highly recommended', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Good choice', 'Highly recommended', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Highly recommended', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Good choice', 'Highly recommended']
['5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5']
phone in page 6
10
['Simply awesome', 'Perfect product!', 'Best in the market!', 'Highly recommended', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Good choice', 'Highly recommended', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Highly recommended', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Good choice', 'Highly recommended', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Highly recommended', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Good choice', 'Highly recommended', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Highly recommended', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Good choice', 'Highly recommended', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Highly recommended', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Good choice', 'Highly recommended', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Highly recommended', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Good choice', 'Highly recommended']
['5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5']
phone in page 7
10
['Simply awesome', 'Perfect product!', 'Best in the market!', 'Highly recommended', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Good choice', 'Highly recommended', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Highly recommended', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Good choice', 'Highly recommended', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Highly recommended', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Good choice', 'Highly recommended', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Highly recommended', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Good choice', 'Highly recommended', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Highly recommended', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Good choice', 'Highly recommended', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Highly recommended', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Good choice', 'Highly recommended', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Highly recommended', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Good choice', 'Highly recommended']
['5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5']
phone in page 8
10
['Simply awesome', 'Perfect product!', 'Best in the market!', 'Highly recommended', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Good choice', 'Highly recommended', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Highly recommended', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Good choice', 'Highly recommended', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Highly recommended', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Good choice', 'Highly recommended', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Highly recommended', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Good choice', 'Highly recommended', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Highly recommended', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Good choice', 'Highly recommended', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Highly recommended', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Good choice', 'Highly recommended', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Highly recommended', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Good choice', 'Highly recommended', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Highly recommended', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Good choice', 'Highly recommended']
['5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5']
phone in page 9
10
['Simply awesome', 'Perfect product!', 'Best in the market!', 'Highly recommended', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Good choice', 'Highly recommended', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Highly recommended', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Good choice', 'Highly recommended', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Highly recommended', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Good choice', 'Highly recommended', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Highly recommended', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Good choice', 'Highly recommended', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Highly recommended', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Good choice', 'Highly recommended', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Highly recommended', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Good choice', 'Highly recommended', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Highly recommended', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Good choice', 'Highly recommended', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Highly recommended', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Good choice', 'Highly recommended', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Highly recommended', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Good choice', 'Highly recommended']
['5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5']
phone in page 10
10
['Simply awesome', 'Perfect product!', 'Best in the market!', 'Highly recommended', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Good choice', 'Highly recommended', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Highly recommended', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Good choice', 'Highly recommended', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Highly recommended', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Good choice', 'Highly recommended', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Highly recommended', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Good choice', 'Highly recommended', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Highly recommended', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Good choice', 'Highly recommended', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Highly recommended', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Good choice', 'Highly recommended', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Highly recommended', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Good choice', 'Highly recommended', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Highly recommended', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Good choice', 'Highly recommended', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Highly recommended', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Good choice', 'Highly recommended', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Highly recommended', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Good choice', 'Highly recommended']
['5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5']

In [12]:
Phone=pd.DataFrame()
Phone['Customer Review']=Reviews
Phone['Customer Rating']=Ratings
Phone

        Customer Review Customer Rating
0        Simply awesome               5
1      Perfect product!               5
2   Best in the market!               5
3    Highly recommended               5
4     Worth every penny               5
..                  ...             ...
95            Fabulous!               5
96        Great product               5
97    Worth every penny               5
98          Good choice               4
99   Highly recommended               5

[100 rows x 2 columns]