In [1]:
# Importing necessary libraries for web scrapping flight price data.

import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import warnings
warnings.filterwarnings('ignore')

In [140]:
# Connecting to the webdriver.

driver = webdriver.Chrome(r'C:\Users\91749\Downloads\chromedriver_win32\chromedriver.exe')

In [3]:
# Getting the desired url.
url='https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=21%2F09%2F2022&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1663597293098&viewName=normal'
driver.get(url)

# Scrapping data for Mumbai and Delhi Loacation.

In [4]:
airline=driver.find_elements("xpath",'//span[@class="i-b text ellipsis"]')
len(airline)

158

In [5]:
Airline=[]
for i in airline:
    Airline.append(i.text)
Airline

['Go First',
 'Go First',
 'Go First',
 'SpiceJet',
 'Go First',
 'SpiceJet',
 'Go First',
 'SpiceJet',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'Vistara',
 'Air India',
 'Vistara',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Vistara',
 'Air India',
 'Air India',
 'Air India',
 'Vistara',
 'SpiceJet',
 'IndiGo',
 'Air India',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'Vistara',
 'Vistara',
 'IndiGo',
 'Air India',
 'Go First',
 'Vistara',
 'Vistara',
 'Vistara',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'Air India',
 'Vistara',
 'IndiGo',
 'Air Asia',
 'Go First',
 'Air Asia',
 'SpiceJet',
 'SpiceJet',
 'SpiceJet',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'Air Asia',
 'Air Asia',
 'Air Asia',
 'Go First',
 'SpiceJet',
 'SpiceJet',
 'SpiceJet',
 'SpiceJet',
 'SpiceJet',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'Vistara',
 'Vistara',
 'IndiGo',
 'IndiGo',
 'Go First',
 'IndiGo',
 'Go First',
 'IndiGo',
 'IndiGo',
 'Air India',
 'Air India',
 'Air India',
 'Vistara',
 'Vistara',
 'IndiGo',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Vistara',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'IndiGo',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Go First',
 'IndiGo',
 'Air India',
 'Air India',
 'Air India',
 'Vistara',
 'Vistara',
 'Air India',
 'Go First',
 'Go First',
 'Go First',
 'Go First',
 'Vistara',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Vistara',
 'IndiGo',
 'Vistara',
 'Air India',
 'Air India',
 'IndiGo',
 'IndiGo',
 'Vistara',
 'Vistara',
 'IndiGo',
 'Vistara',
 'Vistara',
 'SpiceJet',
 'Go First',
 'Air Asia',
 'IndiGo',
 'Air Asia',
 'Vistara',
 'Air India',
 'Go First',
 'SpiceJet']

In [6]:
flight_no=driver.find_elements("xpath",'//p[@class="normal fs-11 font-lightestgrey no-wrap fl-no"]')
len(flight_no)

158

In [7]:
Flight_no=[]
for i in flight_no:
    Flight_no.append(i.text)
Flight_no

['G8-2501',
 'G8-334',
 'G8-336',
 'SG-8709',
 'G8-330',
 'SG-8701',
 'G8-323',
 'SG-711',
 '6E-5306',
 '6E-2138',
 '6E-5023',
 '6E-5342',
 '6E-5318',
 '6E-2519',
 '6E-2009',
 '6E-2112',
 '6E-2176',
 '6E-864',
 '6E-2017',
 '6E-5328',
 'UK-975',
 'AI-887',
 'UK-933',
 'AI-805',
 'AI-814',
 'AI-678',
 'AI-863',
 'AI-441',
 'AI-624',
 'UK-945',
 'AI-605',
 'AI-865',
 'AI-636',
 'UK-929/956',
 'SG-8169',
 '6E-6814',
 'AI-665',
 '6E-153/6794',
 '6E-6939/6794',
 '6E-2114',
 'UK-951',
 'UK-941',
 '6E-153/605',
 'AI-443/400',
 'G8-717/413',
 'UK-955',
 'UK-929/918',
 'UK-969/918',
 '6E-2141/5302',
 '6E-2141/803',
 '6E-2175/577',
 'AI-471/644',
 'UK-927',
 '6E-2033/605',
 'I5-745/338',
 'G8-2511/352',
 'I5-744/632',
 'SG-272/945',
 'SG-8963/945',
 'SG-8171/487',
 '6E-607/605',
 '6E-2033/6004',
 '6E-607/6004',
 'I5-798/472',
 'I5-548/338',
 'I5-552/472',
 'G8-101/519',
 'SG-957/452',
 'SG-8207/612',
 'SG-8171/452',
 'SG-8389/392',
 'SG-957/454',
 '6E-2168/6598',
 '6E-2077/6222',
 '6E-5042/5207',
 'UK-637/652',
 'UK-706/652',
 '6E-7403/577',
 '6E-212/6031',
 'G8-422/510',
 '6E-698/5317',
 'G8-713/459',
 '6E-786/5274',
 '6E-6373/6425',
 'AI-537/574',
 'AI-429/574',
 'AI-439/574',
 'UK-995',
 'UK-993',
 '6E-2066/6253',
 'AI-504/640',
 'AI-807/640',
 'AI-815/640',
 'AI-803/640',
 'UK-627/614',
 'AI-542/618',
 'AI-560/618',
 'AI-839/616',
 'AI-542/698',
 'AI-560/698',
 'AI-542/616',
 'AI-560/616',
 '6E-2008/829',
 'AI-403/656',
 'AI-475/646',
 'AI-540/569',
 'AI-540/571',
 'AI-537/569',
 'AI-537/571',
 'AI-540/672',
 'AI-429/569',
 'AI-429/571',
 'AI-504/604',
 'AI-807/604',
 'AI-815/604',
 'AI-803/604',
 'AI-544/698',
 'AI-544/616',
 'AI-883/684',
 'G8-717/537',
 '6E-786/6571',
 'AI-415/732',
 'AI-407/732',
 'AI-839/618',
 'UK-929/936',
 'UK-969/936',
 'AI-406/696',
 'G8-213/287',
 'G8-190/386',
 'G8-191/287',
 'G8-190/287',
 'UK-643/648',
 'AI-544/618',
 'AI-839/698',
 'AI-815/610',
 'AI-807/642',
 'AI-815/642',
 'UK-959/918',
 '6E-6261',
 'UK-611/648',
 'AI-453/650',
 'AI-479/650',
 '6E-2129',
 '6E-5018/6413',
 'UK-985',
 'UK-977',
 '6E-2476/6259',
 'UK-969/956',
 'UK-959/956',
 'SG-2962/3002',
 'G8-119/395',
 'I5-745/472',
 '6E-6022/6292',
 'I5-740/1782',
 'UK-963',
 'AI-502/610',
 'G8-286/2606',
 'SG-3755/2902']

In [8]:
source=driver.find_elements('xpath','//p[@class="fs-10 font-lightgrey no-wrap city ellipsis"]')
len(source)

316

In [9]:
sources=[]
for i in source:
    sources.append(i.text)
sources

['New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai',
 'New Delhi',
 'Mumbai']

In [10]:
list1 = [sources[i] for i in range(len(sources)) if i % 2 != 0]

In [11]:
len(list1)

158

In [12]:
list1

['Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai']

In [13]:
list2=sources[::2]

In [14]:
len(list2)

158

In [15]:
list2

['New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi']

In [16]:
duration_tag=driver.find_elements("xpath",'//p[@class="fs-12 bold du mb-2"]')
len(duration_tag)

158

In [17]:
duration=[]
for i in duration_tag:
    duration.append(i.text)
duration

['2h 10m',
 '2h 10m',
 '2h 10m',
 '2h 10m',
 '2h 10m',
 '2h 15m',
 '2h 15m',
 '2h 15m',
 '1h 55m',
 '2h 00m',
 '2h 05m',
 '2h 05m',
 '2h 05m',
 '2h 05m',
 '2h 10m',
 '2h 10m',
 '2h 10m',
 '2h 10m',
 '2h 15m',
 '2h 25m',
 '2h 00m',
 '2h 05m',
 '2h 10m',
 '2h 10m',
 '2h 10m',
 '2h 15m',
 '2h 15m',
 '2h 15m',
 '2h 15m',
 '2h 20m',
 '2h 20m',
 '2h 35m',
 '3h 40m',
 '25h 55m',
 '2h 15m',
 '2h 10m',
 '2h 10m',
 '5h 05m',
 '7h 20m',
 '2h 15m',
 '2h 10m',
 '2h 10m',
 '9h 55m',
 '4h 40m',
 '6h 50m',
 '2h 20m',
 '8h 55m',
 '12h 05m',
 '5h 10m',
 '6h 05m',
 '7h 25m',
 '4h 50m',
 '2h 05m',
 '5h 15m',
 '5h 20m',
 '6h 00m',
 '6h 05m',
 '6h 20m',
 '6h 45m',
 '6h 45m',
 '7h 00m',
 '7h 45m',
 '9h 30m',
 '10h 55m',
 '11h 00m',
 '13h 05m',
 '14h 00m',
 '14h 05m',
 '15h 10m',
 '17h 10m',
 '18h 45m',
 '23h 45m',
 '4h 20m',
 '5h 15m',
 '7h 10m',
 '5h 10m',
 '8h 40m',
 '8h 35m',
 '8h 50m',
 '12h 45m',
 '10h 05m',
 '14h 00m',
 '10h 40m',
 '4h 50m',
 '7h 25m',
 '13h 55m',
 '17h 45m',
 '2h 15m',
 '2h 15m',
 '9h 20m',
 '11h 20m',
 '15h 20m',
 '17h 05m',
 '26h 25m',
 '26h 40m',
 '5h 15m',
 '7h 50m',
 '12h 20m',
 '14h 05m',
 '16h 40m',
 '24h 05m',
 '26h 40m',
 '6h 50m',
 '6h 25m',
 '24h 40m',
 '11h 25m',
 '13h 35m',
 '15h 50m',
 '18h 00m',
 '20h 30m',
 '22h 20m',
 '24h 30m',
 '13h 20m',
 '17h 20m',
 '19h 05m',
 '28h 25m',
 '7h 00m',
 '17h 00m',
 '10h 05m',
 '4h 25m',
 '8h 15m',
 '24h 25m',
 '27h 25m',
 '17h 30m',
 '12h 20m',
 '15h 30m',
 '5h 25m',
 '6h 00m',
 '6h 05m',
 '8h 40m',
 '12h 50m',
 '4h 50m',
 '22h 10m',
 '26h 20m',
 '5h 35m',
 '6h 00m',
 '7h 45m',
 '23h 45m',
 '2h 10m',
 '8h 40m',
 '6h 35m',
 '14h 20m',
 '2h 20m',
 '10h 15m',
 '2h 10m',
 '2h 15m',
 '6h 25m',
 '5h 05m',
 '16h 45m',
 '4h 40m',
 '13h 00m',
 '10h 45m',
 '5h 40m',
 '13h 10m',
 '2h 20m',
 '7h 35m',
 '7h 25m',
 '24h 50m']

In [18]:
arr_t=driver.find_elements("xpath",'//div[@class="fs-15 bold time"]')
len(arr_t)

158

In [19]:
Arr_t=[]
for i in arr_t:
    Arr_t.append(i.text)
Arr_t

['02:40',
 '08:15',
 '15:45',
 '19:00',
 '20:50',
 '07:20',
 '18:20',
 '21:40',
 '15:25',
 '11:55',
 '06:30',
 '10:45',
 '17:00',
 '23:35',
 '02:00',
 '05:30',
 '14:10',
 '16:15',
 '18:10',
 '09:35',
 '05:55',
 '07:00',
 '15:30',
 '20:00',
 '22:30',
 '09:00',
 '14:00',
 '17:55',
 '19:00',
 '11:40',
 '21:15',
 '10:00',
 '14:30',
 '21:20',
 '19:45',
 '07:20',
 '08:00',
 '19:35',
 '17:20',
 '21:55',
 '14:20',
 '16:55',
 '19:35',
 '05:20',
 '16:45',
 '17:45',
 '21:20',
 '18:10',
 '13:35',
 '13:35',
 '08:30',
 '13:15',
 '09:30',
 '00:15',
 '13:00',
 '11:00',
 '08:00',
 '09:50',
 '09:25',
 '12:05',
 '22:30',
 '00:15',
 '22:30',
 '12:50',
 '07:20',
 '10:40',
 '05:45',
 '15:10',
 '08:45',
 '12:05',
 '18:55',
 '15:10',
 '17:50',
 '05:20',
 '10:15',
 '17:10',
 '13:40',
 '07:20',
 '13:00',
 '18:05',
 '21:05',
 '20:20',
 '05:05',
 '06:30',
 '16:15',
 '09:45',
 '05:55',
 '10:20',
 '12:45',
 '15:20',
 '21:15',
 '17:15',
 '15:30',
 '06:10',
 '13:20',
 '09:45',
 '07:10',
 '21:30',
 '09:45',
 '07:10',
 '09:45',
 '07:10',
 '06:00',
 '12:50',
 '12:55',
 '20:40',
 '20:40',
 '16:15',
 '16:15',
 '20:40',
 '09:45',
 '09:45',
 '21:15',
 '17:15',
 '15:30',
 '06:10',
 '16:50',
 '16:50',
 '22:00',
 '16:45',
 '05:05',
 '16:45',
 '13:45',
 '21:30',
 '21:20',
 '18:10',
 '10:15',
 '12:10',
 '05:20',
 '09:30',
 '05:20',
 '14:10',
 '16:50',
 '21:30',
 '15:30',
 '17:15',
 '15:30',
 '06:30',
 '19:45',
 '10:20',
 '05:00',
 '21:15',
 '08:00',
 '20:55',
 '19:45',
 '19:00',
 '07:20',
 '18:10',
 '06:30',
 '06:15',
 '20:45',
 '13:00',
 '11:15',
 '08:10',
 '08:50',
 '13:30',
 '11:15',
 '17:35']

In [20]:
dep_t=driver.find_elements("xpath",'//p[@class="bold fs-15 mb-2 pr time"]')
len(dep_t)

158

In [21]:
Dep_t=[]
for i in dep_t:
    Dep_t.append(i.text)
Dep_t

['04:50',
 '10:25',
 '17:55',
 '21:10',
 '23:00',
 '09:35',
 '20:35',
 '23:55',
 '17:20',
 '13:55',
 '08:35',
 '12:50',
 '19:05',
 '01:40\n+ 1 day',
 '04:10',
 '07:40',
 '16:20',
 '18:25',
 '20:25',
 '12:00',
 '07:55',
 '09:05',
 '17:40',
 '22:10',
 '00:40\n+ 1 day',
 '11:15',
 '16:15',
 '20:10',
 '21:15',
 '14:00',
 '23:35',
 '12:35',
 '18:10',
 '23:15\n+ 1 day',
 '22:00',
 '09:30',
 '10:10',
 '00:40\n+ 1 day',
 '00:40\n+ 1 day',
 '00:10\n+ 1 day',
 '16:30',
 '19:05',
 '05:30\n+ 1 day',
 '10:00',
 '23:35',
 '20:05',
 '06:15\n+ 1 day',
 '06:15\n+ 1 day',
 '18:45',
 '19:40',
 '15:55',
 '18:05',
 '11:35',
 '05:30',
 '18:20',
 '17:00',
 '14:05',
 '16:10',
 '16:10',
 '18:50',
 '05:30\n+ 1 day',
 '08:00',
 '08:00\n+ 1 day',
 '23:45',
 '18:20',
 '23:45',
 '19:45',
 '05:15\n+ 1 day',
 '23:55',
 '05:15\n+ 1 day',
 '13:40\n+ 1 day',
 '14:55\n+ 1 day',
 '22:10',
 '10:35',
 '17:25',
 '22:20',
 '22:20',
 '15:55',
 '21:50',
 '06:50\n+ 1 day',
 '07:10\n+ 1 day',
 '10:20\n+ 1 day',
 '15:45',
 '11:20',
 '23:40',
 '23:40',
 '23:40',
 '12:35',
 '15:00',
 '00:40\n+ 1 day',
 '08:35\n+ 1 day',
 '08:35\n+ 1 day',
 '08:35\n+ 1 day',
 '08:35\n+ 1 day',
 '16:00\n+ 1 day',
 '15:00',
 '15:00',
 '09:50\n+ 1 day',
 '23:50',
 '23:50',
 '09:50\n+ 1 day',
 '09:50\n+ 1 day',
 '12:50',
 '19:15',
 '13:35\n+ 1 day',
 '08:05\n+ 1 day',
 '10:15\n+ 1 day',
 '08:05\n+ 1 day',
 '10:15\n+ 1 day',
 '17:10\n+ 1 day',
 '08:05\n+ 1 day',
 '10:15\n+ 1 day',
 '10:35\n+ 1 day',
 '10:35\n+ 1 day',
 '10:35\n+ 1 day',
 '10:35\n+ 1 day',
 '23:50',
 '09:50\n+ 1 day',
 '08:05\n+ 1 day',
 '21:10',
 '13:20',
 '17:10\n+ 1 day',
 '17:10\n+ 1 day',
 '15:00\n+ 1 day',
 '09:40\n+ 1 day',
 '09:40\n+ 1 day',
 '15:40',
 '18:10',
 '11:25',
 '18:10',
 '18:10',
 '19:00',
 '15:00\n+ 1 day',
 '23:50\n+ 1 day',
 '21:05',
 '23:15',
 '23:15',
 '06:15\n+ 1 day',
 '21:55',
 '19:00',
 '11:35',
 '11:35\n+ 1 day',
 '10:20',
 '07:10\n+ 1 day',
 '21:55',
 '21:15',
 '13:45',
 '23:15',
 '23:15',
 '10:55',
 '09:45\n+ 1 day',
 '23:45',
 '16:55',
 '21:20',
 '11:10',
 '21:05',
 '18:40',
 '18:25\n+ 1 day']

In [22]:
total_t=driver.find_elements("xpath",'//p[@class="fs-12 bold du mb-2"]')
len(total_t)

158

In [23]:
Total_t=[]
for i in total_t:
    Total_t.append(i.text)
Total_t

['2h 10m',
 '2h 10m',
 '2h 10m',
 '2h 10m',
 '2h 10m',
 '2h 15m',
 '2h 15m',
 '2h 15m',
 '1h 55m',
 '2h 00m',
 '2h 05m',
 '2h 05m',
 '2h 05m',
 '2h 05m',
 '2h 10m',
 '2h 10m',
 '2h 10m',
 '2h 10m',
 '2h 15m',
 '2h 25m',
 '2h 00m',
 '2h 05m',
 '2h 10m',
 '2h 10m',
 '2h 10m',
 '2h 15m',
 '2h 15m',
 '2h 15m',
 '2h 15m',
 '2h 20m',
 '2h 20m',
 '2h 35m',
 '3h 40m',
 '25h 55m',
 '2h 15m',
 '2h 10m',
 '2h 10m',
 '5h 05m',
 '7h 20m',
 '2h 15m',
 '2h 10m',
 '2h 10m',
 '9h 55m',
 '4h 40m',
 '6h 50m',
 '2h 20m',
 '8h 55m',
 '12h 05m',
 '5h 10m',
 '6h 05m',
 '7h 25m',
 '4h 50m',
 '2h 05m',
 '5h 15m',
 '5h 20m',
 '6h 00m',
 '6h 05m',
 '6h 20m',
 '6h 45m',
 '6h 45m',
 '7h 00m',
 '7h 45m',
 '9h 30m',
 '10h 55m',
 '11h 00m',
 '13h 05m',
 '14h 00m',
 '14h 05m',
 '15h 10m',
 '17h 10m',
 '18h 45m',
 '23h 45m',
 '4h 20m',
 '5h 15m',
 '7h 10m',
 '5h 10m',
 '8h 40m',
 '8h 35m',
 '8h 50m',
 '12h 45m',
 '10h 05m',
 '14h 00m',
 '10h 40m',
 '4h 50m',
 '7h 25m',
 '13h 55m',
 '17h 45m',
 '2h 15m',
 '2h 15m',
 '9h 20m',
 '11h 20m',
 '15h 20m',
 '17h 05m',
 '26h 25m',
 '26h 40m',
 '5h 15m',
 '7h 50m',
 '12h 20m',
 '14h 05m',
 '16h 40m',
 '24h 05m',
 '26h 40m',
 '6h 50m',
 '6h 25m',
 '24h 40m',
 '11h 25m',
 '13h 35m',
 '15h 50m',
 '18h 00m',
 '20h 30m',
 '22h 20m',
 '24h 30m',
 '13h 20m',
 '17h 20m',
 '19h 05m',
 '28h 25m',
 '7h 00m',
 '17h 00m',
 '10h 05m',
 '4h 25m',
 '8h 15m',
 '24h 25m',
 '27h 25m',
 '17h 30m',
 '12h 20m',
 '15h 30m',
 '5h 25m',
 '6h 00m',
 '6h 05m',
 '8h 40m',
 '12h 50m',
 '4h 50m',
 '22h 10m',
 '26h 20m',
 '5h 35m',
 '6h 00m',
 '7h 45m',
 '23h 45m',
 '2h 10m',
 '8h 40m',
 '6h 35m',
 '14h 20m',
 '2h 20m',
 '10h 15m',
 '2h 10m',
 '2h 15m',
 '6h 25m',
 '5h 05m',
 '16h 45m',
 '4h 40m',
 '13h 00m',
 '10h 45m',
 '5h 40m',
 '13h 10m',
 '2h 20m',
 '7h 35m',
 '7h 25m',
 '24h 50m']

In [24]:
total_s=driver.find_elements("xpath",'//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
len(total_s)

158

In [25]:
Total_s=[]
for i in total_s:
    Total_s.append(i.text)
Total_s

['Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 '1 Stop',
 '1 Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 '1 Stop',
 '1 Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 'Non Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 'Non Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 'Non Stop',
 'Non Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 'Non Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 'Non Stop',
 '1 Stop',
 'Non Stop',
 'Non Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '2 Stop(s)',
 '1 Stop',
 '1 Stop',
 'Non Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop']

In [26]:
cost=driver.find_elements("xpath",'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
len(cost)

158

In [27]:
price=[]
for i in cost:
    price.append(i.text)
price

['5,950',
 '5,950',
 '5,950',
 '5,950',
 '5,950',
 '5,950',
 '5,950',
 '5,950',
 '5,954',
 '5,954',
 '5,954',
 '5,954',
 '5,954',
 '5,954',
 '5,954',
 '5,954',
 '5,954',
 '5,954',
 '5,954',
 '5,954',
 '5,955',
 '5,955',
 '5,955',
 '5,955',
 '5,955',
 '5,955',
 '5,955',
 '5,955',
 '5,955',
 '5,955',
 '5,955',
 '5,955',
 '5,955',
 '6,092',
 '6,111',
 '6,374',
 '6,480',
 '6,757',
 '6,757',
 '6,794',
 '6,827',
 '6,827',
 '6,974',
 '7,602',
 '7,668',
 '7,698',
 '7,835',
 '7,835',
 '7,868',
 '7,868',
 '8,107',
 '8,160',
 '8,578',
 '8,579',
 '8,579',
 '8,579',
 '8,579',
 '8,579',
 '8,579',
 '8,579',
 '8,579',
 '8,579',
 '8,579',
 '8,579',
 '8,579',
 '8,579',
 '8,579',
 '8,579',
 '8,579',
 '8,579',
 '8,579',
 '8,579',
 '8,894',
 '8,894',
 '8,894',
 '9,000',
 '9,000',
 '9,052',
 '9,052',
 '9,086',
 '9,157',
 '9,169',
 '9,306',
 '9,419',
 '9,494',
 '9,494',
 '9,494',
 '9,630',
 '9,630',
 '9,682',
 '9,768',
 '9,768',
 '9,768',
 '9,768',
 '9,838',
 '9,840',
 '9,840',
 '9,840',
 '9,840',
 '9,840',
 '9,840',
 '9,840',
 '9,997',
 '10,017',
 '10,017',
 '10,229',
 '10,229',
 '10,229',
 '10,229',
 '10,229',
 '10,229',
 '10,229',
 '10,293',
 '10,293',
 '10,293',
 '10,293',
 '10,365',
 '10,365',
 '10,470',
 '10,743',
 '10,811',
 '10,921',
 '10,921',
 '10,995',
 '11,027',
 '11,027',
 '11,205',
 '11,281',
 '11,281',
 '11,281',
 '11,281',
 '11,310',
 '11,520',
 '11,520',
 '11,553',
 '11,553',
 '11,553',
 '11,762',
 '11,834',
 '11,867',
 '11,900',
 '11,900',
 '12,044',
 '12,307',
 '12,465',
 '12,465',
 '12,569',
 '12,602',
 '12,602',
 '12,684',
 '12,812',
 '13,014',
 '13,199',
 '13,222',
 '13,410',
 '14,283',
 '14,437',
 '20,374']

In [28]:
meal_tag=driver.find_elements("xpath",'//span[@class="text"]')
len(meal_tag)

80

In [29]:
Add_info=[]
for i in meal_tag:
    Add_info.append(i.text)
Add_info

['Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal']

In [30]:
# Creating the Dataframe.

flights = pd.DataFrame({})
flights['Airline'] = Airline
flights['Destination'] = list1
flights['Source'] = list2
flights['Arrival_time'] = Arr_t
flights['Departure_time'] =Dep_t
flights['Total_Stops']=Total_s
flights['Total_Duration']=duration
flights['Additional_Info']=pd.Series(Add_info)
flights['Price']=price
flights

,Airline,Destination,Source,Arrival_time,Departure_time,Total_Stops,Total_Duration,Additional_Info,Price
0,Go First,Mumbai,New Delhi,02:40,04:50,Non Stop,2h 10m,Free Meal,"5,950"
1,Go First,Mumbai,New Delhi,08:15,10:25,Non Stop,2h 10m,Free Meal,"5,950"
2,Go First,Mumbai,New Delhi,15:45,17:55,Non Stop,2h 10m,Free Meal,"5,950"
3,SpiceJet,Mumbai,New Delhi,19:00,21:10,Non Stop,2h 10m,Free Meal,"5,950"
4,Go First,Mumbai,New Delhi,20:50,23:00,Non Stop,2h 10m,Free Meal,"5,950"
...,...,...,...,...,...,...,...,...,...
153,Air Asia,Mumbai,New Delhi,08:10,21:20,1 Stop,13h 10m,NaN,"13,222"
154,Vistara,Mumbai,New Delhi,08:50,11:10,Non Stop,2h 20m,NaN,"13,410"
155,Air India,Mumbai,New Delhi,13:30,21:05,1 Stop,7h 35m,NaN,"14,283"
156,Go First,Mumbai,New Delhi,11:15,18:40,1 Stop,7h 25m,NaN,"14,437"
157,SpiceJet,Mumbai,New Delhi,17:35,18:25\n+ 1 day,1 Stop,24h 50m,NaN,"20,374"

# Scrapping data for Banglore and Delhi Loacation

In [31]:
driver = webdriver.Chrome(r'C:\Users\91749\Downloads\chromedriver_win32\chromedriver.exe')

In [32]:
url='https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=20%2F09%2F2022&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1663598550870&viewName=normal'
driver.get(url)

In [33]:
airline=driver.find_elements("xpath",'//span[@class="i-b text ellipsis"]')
len(airline)

80

In [34]:
Airline=[]
for i in airline:
    Airline.append(i.text)
Airline

['SpiceJet',
 'IndiGo',
 'Air India',
 'Go First',
 'IndiGo',
 'Air Asia',
 'Air Asia',
 'IndiGo',
 'Go First',
 'Go First',
 'Go First',
 'Go First',
 'Go First',
 'IndiGo',
 'Go First',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'SpiceJet',
 'SpiceJet',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'IndiGo',
 'IndiGo',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Vistara',
 'IndiGo',
 'Go First',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'IndiGo',
 'Vistara',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Air India',
 'Air India',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Air India',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'IndiGo',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara']

In [35]:
flight_no=driver.find_elements("xpath",'//p[@class="normal fs-11 font-lightestgrey no-wrap fl-no"]')
len(flight_no)

80

In [36]:
Flight_no=[]
for i in flight_no:
    Flight_no.append(i.text)
Flight_no

['SG-537',
 '6E-6565',
 'AI-815',
 'G8-119',
 '6E-2131',
 'I5-768/1427',
 'I5-1732',
 '6E-2532',
 'G8-330/7122',
 'G8-346/7122',
 'G8-330/317',
 'G8-346/317',
 'G8-717/804',
 '6E-781',
 'G8-1171/284',
 '6E-2168/6318',
 '6E-6187/979',
 '6E-671/284',
 '6E-2187/285',
 '6E-147/6336',
 '6E-2187/6505',
 'SG-8190/538',
 'SG-8938/538',
 'AI-814/603',
 'AI-605/603',
 'AI-805/603',
 'AI-441/603',
 '6E-6823/6505',
 '6E-2187/6352',
 'AI-814/607',
 'AI-605/607',
 'AI-814/641',
 'AI-805/607',
 'AI-605/641',
 'AI-441/607',
 'AI-805/641',
 'AI-441/641',
 'UK-973/554',
 '6E-2066/6874',
 'G8-713/802',
 'UK-935/916',
 'UK-879/898',
 'UK-855/868',
 'UK-807',
 'UK-637/658',
 '6E-2015',
 'UK-973/552',
 'AI-814/639',
 'AI-605/639',
 'AI-805/639',
 'AI-441/639',
 'UK-637/652/853',
 'UK-637/654/853',
 'UK-637/652/843',
 'UK-637/654/843',
 'UK-991/554',
 'UK-817',
 'UK-953/853',
 'UK-953/843',
 'AI-504',
 'AI-807',
 'UK-855/842/853',
 'UK-855/842/843',
 'UK-991/552',
 'UK-813',
 'UK-727/772/853',
 'AI-540/569/639',
 'UK-879/894',
 'UK-933/865',
 'UK-941/845',
 'UK-933/845',
 '6E-2143/103',
 'UK-985/853',
 'UK-977/853',
 'UK-985/843',
 'UK-977/843',
 'UK-953/845',
 'UK-955/845',
 'UK-985/845',
 'UK-977/845']

In [37]:
source=driver.find_elements('xpath','//p[@class="fs-10 font-lightgrey no-wrap city ellipsis"]')
len(source)

160

In [38]:
sources=[]
for i in source:
    sources.append(i.text)
sources

['New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore',
 'New Delhi',
 'Bangalore']

In [39]:
list1 = [sources[i] for i in range(len(sources)) if i % 2 != 0]

In [40]:
len(list1)

80

In [41]:
list1

['Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore']

In [42]:
list2=sources[::2]

In [43]:
len(list2)

80

In [44]:
list2

['New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi']

In [45]:
arr_t=driver.find_elements("xpath",'//div[@class="fs-15 bold time"]')
len(arr_t)

80

In [46]:
Arr_t=[]
for i in arr_t:
    Arr_t.append(i.text)
Arr_t

['20:00',
 '22:55',
 '15:30',
 '20:45',
 '21:30',
 '15:30',
 '21:50',
 '20:10',
 '20:50',
 '19:45',
 '20:50',
 '19:45',
 '16:45',
 '15:20',
 '19:40',
 '17:50',
 '15:15',
 '21:20',
 '15:00',
 '23:30',
 '15:00',
 '20:25',
 '17:05',
 '22:30',
 '21:55',
 '20:00',
 '17:55',
 '18:05',
 '15:00',
 '22:30',
 '21:55',
 '22:30',
 '20:00',
 '21:55',
 '17:55',
 '20:00',
 '17:55',
 '20:50',
 '15:20',
 '20:20',
 '18:00',
 '17:35',
 '18:40',
 '20:40',
 '17:10',
 '18:30',
 '20:50',
 '22:30',
 '21:55',
 '20:00',
 '17:55',
 '17:10',
 '17:10',
 '17:10',
 '17:10',
 '17:45',
 '16:05',
 '20:40',
 '20:40',
 '21:15',
 '17:15',
 '18:40',
 '18:40',
 '17:45',
 '17:35',
 '20:30',
 '20:40',
 '17:35',
 '15:30',
 '16:55',
 '15:30',
 '17:55',
 '19:45',
 '19:00',
 '19:45',
 '19:00',
 '20:40',
 '17:45',
 '19:45',
 '19:00']

In [47]:
dep_t=driver.find_elements("xpath",'//p[@class="bold fs-15 mb-2 pr time"]')
len(dep_t)

80

In [48]:
Dep_t=[]
for i in dep_t:
    Dep_t.append(i.text)
Dep_t

['22:30',
 '01:45\n+ 1 day',
 '18:20',
 '23:25',
 '00:15\n+ 1 day',
 '21:00',
 '00:35\n+ 1 day',
 '23:00',
 '08:30\n+ 1 day',
 '08:30\n+ 1 day',
 '07:35\n+ 1 day',
 '07:35\n+ 1 day',
 '23:30',
 '18:15',
 '00:10\n+ 1 day',
 '22:40',
 '20:30',
 '02:35\n+ 1 day',
 '21:35',
 '06:05\n+ 1 day',
 '23:40',
 '16:50\n+ 1 day',
 '16:50\n+ 1 day',
 '07:50\n+ 1 day',
 '07:50\n+ 1 day',
 '07:50\n+ 1 day',
 '07:50\n+ 1 day',
 '23:40',
 '20:40',
 '18:20\n+ 1 day',
 '18:20\n+ 1 day',
 '20:40\n+ 1 day',
 '18:20\n+ 1 day',
 '20:40\n+ 1 day',
 '18:20\n+ 1 day',
 '20:40\n+ 1 day',
 '20:40\n+ 1 day',
 '20:30\n+ 1 day',
 '21:45',
 '10:45\n+ 1 day',
 '21:50',
 '08:45\n+ 1 day',
 '15:55\n+ 1 day',
 '23:20',
 '18:15\n+ 1 day',
 '21:15',
 '08:30\n+ 1 day',
 '11:10\n+ 1 day',
 '11:10\n+ 1 day',
 '11:10\n+ 1 day',
 '11:10\n+ 1 day',
 '17:45\n+ 1 day',
 '17:45\n+ 1 day',
 '19:15\n+ 1 day',
 '19:15\n+ 1 day',
 '20:30\n+ 1 day',
 '18:50',
 '17:45\n+ 1 day',
 '19:15\n+ 1 day',
 '00:05\n+ 1 day',
 '20:15',
 '17:45\n+ 1 day',
 '19:15\n+ 1 day',
 '08:30\n+ 1 day',
 '20:25',
 '17:45\n+ 1 day',
 '11:10\n+ 1 day',
 '19:30\n+ 1 day',
 '20:55',
 '07:50\n+ 1 day',
 '07:50\n+ 1 day',
 '23:55',
 '17:45\n+ 1 day',
 '17:45\n+ 1 day',
 '19:15\n+ 1 day',
 '19:15\n+ 1 day',
 '07:50\n+ 1 day',
 '07:50\n+ 1 day',
 '07:50\n+ 1 day',
 '07:50\n+ 1 day']

In [49]:
total_s=driver.find_elements("xpath",'//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
len(total_s)

80

In [50]:
Total_s=[]
for i in total_s:
    Total_s.append(i.text)
Total_s

['Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 '1 Stop',
 'Non Stop',
 'Non Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 'Non Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 'Non Stop',
 '1 Stop',
 'Non Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '1 Stop',
 'Non Stop',
 '1 Stop',
 '1 Stop',
 'Non Stop',
 'Non Stop',
 '2 Stop(s)',
 '2 Stop(s)',
 '1 Stop',
 'Non Stop',
 '2 Stop(s)',
 '2 Stop(s)',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop']

In [51]:
duration_tag=driver.find_elements("xpath",'//p[@class="fs-12 bold du mb-2"]')
len(duration_tag)

80

In [52]:
duration=[]
for i in duration_tag:
    duration.append(i.text)
duration

['2h 30m',
 '2h 50m',
 '2h 50m',
 '2h 40m',
 '2h 45m',
 '5h 30m',
 '2h 45m',
 '2h 50m',
 '11h 40m',
 '12h 45m',
 '10h 45m',
 '11h 50m',
 '6h 45m',
 '2h 55m',
 '4h 30m',
 '4h 50m',
 '5h 15m',
 '5h 15m',
 '6h 35m',
 '6h 35m',
 '8h 40m',
 '20h 25m',
 '23h 45m',
 '9h 20m',
 '9h 55m',
 '11h 50m',
 '13h 55m',
 '5h 35m',
 '5h 40m',
 '19h 50m',
 '20h 25m',
 '22h 10m',
 '22h 20m',
 '22h 45m',
 '24h 25m',
 '24h 40m',
 '26h 45m',
 '23h 40m',
 '6h 25m',
 '14h 25m',
 '3h 50m',
 '15h 10m',
 '21h 15m',
 '2h 40m',
 '25h 05m',
 '2h 45m',
 '11h 40m',
 '12h 40m',
 '13h 15m',
 '15h 10m',
 '17h 15m',
 '24h 35m',
 '24h 35m',
 '26h 05m',
 '26h 05m',
 '26h 45m',
 '2h 45m',
 '21h 05m',
 '22h 35m',
 '2h 50m',
 '3h 00m',
 '23h 05m',
 '24h 35m',
 '14h 45m',
 '2h 50m',
 '21h 15m',
 '14h 30m',
 '25h 55m',
 '5h 25m',
 '14h 55m',
 '16h 20m',
 '6h 00m',
 '22h 00m',
 '22h 45m',
 '23h 30m',
 '24h 15m',
 '11h 10m',
 '14h 05m',
 '12h 05m',
 '12h 50m']

In [53]:
cost=driver.find_elements("xpath",'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
len(cost)

80

In [54]:
price=[]
for i in cost:
    price.append(i.text)
price

['7,419',
 '7,424',
 '7,425',
 '7,623',
 '7,687',
 '7,710',
 '7,897',
 '8,212',
 '8,259',
 '8,259',
 '8,903',
 '8,903',
 '9,162',
 '9,314',
 '9,418',
 '9,419',
 '9,419',
 '9,419',
 '9,419',
 '9,419',
 '9,419',
 '9,419',
 '9,419',
 '9,453',
 '9,453',
 '9,453',
 '9,453',
 '9,734',
 '9,960',
 '10,083',
 '10,083',
 '10,083',
 '10,083',
 '10,083',
 '10,083',
 '10,083',
 '10,083',
 '10,680',
 '11,041',
 '11,143',
 '11,552',
 '11,583',
 '11,867',
 '11,940',
 '12,150',
 '12,569',
 '12,673',
 '12,708',
 '12,708',
 '12,708',
 '12,708',
 '12,866',
 '12,866',
 '12,866',
 '12,866',
 '13,303',
 '14,355',
 '14,626',
 '14,626',
 '14,880',
 '14,880',
 '15,239',
 '15,239',
 '15,296',
 '16,035',
 '16,121',
 '16,246',
 '19,248',
 '19,815',
 '19,815',
 '19,815',
 '20,339',
 '21,768',
 '21,768',
 '21,768',
 '21,768',
 '22,438',
 '24,855',
 '29,580',
 '29,580']

In [55]:
add_info=driver.find_elements("xpath",'//span[@class="text"]')
len(add_info)

52

In [56]:
Add_info=[]
for i in add_info:
    Add_info.append(i.text)
Add_info

['Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal']

In [57]:
flights1 = pd.DataFrame({})
flights1['Airline'] = Airline
flights1['Destination'] = list1
flights1['Source'] = list2
flights1['Arrival_time'] = Arr_t
flights1['Departure_time'] =Dep_t
flights1['Total_Stops']=Total_s
flights1['Total_Duration']=duration
flights1['Additional_Info']=pd.Series(Add_info)
flights1['Price']=price
flights1

,Airline,Destination,Source,Arrival_time,Departure_time,Total_Stops,Total_Duration,Additional_Info,Price
0,SpiceJet,Bangalore,New Delhi,20:00,22:30,Non Stop,2h 30m,Free Meal,"7,419"
1,IndiGo,Bangalore,New Delhi,22:55,01:45\n+ 1 day,Non Stop,2h 50m,Free Meal,"7,424"
2,Air India,Bangalore,New Delhi,15:30,18:20,Non Stop,2h 50m,Free Meal,"7,425"
3,Go First,Bangalore,New Delhi,20:45,23:25,Non Stop,2h 40m,Free Meal,"7,623"
4,IndiGo,Bangalore,New Delhi,21:30,00:15\n+ 1 day,Non Stop,2h 45m,Free Meal,"7,687"
...,...,...,...,...,...,...,...,...,...
75,Vistara,Bangalore,New Delhi,19:00,19:15\n+ 1 day,1 Stop,24h 15m,NaN,"21,768"
76,Vistara,Bangalore,New Delhi,20:40,07:50\n+ 1 day,1 Stop,11h 10m,NaN,"22,438"
77,Vistara,Bangalore,New Delhi,17:45,07:50\n+ 1 day,1 Stop,14h 05m,NaN,"24,855"
78,Vistara,Bangalore,New Delhi,19:45,07:50\n+ 1 day,1 Stop,12h 05m,NaN,"29,580"
79,Vistara,Bangalore,New Delhi,19:00,07:50\n+ 1 day,1 Stop,12h 50m,NaN,"29,580"

In [58]:
Flight1=pd.concat([flights, flights1], ignore_index=True)

In [59]:
Flight1.shape

(238, 9)

# Scrapping data for Hydrabad and Delhi Loacation

In [60]:
driver = webdriver.Chrome(r'C:\Users\91749\Downloads\chromedriver_win32\chromedriver.exe')

In [61]:
url='https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=HYD&destinationCountry=IN&flexi=0&flight_depart_date=24%2F09%2F2022&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1663519857148&viewName=normal'
driver.get(url)

In [62]:
airline=driver.find_elements("xpath",'//span[@class="i-b text ellipsis"]')
len(airline)

125

In [63]:
Airline=[]
for i in airline:
    Airline.append(i.text)
Airline

['SpiceJet',
 'Go First',
 'Go First',
 'SpiceJet',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'Vistara',
 'Air India',
 'Vistara',
 'Vistara',
 'Vistara',
 'Air Asia',
 'Air Asia',
 'Air Asia',
 'Air India',
 'Vistara',
 'IndiGo',
 'Go First',
 'Go First',
 'SpiceJet',
 'SpiceJet',
 'SpiceJet',
 'SpiceJet',
 'Air India',
 'Vistara',
 'Vistara',
 'Air India',
 'Vistara',
 'Air India',
 'Vistara',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Go First',
 'Vistara',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Vistara',
 'Vistara',
 'Air Asia',
 'Vistara',
 'Air Asia',
 'Air Asia',
 'Air Asia',
 'Air Asia',
 'Air Asia',
 'Air Asia',
 'IndiGo',
 'IndiGo',
 'Go First',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Air India',
 'Air India',
 'Air India',
 'Vistara',
 'Vistara',
 'IndiGo',
 'Vistara',
 'Vistara',
 'Air India',
 'Air India',
 'Air India',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Air India',
 'Air India',
 'Vistara',
 'Vistara',
 'Air India',
 'Air India',
 'IndiGo',
 'Vistara',
 'Air India']

In [64]:
flight_no=driver.find_elements("xpath",'//p[@class="normal fs-11 font-lightestgrey no-wrap fl-no"]')
len(flight_no)

125

In [65]:
Flight_no=[]
for i in flight_no:
    Flight_no.append(i.text)
Flight_no

['SG-8103',
 'G8-423',
 'G8-422',
 'SG-164',
 '6E-2004',
 '6E-2153',
 '6E-6823',
 '6E-2325',
 '6E-2187',
 '6E-2136',
 '6E-2005',
 '6E-155',
 '6E-2331',
 '6E-2774',
 '6E-2104',
 '6E-7405/471',
 '6E-2077/7272',
 '6E-2175/311',
 '6E-2697/501',
 '6E-2026/278',
 '6E-307/523',
 '6E-6187/7249',
 '6E-5042/6916',
 '6E-6267/278',
 '6E-2077/511',
 '6E-2191/278',
 '6E-698/752',
 '6E-216/7249',
 '6E-2008/7122',
 'UK-829',
 'AI-560',
 'UK-859',
 'UK-879',
 'UK-871',
 'I5-798/974',
 'I5-798/1518',
 'I5-552/974',
 'AI-542',
 'UK-899',
 '6E-7403/311',
 'G8-346/509',
 'G8-323/509',
 'SG-953/4006',
 'SG-957/3735',
 'SG-8171/3735',
 'SG-8211/3735',
 'AI-839',
 'UK-955/869',
 'UK-941/869',
 'AI-814/615',
 'UK-993/869',
 'AI-605/615',
 'UK-953/873',
 'AI-805/615',
 'AI-624/615',
 'AI-441/615',
 'AI-863/615',
 'AI-865/615',
 'AI-678/615',
 'AI-665/615',
 'AI-887/615',
 'G8-336/509',
 'UK-637/652/873',
 'AI-863/619',
 'AI-865/619',
 'AI-678/619',
 'AI-665/619',
 'AI-887/619',
 'UK-637/660',
 'UK-945/869',
 'I5-548/1426',
 'UK-637/652/881',
 'I5-745/974',
 'I5-745/1518',
 'I5-740/1426',
 'I5-1529/972',
 'I5-740/972',
 'I5-1529/1983',
 '6E-212/471',
 '6E-2164/7157',
 'G8-113/544',
 'UK-933/869',
 'UK-951/869',
 'UK-993/881',
 'UK-927/881',
 'UK-963/881',
 'AI-605/617',
 'AI-805/617',
 'AI-544',
 'UK-943/877',
 'UK-975/877',
 '6E-6022/7137',
 'UK-945/881',
 'UK-981/873',
 'AI-764/526',
 'AI-453/650/619',
 'AI-453/650/615',
 'UK-933/881',
 'UK-951/881',
 'UK-815/893',
 'UK-811/893',
 'UK-815/897',
 'UK-811/897',
 'UK-847/868/893',
 'UK-847/868/897',
 'UK-817/893',
 'UK-801/893',
 'UK-807/897',
 'UK-809/897',
 'UK-813/897',
 'UK-817/897',
 'UK-706/652/873',
 'UK-706/652/881',
 'UK-706/652/869',
 'UK-637/652/877',
 'UK-995/881',
 'AI-479/650/619',
 'AI-453/650/617',
 'UK-819/893',
 'UK-819/897',
 'AI-762/526',
 'AI-401/526',
 '6E-6034/6063',
 'UK-706/652/877',
 'AI-767/526']

In [66]:
source=driver.find_elements('xpath','//p[@class="fs-10 font-lightgrey no-wrap city ellipsis"]')
len(source)

250

In [67]:
sources=[]
for i in source:
    sources.append(i.text)
sources

['New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad',
 'New Delhi',
 'Hyderabad']

In [68]:
list1 = [sources[i] for i in range(len(sources)) if i % 2 != 0]

In [69]:
list1

['Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad']

In [70]:
list2=sources[::2]

In [71]:
list2

['New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi']

In [72]:
arr_t=driver.find_elements("xpath",'//div[@class="fs-15 bold time"]')
len(arr_t)

125

In [73]:
Arr_t=[]
for i in arr_t:
    Arr_t.append(i.text)
Arr_t

['18:20',
 '05:45',
 '18:05',
 '21:55',
 '12:45',
 '13:25',
 '18:05',
 '01:50',
 '15:00',
 '21:15',
 '09:55',
 '22:30',
 '06:40',
 '07:55',
 '19:30',
 '15:30',
 '05:20',
 '08:30',
 '06:50',
 '15:50',
 '05:30',
 '15:15',
 '10:15',
 '14:10',
 '05:20',
 '12:45',
 '21:05',
 '11:55',
 '06:00',
 '07:20',
 '07:10',
 '10:25',
 '17:35',
 '20:35',
 '12:50',
 '12:50',
 '10:40',
 '09:45',
 '14:45',
 '07:20',
 '19:45',
 '17:30',
 '14:50',
 '15:10',
 '12:05',
 '09:00',
 '21:30',
 '17:45',
 '16:55',
 '22:30',
 '12:45',
 '21:15',
 '20:40',
 '20:00',
 '19:00',
 '17:55',
 '14:00',
 '10:00',
 '09:00',
 '08:00',
 '07:00',
 '14:30',
 '17:10',
 '14:00',
 '10:00',
 '09:00',
 '08:00',
 '07:00',
 '17:10',
 '11:40',
 '07:20',
 '17:10',
 '13:00',
 '13:00',
 '08:10',
 '09:35',
 '08:10',
 '09:35',
 '13:00',
 '07:40',
 '05:50',
 '15:30',
 '14:20',
 '12:45',
 '09:30',
 '08:50',
 '21:15',
 '20:00',
 '16:50',
 '07:30',
 '05:55',
 '11:15',
 '11:40',
 '21:30',
 '16:45',
 '05:00',
 '05:00',
 '15:30',
 '14:20',
 '08:10',
 '06:15',
 '08:10',
 '06:15',
 '11:10',
 '11:10',
 '16:05',
 '09:05',
 '20:40',
 '19:50',
 '17:35',
 '16:05',
 '13:40',
 '13:40',
 '13:40',
 '17:10',
 '10:20',
 '21:15',
 '05:00',
 '14:15',
 '14:15',
 '20:15',
 '06:50',
 '08:45',
 '13:40',
 '12:10']

In [74]:
dep_t=driver.find_elements("xpath",'//p[@class="bold fs-15 mb-2 pr time"]')
len(dep_t)

125

In [75]:
Dep_t=[]
for i in dep_t:
    Dep_t.append(i.text)
Dep_t

['20:25',
 '07:55',
 '20:25',
 '00:15\n+ 1 day',
 '14:50',
 '15:30',
 '20:10',
 '04:00',
 '17:10',
 '23:25',
 '12:10',
 '00:45\n+ 1 day',
 '09:00',
 '10:15',
 '21:50',
 '19:55',
 '10:35',
 '13:45',
 '12:35',
 '22:15',
 '12:00',
 '22:20',
 '18:10',
 '22:15',
 '13:30',
 '22:15',
 '06:55\n+ 1 day',
 '22:20',
 '16:40',
 '09:25',
 '09:25',
 '12:40',
 '19:50',
 '22:55',
 '19:45',
 '21:15',
 '19:45',
 '11:50',
 '17:00',
 '13:45',
 '00:40\n+ 1 day',
 '00:40\n+ 1 day',
 '18:55',
 '22:40',
 '22:40',
 '22:40',
 '23:45',
 '22:40',
 '22:40',
 '07:30\n+ 1 day',
 '22:40',
 '07:30\n+ 1 day',
 '07:50\n+ 1 day',
 '07:30\n+ 1 day',
 '07:30\n+ 1 day',
 '07:30\n+ 1 day',
 '07:30\n+ 1 day',
 '07:30\n+ 1 day',
 '07:30\n+ 1 day',
 '07:30\n+ 1 day',
 '07:30\n+ 1 day',
 '00:40\n+ 1 day',
 '07:50\n+ 1 day',
 '21:40',
 '21:40',
 '21:40',
 '21:40',
 '21:40',
 '17:30\n+ 1 day',
 '22:40',
 '13:55',
 '20:55\n+ 1 day',
 '19:45',
 '21:15',
 '13:55',
 '15:40',
 '15:40',
 '17:30',
 '19:55',
 '18:00',
 '16:45',
 '22:40',
 '22:40',
 '20:55',
 '20:55',
 '20:55',
 '12:30\n+ 1 day',
 '12:30\n+ 1 day',
 '19:10',
 '12:15',
 '12:15',
 '17:15',
 '20:55',
 '07:50\n+ 1 day',
 '21:15\n+ 1 day',
 '21:40',
 '07:30\n+ 1 day',
 '20:55',
 '20:55',
 '21:10',
 '21:10',
 '08:55\n+ 1 day',
 '08:55\n+ 1 day',
 '21:10',
 '08:55\n+ 1 day',
 '21:10',
 '21:10',
 '08:55\n+ 1 day',
 '08:55\n+ 1 day',
 '08:55\n+ 1 day',
 '08:55\n+ 1 day',
 '07:50\n+ 1 day',
 '20:55\n+ 1 day',
 '22:40\n+ 1 day',
 '12:15\n+ 1 day',
 '20:55',
 '21:40\n+ 1 day',
 '12:30\n+ 1 day',
 '21:10',
 '08:55\n+ 1 day',
 '21:15\n+ 1 day',
 '21:15',
 '16:45',
 '12:15\n+ 1 day',
 '21:15']

In [76]:
duration_tag=driver.find_elements("xpath",'//p[@class="fs-12 bold du mb-2"]')
len(duration_tag)

125

In [77]:
Duration=[]
for i in duration_tag:
    Duration.append(i.text)
Duration

['2h 05m',
 '2h 10m',
 '2h 20m',
 '2h 20m',
 '2h 05m',
 '2h 05m',
 '2h 05m',
 '2h 10m',
 '2h 10m',
 '2h 10m',
 '2h 15m',
 '2h 15m',
 '2h 20m',
 '2h 20m',
 '2h 20m',
 '4h 25m',
 '5h 15m',
 '5h 15m',
 '5h 45m',
 '6h 25m',
 '6h 30m',
 '7h 05m',
 '7h 55m',
 '8h 05m',
 '8h 10m',
 '9h 30m',
 '9h 50m',
 '10h 25m',
 '10h 40m',
 '2h 05m',
 '2h 15m',
 '2h 15m',
 '2h 15m',
 '2h 20m',
 '6h 55m',
 '8h 25m',
 '9h 05m',
 '2h 05m',
 '2h 15m',
 '6h 25m',
 '4h 55m',
 '7h 10m',
 '4h 05m',
 '7h 30m',
 '10h 35m',
 '13h 40m',
 '2h 15m',
 '4h 55m',
 '5h 45m',
 '9h 00m',
 '9h 55m',
 '10h 15m',
 '11h 10m',
 '11h 30m',
 '12h 30m',
 '13h 35m',
 '17h 30m',
 '21h 30m',
 '22h 30m',
 '23h 30m',
 '24h 30m',
 '10h 10m',
 '14h 40m',
 '7h 40m',
 '11h 40m',
 '12h 40m',
 '13h 40m',
 '14h 40m',
 '24h 20m',
 '11h 00m',
 '6h 35m',
 '27h 45m',
 '6h 45m',
 '8h 15m',
 '5h 45m',
 '6h 05m',
 '7h 30m',
 '7h 55m',
 '6h 55m',
 '10h 20m',
 '10h 55m',
 '7h 10m',
 '8h 20m',
 '8h 10m',
 '11h 25m',
 '12h 05m',
 '15h 15m',
 '16h 30m',
 '2h 20m',
 '4h 45m',
 '6h 20m',
 '6h 00m',
 '9h 15m',
 '10h 20m',
 '28h 30m',
 '16h 40m',
 '26h 30m',
 '5h 25m',
 '6h 35m',
 '13h 00m',
 '14h 55m',
 '24h 45m',
 '26h 40m',
 '10h 00m',
 '21h 45m',
 '5h 05m',
 '12h 05m',
 '12h 15m',
 '13h 05m',
 '15h 20m',
 '16h 50m',
 '18h 10m',
 '31h 15m',
 '33h 00m',
 '19h 05m',
 '10h 35m',
 '24h 25m',
 '31h 30m',
 '6h 55m',
 '18h 40m',
 '25h 00m',
 '14h 25m',
 '8h 00m',
 '22h 35m',
 '9h 05m']

In [78]:
total_s=driver.find_elements("xpath",'//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
len(total_s)

125

In [79]:
Total_s=[]
for i in total_s:
    Total_s.append(i.text)
Total_s

['Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 'Non Stop',
 'Non Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 'Non Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '2 Stop(s)',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 'Non Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '2 Stop(s)',
 '2 Stop(s)',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '2 Stop(s)',
 '2 Stop(s)',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '1 Stop',
 '2 Stop(s)',
 '2 Stop(s)',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '2 Stop(s)',
 '1 Stop']

In [80]:
cost=driver.find_elements("xpath",'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
len(cost)

125

In [81]:
price=[]
for i in cost:
    price.append(i.text)
price

['5,952',
 '5,952',
 '5,952',
 '5,952',
 '5,954',
 '5,954',
 '5,954',
 '5,954',
 '5,954',
 '5,954',
 '5,954',
 '5,954',
 '5,954',
 '5,954',
 '5,954',
 '5,954',
 '5,954',
 '5,954',
 '5,954',
 '5,954',
 '5,954',
 '5,954',
 '5,954',
 '5,954',
 '5,954',
 '5,954',
 '5,954',
 '5,954',
 '5,954',
 '5,955',
 '5,955',
 '5,955',
 '5,955',
 '5,955',
 '5,955',
 '5,955',
 '5,955',
 '7,320',
 '7,698',
 '7,907',
 '8,577',
 '8,577',
 '8,579',
 '8,579',
 '8,579',
 '8,579',
 '9,105',
 '9,840',
 '9,840',
 '9,840',
 '9,840',
 '9,840',
 '9,840',
 '9,840',
 '9,840',
 '9,840',
 '9,840',
 '9,840',
 '9,840',
 '9,840',
 '9,840',
 '9,997',
 '10,132',
 '10,365',
 '10,365',
 '10,365',
 '10,365',
 '10,365',
 '10,470',
 '10,712',
 '10,767',
 '11,132',
 '11,227',
 '11,227',
 '11,229',
 '11,229',
 '11,229',
 '11,229',
 '11,325',
 '11,325',
 '11,371',
 '11,583',
 '11,583',
 '12,045',
 '12,045',
 '12,045',
 '12,203',
 '12,203',
 '12,570',
 '12,570',
 '12,570',
 '12,790',
 '12,917',
 '12,990',
 '13,410',
 '13,591',
 '13,591',
 '13,788',
 '13,788',
 '13,830',
 '13,830',
 '13,830',
 '13,830',
 '14,193',
 '14,193',
 '14,460',
 '14,460',
 '14,460',
 '14,460',
 '14,460',
 '14,460',
 '14,494',
 '14,494',
 '14,494',
 '14,615',
 '15,195',
 '15,462',
 '15,462',
 '15,825',
 '15,825',
 '16,035',
 '16,298',
 '16,612',
 '16,978',
 '21,075']

In [82]:
Add_tag=driver.find_elements("xpath",'//span[@class="text"]')
len(Add_tag)

73

In [83]:
Add_info=[]
for i in Add_tag:
    Add_info.append(i.text)
Add_info

['Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal']

In [84]:
flights2 = pd.DataFrame({})
flights2['Airline'] = Airline
flights2['Destination'] = list1
flights2['Source'] = list2
flights2['Arrival_time'] = Arr_t
flights2['Departure_time'] =Dep_t
flights2['Total_Stops']=Total_s
flights2['Total_Duration']=Duration
flights2['Additional_Info']=pd.Series(Add_info)
flights2['Price']=price
flights2

,Airline,Destination,Source,Arrival_time,Departure_time,Total_Stops,Total_Duration,Additional_Info,Price
0,SpiceJet,Hyderabad,New Delhi,18:20,20:25,Non Stop,2h 05m,Free Meal,"5,952"
1,Go First,Hyderabad,New Delhi,05:45,07:55,Non Stop,2h 10m,Free Meal,"5,952"
2,Go First,Hyderabad,New Delhi,18:05,20:25,Non Stop,2h 20m,Free Meal,"5,952"
3,SpiceJet,Hyderabad,New Delhi,21:55,00:15\n+ 1 day,Non Stop,2h 20m,Free Meal,"5,952"
4,IndiGo,Hyderabad,New Delhi,12:45,14:50,Non Stop,2h 05m,Free Meal,"5,954"
...,...,...,...,...,...,...,...,...,...
120,Air India,Hyderabad,New Delhi,20:15,21:15\n+ 1 day,1 Stop,25h 00m,NaN,"16,035"
121,Air India,Hyderabad,New Delhi,06:50,21:15,1 Stop,14h 25m,NaN,"16,298"
122,IndiGo,Hyderabad,New Delhi,08:45,16:45,1 Stop,8h 00m,NaN,"16,612"
123,Vistara,Hyderabad,New Delhi,13:40,12:15\n+ 1 day,2 Stop(s),22h 35m,NaN,"16,978"
124,Air India,Hyderabad,New Delhi,12:10,21:15,1 Stop,9h 05m,NaN,"21,075"

# Scraping data for Mumbai Banglore location.

In [85]:
# Connecting to the webdriver.

driver = webdriver.Chrome(r'C:\Users\91749\Downloads\chromedriver_win32\chromedriver.exe')

In [86]:
url='https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=BOM&originCountry=IN&destination=BLR&destinationCountry=IN&flight_depart_date=24%2F09%2F2022&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=1590172357716'
driver.get(url)

In [88]:
airline=driver.find_elements("xpath",'//span[@class="i-b text ellipsis"]')
len(airline)

124

In [89]:
Airline=[]
for i in airline:
    Airline.append(i.text)
Airline

['Air India',
 'Air India',
 'Go First',
 'Go First',
 'Air India',
 'Air India',
 'IndiGo',
 'IndiGo',
 'Air Asia',
 'Air Asia',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'Vistara',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'Go First',
 'Vistara',
 'Vistara',
 'Air Asia',
 'Air Asia',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'Air Asia',
 'IndiGo',
 'Vistara',
 'Vistara',
 'Vistara',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'Vistara',
 'IndiGo',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'Air Asia',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air Asia',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Vistara',
 'Vistara',
 'IndiGo',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Air India',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Air India',
 'Air India',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Air India',
 'Vistara',
 'Air India',
 'Air India',
 'Vistara',
 'Vistara',
 'Air India']

In [90]:
flight_no=driver.find_elements("xpath",'//p[@class="normal fs-11 font-lightestgrey no-wrap fl-no"]')
len(flight_no)

124

In [91]:
Flight_no=[]
for i in flight_no:
    Flight_no.append(i.text)
Flight_no

['AI-607',
 'AI-641',
 'G8-398',
 'G8-317',
 'AI-603',
 'AI-639',
 '6E-5383',
 '6E-6819',
 'I5-338',
 'I5-1569',
 '6E-6463',
 '6E-6221',
 '6E-6293',
 'UK-857',
 '6E-6258',
 '6E-739',
 '6E-5287',
 '6E-5252',
 '6E-6478',
 'G8-383',
 'UK-853',
 'UK-843',
 'I5-1784',
 'I5-331/819',
 '6E-192/6505',
 '6E-5388/285',
 '6E-136/6137',
 '6E-5337/189',
 '6E-908/6605',
 '6E-5299/6892',
 '6E-5314/285',
 '6E-5386/6505',
 '6E-5277/6225',
 '6E-5388/6505',
 '6E-136/6892',
 '6E-5299/6605',
 '6E-5307/6343',
 '6E-461/827',
 '6E-5337/6225',
 'I5-331/1455',
 '6E-219',
 'UK-865',
 'UK-845',
 'UK-851',
 '6E-5382',
 '6E-128/921',
 '6E-179/381',
 '6E-399/589',
 '6E-399/6806',
 '6E-5236/172',
 '6E-5205/7296',
 '6E-5236/347',
 'UK-863',
 '6E-453/6482',
 'UK-869/898',
 'UK-873/894',
 'UK-869/894',
 'UK-873/898',
 '6E-461/6066',
 '6E-453/6675',
 '6E-312/6225',
 '6E-818/827',
 '6E-5395/472',
 '6E-5395/386',
 'I5-942',
 'AI-660/504',
 'AI-809/502',
 'AI-442/504',
 'AI-866/502',
 'AI-687/504',
 'AI-806/502',
 'AI-864/502',
 'AI-809/807',
 'AI-866/807',
 'I5-679/819',
 'AI-816/803',
 'AI-806/807',
 'AI-864/807',
 'AI-888/803',
 'AI-660/803',
 'AI-442/803',
 'UK-881/898',
 'UK-881/894',
 '6E-6697/6319',
 'UK-877/894',
 'UK-877/898',
 'UK-841/868',
 'UK-950/913/916',
 'UK-930/859/894',
 'UK-928/859/894',
 'UK-954/859/894',
 'UK-986/829/894',
 'UK-950/829/894',
 'AI-637/532/803',
 'UK-910/807',
 'UK-954/801',
 'UK-952/817',
 'UK-960/817',
 'UK-902/809',
 'UK-902/807',
 'UK-952/813',
 'UK-944/809',
 'UK-994/817',
 'UK-960/813',
 'UK-944/807',
 'UK-994/813',
 'UK-986/815',
 'AI-633/434/807',
 'AI-637/532/813',
 'UK-994/935/916',
 'UK-994/899/894',
 'UK-994/871/898',
 'UK-994/879/898',
 'UK-653/658',
 'UK-930/819',
 'UK-919/926/817',
 'UK-949/926/817',
 'AI-617/541/504',
 'UK-651/658',
 'AI-615/543/502',
 'AI-615/543/807',
 'UK-970/819',
 'UK-994/819',
 'AI-619/559/506']

In [92]:
source=driver.find_elements('xpath','//p[@class="fs-10 font-lightgrey no-wrap city ellipsis"]')
len(source)

248

In [93]:
sources=[]
for i in source:
    sources.append(i.text)
sources

['Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Bangalore']

In [94]:
list1 = [sources[i] for i in range(len(sources)) if i % 2 != 0]

In [95]:
list1

['Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore']

In [96]:
list2=sources[::2]

In [97]:
list2

['Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai']

In [98]:
arr_t=driver.find_elements("xpath",'//div[@class="fs-15 bold time"]')
len(arr_t)

124

In [99]:
Arr_t=[]
for i in arr_t:
    Arr_t.append(i.text)
Arr_t

['16:40',
 '19:00',
 '20:30',
 '05:40',
 '06:10',
 '09:30',
 '22:40',
 '00:10',
 '19:00',
 '21:20',
 '07:10',
 '17:10',
 '07:35',
 '21:30',
 '06:05',
 '20:30',
 '08:30',
 '19:05',
 '09:55',
 '16:30',
 '16:00',
 '17:30',
 '22:00',
 '04:05',
 '19:55',
 '17:30',
 '05:35',
 '15:30',
 '09:15',
 '07:00',
 '16:05',
 '18:05',
 '16:45',
 '17:30',
 '05:35',
 '07:00',
 '10:15',
 '06:05',
 '15:30',
 '04:05',
 '14:40',
 '19:10',
 '06:00',
 '07:00',
 '11:50',
 '04:55',
 '11:25',
 '16:55',
 '16:55',
 '08:50',
 '18:45',
 '08:50',
 '09:05',
 '06:20',
 '21:20',
 '06:20',
 '21:20',
 '06:20',
 '06:05',
 '06:20',
 '17:50',
 '07:15',
 '17:25',
 '17:25',
 '13:05',
 '18:00',
 '10:00',
 '17:00',
 '09:00',
 '16:00',
 '08:00',
 '07:00',
 '10:00',
 '09:00',
 '20:40',
 '21:00',
 '08:00',
 '07:00',
 '19:00',
 '18:00',
 '17:00',
 '19:20',
 '19:20',
 '11:10',
 '10:45',
 '10:45',
 '11:25',
 '21:55',
 '07:30',
 '06:30',
 '06:00',
 '22:45',
 '21:55',
 '18:35',
 '17:35',
 '06:00',
 '12:25',
 '11:55',
 '15:45',
 '15:45',
 '12:25',
 '14:40',
 '10:25',
 '11:55',
 '14:40',
 '10:25',
 '22:45',
 '05:45',
 '18:35',
 '10:25',
 '10:25',
 '10:25',
 '10:25',
 '06:00',
 '07:30',
 '22:35',
 '20:00',
 '11:05',
 '17:00',
 '06:00',
 '06:00',
 '08:45',
 '10:25',
 '20:10']

In [100]:
dep_t=driver.find_elements("xpath",'//p[@class="bold fs-15 mb-2 pr time"]')
len(dep_t)

124

In [101]:
Dep_t=[]
for i in dep_t:
    Dep_t.append(i.text)
Dep_t

['18:20',
 '20:40',
 '22:15',
 '07:35',
 '07:50',
 '11:10',
 '00:10\n+ 1 day',
 '01:55',
 '20:50',
 '23:10',
 '08:45',
 '18:50',
 '09:20',
 '23:10',
 '07:40',
 '22:10',
 '10:15',
 '21:00',
 '11:35',
 '18:10',
 '17:45',
 '19:15',
 '23:50',
 '07:35',
 '23:40',
 '21:35',
 '09:55',
 '19:55',
 '14:00',
 '12:10',
 '21:35',
 '23:40',
 '22:35',
 '23:40',
 '12:10',
 '14:00',
 '17:15',
 '13:10',
 '22:35',
 '16:25',
 '16:15',
 '20:55',
 '07:50',
 '08:50',
 '13:20',
 '08:35',
 '15:50',
 '22:20',
 '00:25\n+ 1 day',
 '13:00',
 '23:45',
 '14:35',
 '10:45',
 '10:45',
 '08:45\n+ 1 day',
 '19:30',
 '19:30\n+ 1 day',
 '08:45\n+ 1 day',
 '10:35',
 '12:25',
 '22:35',
 '13:10',
 '22:15',
 '23:55',
 '14:45',
 '00:05\n+ 1 day',
 '16:15',
 '00:05\n+ 1 day',
 '16:15',
 '00:05\n+ 1 day',
 '16:15',
 '16:15',
 '20:15',
 '20:15',
 '08:15\n+ 1 day',
 '08:55\n+ 1 day',
 '20:15',
 '20:15',
 '08:55\n+ 1 day',
 '08:55\n+ 1 day',
 '08:55\n+ 1 day',
 '08:45\n+ 1 day',
 '19:30\n+ 1 day',
 '17:55',
 '19:30',
 '08:45\n+ 1 day',
 '15:55',
 '21:50\n+ 1 day',
 '19:30',
 '19:30',
 '19:30',
 '19:30\n+ 1 day',
 '19:30\n+ 1 day',
 '08:55\n+ 1 day',
 '23:20',
 '11:50',
 '18:50',
 '18:50',
 '22:40',
 '23:20',
 '20:25',
 '22:40',
 '18:50',
 '20:25',
 '23:20',
 '20:25',
 '10:50\n+ 1 day',
 '20:15',
 '10:30\n+ 1 day',
 '21:50',
 '19:30',
 '08:45\n+ 1 day',
 '08:45\n+ 1 day',
 '18:15',
 '17:05',
 '18:50\n+ 1 day',
 '18:50\n+ 1 day',
 '00:05\n+ 1 day',
 '18:15\n+ 1 day',
 '16:15',
 '20:15',
 '17:05',
 '17:05',
 '12:30\n+ 1 day']

In [102]:
duration_tag=driver.find_elements("xpath",'//p[@class="fs-12 bold du mb-2"]')
len(duration_tag)

124

In [103]:
Duration=[]
for i in duration_tag:
    Duration.append(i.text)
Duration

['1h 40m',
 '1h 40m',
 '1h 45m',
 '1h 55m',
 '1h 40m',
 '1h 40m',
 '1h 30m',
 '1h 45m',
 '1h 50m',
 '1h 50m',
 '1h 35m',
 '1h 40m',
 '1h 45m',
 '1h 40m',
 '1h 35m',
 '1h 40m',
 '1h 45m',
 '1h 55m',
 '1h 40m',
 '1h 40m',
 '1h 45m',
 '1h 45m',
 '1h 50m',
 '3h 30m',
 '3h 45m',
 '4h 05m',
 '4h 20m',
 '4h 25m',
 '4h 45m',
 '5h 10m',
 '5h 30m',
 '5h 35m',
 '5h 50m',
 '6h 10m',
 '6h 35m',
 '7h 00m',
 '7h 00m',
 '7h 05m',
 '7h 05m',
 '12h 20m',
 '1h 35m',
 '1h 45m',
 '1h 50m',
 '1h 50m',
 '1h 30m',
 '3h 40m',
 '4h 25m',
 '5h 25m',
 '7h 30m',
 '4h 10m',
 '5h 00m',
 '5h 45m',
 '1h 40m',
 '4h 25m',
 '11h 25m',
 '13h 10m',
 '22h 10m',
 '26h 25m',
 '4h 30m',
 '6h 05m',
 '4h 45m',
 '5h 55m',
 '4h 50m',
 '6h 30m',
 '1h 40m',
 '6h 05m',
 '6h 15m',
 '7h 05m',
 '7h 15m',
 '8h 05m',
 '8h 15m',
 '9h 15m',
 '10h 15m',
 '11h 15m',
 '11h 35m',
 '11h 55m',
 '12h 15m',
 '13h 15m',
 '13h 55m',
 '14h 55m',
 '15h 55m',
 '13h 25m',
 '24h 10m',
 '6h 45m',
 '8h 45m',
 '22h 00m',
 '4h 30m',
 '23h 55m',
 '12h 00m',
 '13h 00m',
 '13h 30m',
 '20h 45m',
 '21h 35m',
 '14h 20m',
 '5h 45m',
 '5h 50m',
 '6h 25m',
 '6h 55m',
 '6h 55m',
 '7h 35m',
 '8h 00m',
 '8h 00m',
 '8h 25m',
 '8h 30m',
 '8h 40m',
 '10h 00m',
 '12h 05m',
 '14h 30m',
 '15h 55m',
 '11h 25m',
 '9h 05m',
 '22h 20m',
 '22h 20m',
 '12h 15m',
 '9h 35m',
 '20h 15m',
 '22h 50m',
 '13h 00m',
 '25h 15m',
 '10h 15m',
 '14h 15m',
 '8h 20m',
 '6h 40m',
 '16h 20m']

In [104]:
total_s=driver.find_elements("xpath",'//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
len(total_s)

124

In [105]:
Total_s=[]
for i in total_s:
    Total_s.append(i.text)
Total_s

['Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 'Non Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 'Non Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '1 Stop',
 '1 Stop',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '1 Stop',
 '2 Stop(s)',
 '2 Stop(s)',
 '1 Stop',
 '1 Stop',
 '2 Stop(s)']

In [106]:
cost=driver.find_elements("xpath",'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
len(cost)

124

In [107]:
price=[]
for i in cost:
    price.append(i.text)
price

['2,721',
 '2,721',
 '2,826',
 '2,826',
 '3,246',
 '4,506',
 '4,787',
 '4,787',
 '5,042',
 '5,042',
 '5,101',
 '5,101',
 '5,101',
 '5,103',
 '5,154',
 '5,521',
 '5,521',
 '5,521',
 '5,941',
 '6,201',
 '6,426',
 '6,426',
 '6,722',
 '7,098',
 '7,098',
 '7,098',
 '7,098',
 '7,098',
 '7,098',
 '7,098',
 '7,098',
 '7,098',
 '7,098',
 '7,098',
 '7,098',
 '7,098',
 '7,098',
 '7,098',
 '7,098',
 '7,098',
 '7,516',
 '7,623',
 '7,623',
 '7,623',
 '7,936',
 '8,090',
 '8,090',
 '8,090',
 '8,090',
 '8,096',
 '8,096',
 '8,096',
 '8,148',
 '8,148',
 '8,148',
 '8,148',
 '8,148',
 '8,148',
 '8,201',
 '8,463',
 '8,526',
 '9,146',
 '9,198',
 '9,198',
 '9,872',
 '10,070',
 '10,070',
 '10,070',
 '10,070',
 '10,070',
 '10,070',
 '10,070',
 '10,070',
 '10,070',
 '10,070',
 '10,070',
 '10,070',
 '10,070',
 '10,070',
 '10,070',
 '10,070',
 '10,353',
 '10,353',
 '10,668',
 '10,878',
 '10,878',
 '12,516',
 '13,146',
 '13,356',
 '13,356',
 '13,356',
 '13,356',
 '13,356',
 '13,955',
 '14,057',
 '14,057',
 '14,057',
 '14,057',
 '14,057',
 '14,057',
 '14,057',
 '14,057',
 '14,057',
 '14,057',
 '14,057',
 '14,057',
 '14,057',
 '14,657',
 '15,645',
 '17,130',
 '17,281',
 '17,281',
 '17,281',
 '17,808',
 '18,365',
 '19,551',
 '19,551',
 '19,961',
 '20,223',
 '20,381',
 '20,381',
 '20,643',
 '21,168',
 '26,208']

In [108]:
add_tag=driver.find_elements("xpath",'//span[@class="text"]')
len(add_tag)

72

In [109]:
Add_info=[]
for i in add_tag:
    Add_info.append(i.text)
Add_info

['Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal']

In [110]:
flights3 = pd.DataFrame({})
flights3['Airline'] = Airline
flights3['Destination'] = list1
flights3['Source'] = list2
flights3['Arrival_time'] = Arr_t
flights3['Departure_time'] =Dep_t
flights3['Total_Stops']=Total_s
flights3['Total_Duration']=Duration
flights3['Additional_Info']=pd.Series(Add_info)
flights3['Price']=price
flights3

,Airline,Destination,Source,Arrival_time,Departure_time,Total_Stops,Total_Duration,Additional_Info,Price
0,Air India,Bangalore,Mumbai,16:40,18:20,Non Stop,1h 40m,Free Meal,"2,721"
1,Air India,Bangalore,Mumbai,19:00,20:40,Non Stop,1h 40m,Free Meal,"2,721"
2,Go First,Bangalore,Mumbai,20:30,22:15,Non Stop,1h 45m,Free Meal,"2,826"
3,Go First,Bangalore,Mumbai,05:40,07:35,Non Stop,1h 55m,Free Meal,"2,826"
4,Air India,Bangalore,Mumbai,06:10,07:50,Non Stop,1h 40m,Free Meal,"3,246"
...,...,...,...,...,...,...,...,...,...
119,Air India,Bangalore,Mumbai,06:00,16:15,2 Stop(s),10h 15m,NaN,"20,381"
120,Air India,Bangalore,Mumbai,06:00,20:15,2 Stop(s),14h 15m,NaN,"20,381"
121,Vistara,Bangalore,Mumbai,08:45,17:05,1 Stop,8h 20m,NaN,"20,643"
122,Vistara,Bangalore,Mumbai,10:25,17:05,1 Stop,6h 40m,NaN,"21,168"
123,Air India,Bangalore,Mumbai,20:10,12:30\n+ 1 day,2 Stop(s),16h 20m,NaN,"26,208"

# Scrapping data for Mumbai and Goa Loacation

In [111]:
Flight2=pd.concat([flights2,flights3],ignore_index=True)

In [112]:
Flight2.shape

(249, 9)

In [113]:
Flight2.head()

,Airline,Destination,Source,Arrival_time,Departure_time,Total_Stops,Total_Duration,Additional_Info,Price
0,SpiceJet,Hyderabad,New Delhi,18:20,20:25,Non Stop,2h 05m,Free Meal,"5,952"
1,Go First,Hyderabad,New Delhi,05:45,07:55,Non Stop,2h 10m,Free Meal,"5,952"
2,Go First,Hyderabad,New Delhi,18:05,20:25,Non Stop,2h 20m,Free Meal,"5,952"
3,SpiceJet,Hyderabad,New Delhi,21:55,00:15\n+ 1 day,Non Stop,2h 20m,Free Meal,"5,952"
4,IndiGo,Hyderabad,New Delhi,12:45,14:50,Non Stop,2h 05m,Free Meal,"5,954"

In [114]:
url='https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=GOI&destinationCountry=IN&flexi=0&flight_depart_date=23%2F09%2F2022&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=1663576712823&viewName=normal'
driver.get(url)

In [116]:
airline=driver.find_elements("xpath",'//span[@class="i-b text ellipsis"]')
len(airline)

87

In [117]:
Airline=[]
for i in airline:
    Airline.append(i.text)
Airline

['Go First',
 'Go First',
 'Go First',
 'Air Asia',
 'Alliance Air',
 'SpiceJet',
 'Air Asia',
 'IndiGo',
 'IndiGo',
 'SpiceJet',
 'Air India',
 'IndiGo',
 'SpiceJet',
 'Air India',
 'Go First',
 'IndiGo',
 'Air India',
 'Vistara',
 'SpiceJet',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air Asia',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Vistara',
 'Vistara',
 'Air Asia',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Vistara',
 'Air India',
 'Vistara',
 'Vistara',
 'Air Asia',
 'Vistara',
 'Vistara',
 'Air India',
 'Vistara',
 'IndiGo',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Air India',
 'Vistara',
 'Air Asia',
 'Vistara',
 'Vistara',
 'Vistara',
 'Air India',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara']

In [118]:
flight_no=driver.find_elements("xpath",'//p[@class="normal fs-11 font-lightestgrey no-wrap fl-no"]')
len(flight_no)

87

In [119]:
Flight_no=[]
for i in flight_no:
    Flight_no.append(i.text)
Flight_no

['G8-371',
 'G8-382',
 'G8-575',
 'I5-679',
 '9I-657',
 'SG-453',
 'I5-331',
 '6E-711',
 '6E-399',
 'SG-2697/3419',
 'AI-683',
 '6E-977',
 'SG-455',
 'AI-663',
 'G8-331',
 '6E-128',
 'AI-685',
 'UK-841',
 'SG-488',
 'AI-687/883',
 'AI-677/883',
 'AI-866/883',
 'AI-806/883',
 'AI-864/883',
 'AI-687/885',
 'AI-677/885',
 'AI-866/885',
 'I5-338/1458',
 'AI-660/883',
 'AI-442/883',
 'AI-809/883',
 'AI-660/885',
 'AI-442/885',
 'AI-809/885',
 'AI-637/532/885',
 'AI-637/818/885',
 'AI-637/532/883',
 'AI-637/482/883',
 'AI-637/818/883',
 'UK-851/867',
 'UK-863/867',
 'I5-1784/816',
 'AI-635/883',
 'AI-635/885',
 'AI-625/812/885',
 'AI-864/885',
 'AI-816/885',
 'AI-816/883',
 'UK-869/860/847',
 'AI-888/883',
 'UK-944/855',
 'UK-994/855',
 'I5-1569/816',
 'UK-910/847',
 'UK-902/847',
 'AI-615/541/883',
 'UK-988/855',
 '6E-179',
 'UK-988/847',
 'UK-952/855',
 'UK-960/855',
 'UK-930/855',
 'UK-928/855',
 'UK-954/855',
 'UK-857/867',
 'UK-970/855',
 'AI-619/559/885',
 'UK-996/855',
 'I5-338/816',
 'UK-843/867',
 'UK-996/847',
 'UK-940/855',
 'AI-617/541/883',
 'UK-853/867',
 'UK-940/847',
 'UK-930/847',
 'UK-928/847',
 'UK-954/847',
 'UK-954/801/867',
 'UK-845/867',
 'UK-986/811/867',
 'UK-986/815/867',
 'UK-950/811/867',
 'UK-950/815/867',
 'UK-986/801/867',
 'UK-950/801/867',
 'UK-865/867']

In [120]:
source=driver.find_elements('xpath','//p[@class="fs-10 font-lightgrey no-wrap city ellipsis"]')
len(source)

174

In [121]:
sources=[]
for i in source:
    sources.append(i.text)
sources

['Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa',
 'Mumbai',
 'Goa']

In [122]:
list1 = [sources[i] for i in range(len(sources)) if i % 2 != 0]

In [123]:
list1

['Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa',
 'Goa']

In [124]:
list2=sources[::2]

In [125]:
list2

['Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai']

In [126]:
arr_t=driver.find_elements("xpath",'//div[@class="fs-15 bold time"]')
len(arr_t)

87

In [127]:
Arr_t=[]
for i in arr_t:
    Arr_t.append(i.text)
Arr_t

['16:50',
 '15:20',
 '05:00',
 '20:40',
 '19:30',
 '01:45',
 '04:05',
 '14:00',
 '16:55',
 '20:35',
 '21:00',
 '22:20',
 '15:35',
 '13:25',
 '11:30',
 '04:55',
 '05:05',
 '11:25',
 '11:15',
 '16:00',
 '13:00',
 '09:00',
 '08:00',
 '07:00',
 '16:00',
 '13:00',
 '09:00',
 '19:00',
 '18:00',
 '17:00',
 '10:00',
 '18:00',
 '17:00',
 '10:00',
 '18:35',
 '18:35',
 '18:35',
 '18:35',
 '18:35',
 '07:00',
 '09:05',
 '22:00',
 '07:20',
 '07:20',
 '11:15',
 '07:00',
 '21:00',
 '21:00',
 '21:20',
 '19:00',
 '14:40',
 '10:25',
 '21:20',
 '17:35',
 '15:45',
 '06:00',
 '20:55',
 '11:25',
 '20:55',
 '12:25',
 '11:55',
 '07:30',
 '06:30',
 '06:00',
 '21:30',
 '08:45',
 '20:10',
 '18:30',
 '19:00',
 '17:30',
 '18:30',
 '19:45',
 '11:05',
 '16:00',
 '19:45',
 '07:30',
 '06:30',
 '06:00',
 '06:00',
 '06:00',
 '22:45',
 '22:45',
 '21:55',
 '21:55',
 '22:45',
 '21:55',
 '19:10']

In [128]:
dep_t=driver.find_elements("xpath",'//p[@class="bold fs-15 mb-2 pr time"]')
len(dep_t)

87

In [129]:
Dep_t=[]
for i in dep_t:
    Dep_t.append(i.text)
Dep_t

['18:00',
 '16:35',
 '06:15',
 '22:00',
 '20:55',
 '03:15',
 '05:05',
 '15:15',
 '18:10',
 '12:50\n+ 1 day',
 '22:20',
 '23:30',
 '17:05',
 '14:35',
 '12:45',
 '06:15',
 '06:20',
 '12:45',
 '12:55',
 '00:40\n+ 1 day',
 '00:40\n+ 1 day',
 '00:40\n+ 1 day',
 '00:40\n+ 1 day',
 '00:40\n+ 1 day',
 '13:35\n+ 1 day',
 '13:35\n+ 1 day',
 '13:35\n+ 1 day',
 '00:45\n+ 1 day',
 '00:40\n+ 1 day',
 '00:40\n+ 1 day',
 '00:40\n+ 1 day',
 '13:35\n+ 1 day',
 '13:35\n+ 1 day',
 '13:35\n+ 1 day',
 '13:35\n+ 1 day',
 '13:35\n+ 1 day',
 '00:40\n+ 2 days',
 '00:40\n+ 2 days',
 '00:40\n+ 2 days',
 '14:05',
 '14:05',
 '05:55\n+ 1 day',
 '00:40\n+ 1 day',
 '13:35\n+ 1 day',
 '13:35\n+ 1 day',
 '13:35',
 '13:35\n+ 1 day',
 '00:40\n+ 2 days',
 '13:50\n+ 1 day',
 '00:40\n+ 1 day',
 '21:20',
 '21:20',
 '05:55\n+ 1 day',
 '13:50\n+ 1 day',
 '13:50\n+ 1 day',
 '00:40\n+ 1 day',
 '21:20\n+ 1 day',
 '12:40',
 '13:50\n+ 1 day',
 '21:20',
 '21:20',
 '21:20',
 '21:20',
 '21:20',
 '14:05\n+ 1 day',
 '21:20',
 '13:35\n+ 1 day',
 '21:20\n+ 1 day',
 '05:55\n+ 1 day',
 '14:05\n+ 1 day',
 '13:50\n+ 1 day',
 '21:20\n+ 1 day',
 '00:40\n+ 1 day',
 '14:05\n+ 1 day',
 '13:50\n+ 1 day',
 '13:50',
 '13:50',
 '13:50',
 '14:05',
 '14:05',
 '14:05\n+ 1 day',
 '14:05\n+ 1 day',
 '14:05\n+ 1 day',
 '14:05\n+ 1 day',
 '14:05\n+ 1 day',
 '14:05\n+ 1 day',
 '14:05\n+ 1 day']

In [130]:
total_s=driver.find_elements("xpath",'//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
len(total_s)

87

In [131]:
Total_s=[]
for i in total_s:
    Total_s.append(i.text)
Total_s

['Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 '1 Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '2 Stop(s)',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '2 Stop(s)',
 '1 Stop',
 'Non Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '2 Stop(s)',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '2 Stop(s)',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '2 Stop(s)',
 '1 Stop',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '1 Stop']

In [132]:
cost=driver.find_elements("xpath",'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
len(cost)

87

In [133]:
price=[]
for i in cost:
    price.append(i.text)
price

['4,259',
 '4,259',
 '4,518',
 '4,574',
 '4,574',
 '4,998',
 '5,414',
 '5,523',
 '5,523',
 '5,942',
 '6,258',
 '6,468',
 '6,678',
 '9,303',
 '9,541',
 '11,403',
 '11,928',
 '12,243',
 '12,348',
 '12,978',
 '12,978',
 '12,978',
 '12,978',
 '12,978',
 '12,978',
 '12,978',
 '12,978',
 '13,188',
 '13,503',
 '13,503',
 '13,503',
 '13,503',
 '13,503',
 '13,503',
 '13,955',
 '13,955',
 '13,955',
 '13,955',
 '13,955',
 '14,238',
 '15,393',
 '15,498',
 '15,603',
 '15,603',
 '15,635',
 '15,708',
 '16,128',
 '16,128',
 '16,396',
 '16,496',
 '16,714',
 '16,714',
 '16,723',
 '16,790',
 '16,790',
 '16,863',
 '17,178',
 '17,494',
 '17,840',
 '18,121',
 '18,121',
 '18,121',
 '18,121',
 '18,121',
 '18,438',
 '18,646',
 '18,753',
 '18,753',
 '18,929',
 '18,963',
 '19,415',
 '19,488',
 '19,593',
 '19,593',
 '20,150',
 '20,643',
 '20,643',
 '20,643',
 '20,672',
 '20,853',
 '24,064',
 '24,064',
 '24,064',
 '24,064',
 '24,872',
 '24,872',
 '25,053']

In [134]:
duration_tag=driver.find_elements("xpath",'//p[@class="fs-12 bold du mb-2"]')
len(duration_tag)

87

In [135]:
Duration=[]
for i in duration_tag:
    Duration.append(i.text)
Duration

['1h 10m',
 '1h 15m',
 '1h 15m',
 '1h 20m',
 '1h 25m',
 '1h 30m',
 '1h 00m',
 '1h 15m',
 '1h 15m',
 '16h 15m',
 '1h 20m',
 '1h 10m',
 '1h 30m',
 '1h 10m',
 '1h 15m',
 '1h 20m',
 '1h 15m',
 '1h 20m',
 '1h 40m',
 '8h 40m',
 '11h 40m',
 '15h 40m',
 '16h 40m',
 '17h 40m',
 '21h 35m',
 '24h 35m',
 '28h 35m',
 '5h 45m',
 '6h 40m',
 '7h 40m',
 '14h 40m',
 '19h 35m',
 '20h 35m',
 '27h 35m',
 '19h 00m',
 '19h 00m',
 '30h 05m',
 '30h 05m',
 '30h 05m',
 '7h 05m',
 '5h 00m',
 '7h 55m',
 '17h 20m',
 '30h 15m',
 '26h 20m',
 '6h 35m',
 '16h 35m',
 '27h 40m',
 '16h 30m',
 '5h 40m',
 '6h 40m',
 '10h 55m',
 '8h 35m',
 '20h 15m',
 '22h 05m',
 '18h 40m',
 '24h 25m',
 '1h 15m',
 '16h 55m',
 '8h 55m',
 '9h 25m',
 '13h 50m',
 '14h 50m',
 '15h 20m',
 '16h 35m',
 '12h 35m',
 '17h 25m',
 '26h 50m',
 '10h 55m',
 '20h 35m',
 '19h 20m',
 '25h 35m',
 '13h 35m',
 '22h 05m',
 '18h 05m',
 '6h 20m',
 '7h 20m',
 '7h 50m',
 '8h 05m',
 '8h 05m',
 '15h 20m',
 '15h 20m',
 '16h 10m',
 '16h 10m',
 '15h 20m',
 '16h 10m',
 '18h 55m']

In [136]:
add_tag=driver.find_elements("xpath",'//span[@class="text"]')
len(add_tag)

68

In [137]:
Addd_info=[]
for i in add_tag:
    Add_info.append(i.text)
Add_info

['Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'No Meal Fare',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal']

In [138]:
flights4 = pd.DataFrame({})
flights4['Airline'] = Airline
flights4['Destination'] = list1
flights4['Source'] = list2
flights4['Arrival_time'] = Arr_t
flights4['Departure_time'] =Dep_t
flights4['Total_Stops']=Total_s
flights4['Total_Duration'] = Duration
flights4['Additional_Info']=pd.Series(Add_info)
flights4['Price']=price
flights4

,Airline,Destination,Source,Arrival_time,Departure_time,Total_Stops,Total_Duration,Additional_Info,Price
0,Go First,Goa,Mumbai,16:50,18:00,Non Stop,1h 10m,Free Meal,"4,259"
1,Go First,Goa,Mumbai,15:20,16:35,Non Stop,1h 15m,Free Meal,"4,259"
2,Go First,Goa,Mumbai,05:00,06:15,Non Stop,1h 15m,Free Meal,"4,518"
3,Air Asia,Goa,Mumbai,20:40,22:00,Non Stop,1h 20m,Free Meal,"4,574"
4,Alliance Air,Goa,Mumbai,19:30,20:55,Non Stop,1h 25m,Free Meal,"4,574"
...,...,...,...,...,...,...,...,...,...
82,Vistara,Goa,Mumbai,21:55,14:05\n+ 1 day,2 Stop(s),16h 10m,Free Meal,"24,064"
83,Vistara,Goa,Mumbai,21:55,14:05\n+ 1 day,2 Stop(s),16h 10m,Free Meal,"24,064"
84,Vistara,Goa,Mumbai,22:45,14:05\n+ 1 day,2 Stop(s),15h 20m,Free Meal,"24,872"
85,Vistara,Goa,Mumbai,21:55,14:05\n+ 1 day,2 Stop(s),16h 10m,Free Meal,"24,872"
86,Vistara,Goa,Mumbai,19:10,14:05\n+ 1 day,1 Stop,18h 55m,Free Meal,"25,053"

# Scrapping data for Banglore and Lucknow Loacation

In [141]:
url='https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=LKO&destinationCountry=IN&flexi=0&flight_depart_date=21%2F09%2F2022&hb=0&noOfSegments=1&origin=BLR&originCountry=IN&type=O&unique=1663659417671&viewName=normal'
driver.get(url)

In [142]:
airline=driver.find_elements("xpath",'//span[@class="i-b text ellipsis"]')
len(airline)

85

In [143]:
Airline=[]
for i in airline:
    Airline.append(i.text)
Airline

['Air Asia',
 'IndiGo',
 'Air Asia',
 'IndiGo',
 'IndiGo',
 'Vistara',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'Vistara',
 'Vistara',
 'Air Asia',
 'Air Asia',
 'Vistara',
 'IndiGo',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'IndiGo',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Vistara',
 'IndiGo',
 'Vistara',
 'Vistara',
 'Vistara',
 'Air Asia',
 'Air Asia',
 'Air Asia',
 'IndiGo',
 'Go First',
 'Go First',
 'Air India',
 'Vistara',
 'Vistara',
 'IndiGo',
 'IndiGo',
 'Vistara',
 'Vistara',
 'Vistara',
 'IndiGo',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air Asia',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara']

In [144]:
flight_no=driver.find_elements("xpath",'//p[@class="normal fs-11 font-lightestgrey no-wrap fl-no"]')
len(flight_no)

85

In [145]:
Flight_no=[]
for i in flight_no:
    Flight_no.append(i.text)
Flight_no

['I5-2472',
 '6E-196',
 'I5-1533',
 '6E-451',
 '6E-6353',
 'UK-802/641',
 '6E-852/518',
 '6E-2174/2084',
 '6E-541/6311',
 '6E-6317/7127',
 '6E-738/5391',
 '6E-6991/307',
 '6E-488/5228',
 '6E-6379/5339',
 '6E-6825/6311',
 '6E-2147/2084',
 '6E-6595/935',
 '6E-5251/5391',
 '6E-869/6184',
 '6E-6491/866',
 '6E-6269/6311',
 '6E-5354/5339',
 '6E-6779/6244',
 '6E-5323/5228',
 '6E-2514/2084',
 '6E-6345/6811',
 'UK-818/641',
 'UK-816/641',
 'I5-1451/550',
 'I5-1622/550',
 'UK-814/641',
 '6E-2053/307',
 'UK-806/641',
 'UK-820/641',
 'UK-897/870/641',
 'UK-897/890/641',
 'UK-897/880/641',
 '6E-2401/2006',
 'AI-501/811',
 'AI-507/811',
 'AI-505/811',
 'AI-808/431',
 'AI-509/431',
 'AI-503/431',
 'AI-808/811',
 'AI-501/431',
 'AI-509/811',
 'AI-507/431',
 'AI-503/811',
 'AI-505/431',
 'AI-640/625',
 'AI-642/625',
 'AI-610/625',
 'UK-657/638/641',
 '6E-2514/682',
 'UK-915/914/641',
 'UK-915/934/641',
 'UK-897/860/641',
 'I5-1730/550',
 'I5-741/550',
 'I5-1730/548',
 '6E-2401/682',
 'G8-395/306',
 'G8-395/397',
 'AI-804/811',
 'UK-893/830/641',
 'UK-893/860/641',
 '6E-6439/6488',
 '6E-172/997',
 'UK-897/830/641',
 'UK-867/856/641',
 'UK-864/994/641',
 '6E-227/6488',
 'AI-604/677/811',
 'AI-640/677/811',
 'AI-640/809/811',
 'AI-642/635/431',
 'I5-1453/330',
 'UK-657/707/641',
 'UK-850/994/641',
 'UK-854/994/641',
 'UK-808/641',
 'UK-866/994/641',
 'UK-866/954/641',
 'UK-866/970/641']

In [146]:
source=driver.find_elements('xpath','//p[@class="fs-10 font-lightgrey no-wrap city ellipsis"]')
len(source)

170

In [147]:
sources=[]
for i in source:
    sources.append(i.text)
sources

['Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow',
 'Bangalore',
 'Lucknow']

In [148]:
list1 = [sources[i] for i in range(len(sources)) if i % 2 != 0]

In [149]:
list1

['Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow',
 'Lucknow']

In [150]:
list2=sources[::2]

In [151]:
list2

['Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore']

In [152]:
arr_t=driver.find_elements("xpath",'//div[@class="fs-15 bold time"]')
len(arr_t)

85

In [153]:
Arr_t=[]
for i in arr_t:
    Arr_t.append(i.text)
Arr_t

['06:50',
 '13:20',
 '14:00',
 '18:20',
 '06:05',
 '18:45',
 '10:20',
 '18:00',
 '09:35',
 '18:25',
 '17:50',
 '00:45',
 '10:00',
 '12:20',
 '08:05',
 '16:20',
 '13:55',
 '16:50',
 '11:45',
 '12:50',
 '07:00',
 '11:00',
 '01:40',
 '08:20',
 '14:55',
 '13:00',
 '19:40',
 '11:30',
 '05:40',
 '10:55',
 '21:15',
 '23:05',
 '09:45',
 '17:45',
 '07:45',
 '07:45',
 '07:45',
 '13:55',
 '13:20',
 '11:15',
 '10:00',
 '21:20',
 '19:15',
 '17:00',
 '21:20',
 '13:20',
 '19:15',
 '11:15',
 '17:00',
 '10:00',
 '06:45',
 '21:20',
 '19:10',
 '11:30',
 '14:55',
 '17:30',
 '17:30',
 '07:45',
 '18:15',
 '11:15',
 '18:15',
 '13:55',
 '08:10',
 '08:10',
 '06:10',
 '20:10',
 '20:10',
 '07:45',
 '13:40',
 '07:45',
 '12:45',
 '18:55',
 '06:30',
 '08:25',
 '06:45',
 '06:45',
 '21:20',
 '13:40',
 '11:30',
 '19:55',
 '18:25',
 '08:00',
 '21:40',
 '21:40',
 '21:40']

In [154]:
dep_t=driver.find_elements("xpath",'//p[@class="bold fs-15 mb-2 pr time"]')
len(dep_t)

85

In [155]:
Dep_t=[]
for i in dep_t:
    Dep_t.append(i.text)
Dep_t

['09:15',
 '15:45',
 '16:25',
 '20:45',
 '08:35',
 '14:45\n+ 1 day',
 '17:25',
 '22:40',
 '14:25',
 '23:30',
 '23:35',
 '06:40',
 '16:00',
 '18:25',
 '14:25',
 '22:40',
 '20:35',
 '23:35',
 '18:35',
 '19:45',
 '14:25',
 '18:25',
 '09:15',
 '16:00',
 '22:40',
 '20:55',
 '14:45\n+ 1 day',
 '14:45\n+ 1 day',
 '23:15',
 '23:15',
 '14:45\n+ 1 day',
 '06:40\n+ 1 day',
 '14:45',
 '14:45\n+ 1 day',
 '14:45\n+ 1 day',
 '14:45\n+ 1 day',
 '14:45\n+ 1 day',
 '19:50',
 '19:35',
 '19:35',
 '19:35',
 '13:25\n+ 1 day',
 '13:25\n+ 1 day',
 '13:25\n+ 1 day',
 '19:35\n+ 1 day',
 '13:25\n+ 1 day',
 '19:35\n+ 1 day',
 '13:25\n+ 1 day',
 '19:35\n+ 1 day',
 '13:25\n+ 1 day',
 '13:20',
 '13:20\n+ 1 day',
 '13:20\n+ 1 day',
 '14:45\n+ 1 day',
 '21:45',
 '14:45\n+ 1 day',
 '14:45\n+ 1 day',
 '14:45\n+ 1 day',
 '23:15',
 '23:15',
 '08:20\n+ 1 day',
 '21:45',
 '13:05',
 '19:55',
 '19:35',
 '14:45\n+ 1 day',
 '14:45\n+ 1 day',
 '13:45',
 '20:30',
 '14:45',
 '14:45\n+ 1 day',
 '14:45\n+ 1 day',
 '13:45',
 '19:35',
 '19:35',
 '19:35',
 '13:25\n+ 1 day',
 '20:20',
 '14:45\n+ 1 day',
 '14:45\n+ 1 day',
 '14:45\n+ 1 day',
 '14:45',
 '14:45\n+ 1 day',
 '14:45\n+ 1 day',
 '14:45\n+ 1 day']

In [156]:
total_s=driver.find_elements("xpath",'//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
len(total_s)

85

In [157]:
Total_s=[]
for i in total_s:
    Total_s.append(i.text)
Total_s

['Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '2 Stop(s)',
 '2 Stop(s)',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '2 Stop(s)',
 '1 Stop',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '2 Stop(s)',
 '2 Stop(s)',
 '1 Stop',
 '1 Stop',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '1 Stop',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '3 Stop(s)',
 '1 Stop',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '1 Stop',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)']

In [158]:
cost=driver.find_elements("xpath",'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
len(cost)

85

In [159]:
price=[]
for i in cost:
    price.append(i.text)
price

['6,412',
 '6,412',
 '6,412',
 '6,412',
 '6,412',
 '7,310',
 '7,579',
 '7,684',
 '7,684',
 '7,684',
 '7,684',
 '7,684',
 '7,684',
 '7,684',
 '7,684',
 '7,684',
 '7,684',
 '7,684',
 '7,684',
 '7,684',
 '7,684',
 '7,684',
 '7,684',
 '7,684',
 '7,684',
 '7,684',
 '8,041',
 '8,041',
 '8,470',
 '8,769',
 '8,772',
 '8,976',
 '10,145',
 '10,145',
 '10,236',
 '10,236',
 '10,236',
 '10,267',
 '10,341',
 '10,341',
 '10,341',
 '10,341',
 '10,341',
 '10,341',
 '10,341',
 '10,341',
 '10,341',
 '10,341',
 '10,341',
 '10,341',
 '10,342',
 '10,342',
 '10,342',
 '10,909',
 '10,913',
 '11,072',
 '11,072',
 '11,107',
 '11,490',
 '11,490',
 '11,490',
 '11,559',
 '11,596',
 '11,596',
 '12,031',
 '12,220',
 '12,220',
 '12,850',
 '12,850',
 '12,858',
 '13,400',
 '13,734',
 '14,142',
 '14,227',
 '14,227',
 '14,227',
 '14,227',
 '14,746',
 '15,093',
 '16,254',
 '16,254',
 '18,499',
 '19,614',
 '20,246',
 '29,209']

In [160]:
duration_tag=driver.find_elements("xpath",'//p[@class="fs-12 bold du mb-2"]')
len(duration_tag)

85

In [161]:
Duration=[]
for i in duration_tag:
    Duration.append(i.text)
Duration

['2h 25m',
 '2h 25m',
 '2h 25m',
 '2h 25m',
 '2h 30m',
 '20h 00m',
 '7h 05m',
 '4h 40m',
 '4h 50m',
 '5h 05m',
 '5h 45m',
 '5h 55m',
 '6h 00m',
 '6h 05m',
 '6h 20m',
 '6h 20m',
 '6h 40m',
 '6h 45m',
 '6h 50m',
 '6h 55m',
 '7h 25m',
 '7h 25m',
 '7h 35m',
 '7h 40m',
 '7h 45m',
 '7h 55m',
 '19h 05m',
 '27h 15m',
 '17h 35m',
 '12h 20m',
 '17h 30m',
 '7h 35m',
 '5h 00m',
 '21h 00m',
 '31h 00m',
 '31h 00m',
 '31h 00m',
 '5h 55m',
 '6h 15m',
 '8h 20m',
 '9h 35m',
 '16h 05m',
 '18h 10m',
 '20h 25m',
 '22h 15m',
 '24h 05m',
 '24h 20m',
 '26h 10m',
 '26h 35m',
 '27h 25m',
 '6h 35m',
 '16h 00m',
 '18h 10m',
 '27h 15m',
 '6h 50m',
 '21h 15m',
 '21h 15m',
 '31h 00m',
 '5h 00m',
 '12h 00m',
 '14h 05m',
 '7h 50m',
 '4h 55m',
 '11h 45m',
 '13h 25m',
 '18h 35m',
 '18h 35m',
 '6h 00m',
 '6h 50m',
 '7h 00m',
 '26h 00m',
 '19h 50m',
 '7h 15m',
 '11h 10m',
 '12h 50m',
 '12h 50m',
 '16h 05m',
 '6h 40m',
 '27h 15m',
 '18h 50m',
 '20h 20m',
 '6h 45m',
 '17h 05m',
 '17h 05m',
 '17h 05m']

In [162]:
add_tag=driver.find_elements("xpath",'//span[@class="text"]')
len(add_tag)

45

In [163]:
Add_info=[]
for i in add_tag:
    Add_info.append(i.text)
Add_info

['Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal']

In [164]:
flights5 = pd.DataFrame({})
flights5['Airline'] = Airline
flights5['Destination'] = list1
flights5['Source'] = list2
flights5['Arrival_time'] = Arr_t
flights5['Departure_time'] =Dep_t
flights5['Total_Stops']=Total_s
flights5['Total_Duration'] = Duration
flights5['Additional_Info']=pd.Series(Add_info)
flights5['Price']=price
flights5

,Airline,Destination,Source,Arrival_time,Departure_time,Total_Stops,Total_Duration,Additional_Info,Price
0,Air Asia,Lucknow,Bangalore,06:50,09:15,Non Stop,2h 25m,Free Meal,"6,412"
1,IndiGo,Lucknow,Bangalore,13:20,15:45,Non Stop,2h 25m,Free Meal,"6,412"
2,Air Asia,Lucknow,Bangalore,14:00,16:25,Non Stop,2h 25m,Free Meal,"6,412"
3,IndiGo,Lucknow,Bangalore,18:20,20:45,Non Stop,2h 25m,Free Meal,"6,412"
4,IndiGo,Lucknow,Bangalore,06:05,08:35,Non Stop,2h 30m,Free Meal,"6,412"
...,...,...,...,...,...,...,...,...,...
80,Vistara,Lucknow,Bangalore,18:25,14:45\n+ 1 day,2 Stop(s),20h 20m,NaN,"16,254"
81,Vistara,Lucknow,Bangalore,08:00,14:45,1 Stop,6h 45m,NaN,"18,499"
82,Vistara,Lucknow,Bangalore,21:40,14:45\n+ 1 day,2 Stop(s),17h 05m,NaN,"19,614"
83,Vistara,Lucknow,Bangalore,21:40,14:45\n+ 1 day,2 Stop(s),17h 05m,NaN,"20,246"
84,Vistara,Lucknow,Bangalore,21:40,14:45\n+ 1 day,2 Stop(s),17h 05m,NaN,"29,209"

# Scrapping data for Banglore and Kolkata Loacation

In [165]:
Flight3=pd.concat([flights4,flights5],ignore_index=True)

In [166]:
Flight3.shape

(172, 9)

In [167]:
Flights=pd.concat([Flight1,Flight2,Flight3],ignore_index=True)

In [168]:
Flights.shape

(659, 9)

In [169]:
url='https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=BLR&originCountry=IN&destination=CCU&destinationCountry=IN&flight_depart_date=20%2F09%2F2022&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=806836507913'
driver.get(url)

In [170]:
airline=driver.find_elements("xpath",'//span[@class="i-b text ellipsis"]')
len(airline)

75

In [171]:
Airline=[]
for i in airline:
    Airline.append(i.text)
Airline

['Go First',
 'Go First',
 'SpiceJet',
 'SpiceJet',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'IndiGo',
 'IndiGo',
 'Air India',
 'Air India',
 'IndiGo',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Air Asia',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'IndiGo',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Go First',
 'Vistara',
 'Vistara',
 'Vistara',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Air India',
 'Air India',
 'Vistara',
 'Air India',
 'Air India',
 'Vistara',
 'Vistara',
 'Air India',
 'Air India',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Air Asia',
 'Vistara']

In [172]:
flight_no=driver.find_elements("xpath",'//p[@class="normal fs-11 font-lightestgrey no-wrap fl-no"]')
len(flight_no)

75

In [173]:
Flight_no=[]
for i in flight_no:
    Flight_no.append(i.text)
Flight_no

['G8-118/101',
 'G8-803/532',
 'SG-536/8263',
 'SG-536/8251',
 '6E-538',
 '6E-676',
 '6E-952',
 'UK-850/775',
 'UK-864/775',
 'UK-850/773',
 'UK-864/773',
 '6E-978/7205',
 '6E-684/664',
 'AI-642/675',
 'AI-610/675',
 '6E-684/6494',
 'UK-818/747',
 'UK-818/737',
 'UK-818/707',
 'UK-818/727',
 'I5-992',
 '6E-855/6494',
 '6E-217',
 '6E-6067/944',
 '6E-638/6494',
 'UK-820/747',
 'UK-820/737',
 'UK-820/707',
 'UK-854/775',
 'UK-854/773',
 '6E-6572',
 'UK-850/771',
 'UK-864/771',
 'UK-854/771',
 'UK-915/934/747',
 'UK-915/934/737',
 'UK-915/914/737',
 'UK-915/934/707',
 'UK-915/914/707',
 'UK-915/934/727',
 'UK-915/914/727',
 'G8-399/511',
 'UK-802/747',
 'UK-802/737',
 'UK-802/707',
 'AI-503/762',
 'AI-808/767',
 'AI-509/767',
 'AI-503/767',
 'AI-808/764',
 'AI-509/764',
 'AI-808/762',
 'AI-503/764',
 'AI-509/762',
 'UK-818/705',
 'UK-802/705',
 'UK-820/705',
 'UK-893/872/775',
 'AI-642/774',
 'AI-610/774',
 'UK-915/934/705',
 'AI-503/605/675',
 'AI-503/814/675',
 'UK-864/950/747',
 'UK-864/950/705',
 'AI-808/889/734',
 'AI-509/889/734',
 'UK-553/992/747',
 'UK-553/992/705',
 'UK-866/775',
 'UK-866/773',
 'UK-854/950/747',
 'UK-866/771',
 'I5-1455',
 'UK-854/988/747']

In [174]:
source=driver.find_elements('xpath','//p[@class="fs-10 font-lightgrey no-wrap city ellipsis"]')
len(source)

150

In [175]:
sources=[]
for i in source:
    sources.append(i.text)
sources

['Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata']

In [176]:
list1 = [sources[i] for i in range(len(sources)) if i % 2 != 0]

In [177]:
list1

['Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata']

In [178]:
list2=sources[::2]

In [179]:
list2

['Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore']

In [180]:
arr_t=driver.find_elements("xpath",'//div[@class="fs-15 bold time"]')
len(arr_t)

75

In [181]:
Arr_t=[]
for i in arr_t:
    Arr_t.append(i.text)
Arr_t

['21:05',
 '18:45',
 '17:30',
 '17:30',
 '22:25',
 '19:55',
 '23:25',
 '19:55',
 '18:55',
 '19:55',
 '18:55',
 '16:10',
 '22:10',
 '21:20',
 '19:10',
 '22:10',
 '19:40',
 '19:40',
 '19:40',
 '19:40',
 '23:35',
 '21:15',
 '18:10',
 '16:00',
 '18:50',
 '17:45',
 '17:45',
 '17:45',
 '18:25',
 '18:25',
 '15:25',
 '19:55',
 '18:55',
 '18:25',
 '17:30',
 '17:30',
 '17:30',
 '17:30',
 '17:30',
 '17:30',
 '17:30',
 '21:00',
 '18:45',
 '18:45',
 '18:45',
 '17:10',
 '21:20',
 '19:15',
 '17:10',
 '21:20',
 '19:15',
 '21:20',
 '17:10',
 '19:15',
 '19:40',
 '18:45',
 '17:45',
 '20:10',
 '21:20',
 '19:10',
 '17:30',
 '17:10',
 '17:10',
 '18:55',
 '18:55',
 '21:20',
 '19:15',
 '16:45',
 '16:45',
 '21:40',
 '21:40',
 '18:25',
 '21:40',
 '17:10',
 '18:25']

In [182]:
dep_t=driver.find_elements("xpath",'//p[@class="bold fs-15 mb-2 pr time"]')
len(dep_t)

75

In [183]:
Dep_t=[]
for i in dep_t:
    Dep_t.append(i.text)
Dep_t

['08:00\n+ 1 day',
 '08:45\n+ 1 day',
 '09:05\n+ 1 day',
 '21:00\n+ 1 day',
 '00:35\n+ 1 day',
 '22:30',
 '02:00\n+ 1 day',
 '16:55\n+ 1 day',
 '16:55\n+ 1 day',
 '19:55\n+ 1 day',
 '19:55\n+ 1 day',
 '22:40',
 '08:20\n+ 1 day',
 '08:50\n+ 1 day',
 '08:50\n+ 1 day',
 '05:15\n+ 1 day',
 '08:20\n+ 1 day',
 '18:05\n+ 1 day',
 '19:35\n+ 1 day',
 '22:45\n+ 1 day',
 '02:05\n+ 1 day',
 '05:15\n+ 1 day',
 '20:35',
 '22:30',
 '05:15\n+ 1 day',
 '08:20\n+ 1 day',
 '18:05\n+ 1 day',
 '19:35\n+ 1 day',
 '16:55\n+ 1 day',
 '19:55\n+ 1 day',
 '18:00',
 '09:40\n+ 1 day',
 '09:40\n+ 1 day',
 '09:40\n+ 1 day',
 '08:20\n+ 1 day',
 '18:05\n+ 1 day',
 '18:05\n+ 1 day',
 '19:35\n+ 1 day',
 '19:35\n+ 1 day',
 '22:45\n+ 1 day',
 '22:45\n+ 1 day',
 '09:40\n+ 1 day',
 '08:20\n+ 1 day',
 '18:05\n+ 1 day',
 '19:35\n+ 1 day',
 '23:05',
 '14:30\n+ 1 day',
 '14:30\n+ 1 day',
 '14:30\n+ 1 day',
 '19:10\n+ 1 day',
 '19:10\n+ 1 day',
 '22:25\n+ 1 day',
 '19:10\n+ 1 day',
 '22:25\n+ 1 day',
 '09:35\n+ 1 day',
 '09:35\n+ 1 day',
 '09:35\n+ 1 day',
 '16:55\n+ 1 day',
 '23:50\n+ 1 day',
 '23:50\n+ 1 day',
 '09:35\n+ 1 day',
 '08:50\n+ 1 day',
 '08:50\n+ 1 day',
 '08:20\n+ 1 day',
 '09:35\n+ 1 day',
 '16:35\n+ 1 day',
 '16:35\n+ 1 day',
 '08:20\n+ 1 day',
 '09:35\n+ 1 day',
 '16:55\n+ 1 day',
 '19:55\n+ 1 day',
 '08:20\n+ 1 day',
 '09:40\n+ 1 day',
 '19:50',
 '08:20\n+ 1 day']

In [184]:
total_s=driver.find_elements("xpath",'//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
len(total_s)

75

In [185]:
Total_s=[]
for i in total_s:
    Total_s.append(i.text)
Total_s

['1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 'Non Stop',
 '1 Stop',
 'Non Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 'Non Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '2 Stop(s)',
 '1 Stop',
 '1 Stop',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '3 Stop(s)',
 '3 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '1 Stop',
 '1 Stop',
 '2 Stop(s)',
 '1 Stop',
 'Non Stop',
 '2 Stop(s)']

In [186]:
cost=driver.find_elements("xpath",'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
len(cost)

75

In [187]:
price=[]
for i in cost:
    price.append(i.text)
price

['7,789',
 '7,789',
 '7,789',
 '7,789',
 '8,839',
 '8,839',
 '8,839',
 '8,963',
 '8,963',
 '8,963',
 '8,963',
 '9,448',
 '9,448',
 '10,027',
 '10,027',
 '10,057',
 '10,624',
 '10,624',
 '10,624',
 '10,624',
 '10,625',
 '10,666',
 '10,729',
 '10,887',
 '11,275',
 '11,697',
 '11,697',
 '11,697',
 '11,753',
 '11,753',
 '12,199',
 '12,491',
 '12,491',
 '12,491',
 '12,497',
 '12,497',
 '12,497',
 '12,497',
 '12,497',
 '12,497',
 '12,497',
 '12,768',
 '12,782',
 '12,782',
 '12,782',
 '13,249',
 '13,249',
 '13,249',
 '13,249',
 '13,249',
 '13,249',
 '13,249',
 '13,249',
 '13,249',
 '13,520',
 '13,520',
 '13,520',
 '15,078',
 '15,277',
 '15,277',
 '15,899',
 '17,376',
 '17,376',
 '17,657',
 '17,657',
 '18,744',
 '18,744',
 '19,053',
 '19,053',
 '19,234',
 '19,234',
 '19,652',
 '21,754',
 '25,429',
 '25,954']

In [188]:
duration_tag=driver.find_elements("xpath",'//p[@class="fs-12 bold du mb-2"]')
len(duration_tag)

75

In [189]:
Duration=[]
for i in duration_tag:
    Duration.append(i.text)
Duration

['10h 55m',
 '14h 00m',
 '15h 35m',
 '27h 30m',
 '2h 10m',
 '2h 35m',
 '2h 35m',
 '21h 00m',
 '22h 00m',
 '24h 00m',
 '25h 00m',
 '6h 30m',
 '10h 10m',
 '11h 30m',
 '13h 40m',
 '7h 05m',
 '12h 40m',
 '22h 25m',
 '23h 55m',
 '27h 05m',
 '2h 30m',
 '8h 00m',
 '2h 25m',
 '6h 30m',
 '10h 25m',
 '14h 35m',
 '24h 20m',
 '25h 50m',
 '22h 30m',
 '25h 30m',
 '2h 35m',
 '13h 45m',
 '14h 45m',
 '15h 15m',
 '14h 50m',
 '24h 35m',
 '24h 35m',
 '26h 05m',
 '26h 05m',
 '29h 15m',
 '29h 15m',
 '12h 40m',
 '13h 35m',
 '23h 20m',
 '24h 50m',
 '5h 55m',
 '17h 10m',
 '19h 15m',
 '21h 20m',
 '21h 50m',
 '23h 55m',
 '25h 05m',
 '26h 00m',
 '27h 10m',
 '13h 55m',
 '14h 50m',
 '15h 50m',
 '20h 45m',
 '26h 30m',
 '28h 40m',
 '16h 05m',
 '15h 40m',
 '15h 40m',
 '13h 25m',
 '14h 40m',
 '19h 15m',
 '21h 20m',
 '15h 35m',
 '16h 50m',
 '19h 15m',
 '22h 15m',
 '13h 55m',
 '12h 00m',
 '2h 40m',
 '13h 55m']

In [190]:
add_tag=driver.find_elements("xpath",'//span[@class="text"]')
len(add_tag)

58

In [191]:
Add_info=[]
for i in add_tag:
    Add_info.append(i.text)
Add_info

['Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal']

In [192]:
flights6 = pd.DataFrame({})
flights6['Airline'] = Airline
flights6['Destination'] = list1
flights6['Source'] = list2
flights6['Arrival_time'] = Arr_t
flights6['Departure_time'] =Dep_t
flights6['Total_Stops']=Total_s
flights6['Total_Duration'] = Duration
flights6['Additional_Info']=pd.Series(Add_info)
flights6['Price']=price
flights6

,Airline,Destination,Source,Arrival_time,Departure_time,Total_Stops,Total_Duration,Additional_Info,Price
0,Go First,Kolkata,Bangalore,21:05,08:00\n+ 1 day,1 Stop,10h 55m,Free Meal,"7,789"
1,Go First,Kolkata,Bangalore,18:45,08:45\n+ 1 day,1 Stop,14h 00m,Free Meal,"7,789"
2,SpiceJet,Kolkata,Bangalore,17:30,09:05\n+ 1 day,1 Stop,15h 35m,Free Meal,"7,789"
3,SpiceJet,Kolkata,Bangalore,17:30,21:00\n+ 1 day,1 Stop,27h 30m,Free Meal,"7,789"
4,IndiGo,Kolkata,Bangalore,22:25,00:35\n+ 1 day,Non Stop,2h 10m,Free Meal,"8,839"
...,...,...,...,...,...,...,...,...,...
70,Vistara,Kolkata,Bangalore,21:40,19:55\n+ 1 day,1 Stop,22h 15m,NaN,"19,234"
71,Vistara,Kolkata,Bangalore,18:25,08:20\n+ 1 day,2 Stop(s),13h 55m,NaN,"19,652"
72,Vistara,Kolkata,Bangalore,21:40,09:40\n+ 1 day,1 Stop,12h 00m,NaN,"21,754"
73,Air Asia,Kolkata,Bangalore,17:10,19:50,Non Stop,2h 40m,NaN,"25,429"
74,Vistara,Kolkata,Bangalore,18:25,08:20\n+ 1 day,2 Stop(s),13h 55m,NaN,"25,954"

# Scrapping data for Hydrabad and Kolkata Loacation

In [193]:
url='https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=CCU&destinationCountry=IN&flexi=0&flight_depart_date=22%2F09%2F2022&hb=0&noOfSegments=1&origin=HYD&originCountry=IN&type=O&unique=1663580871186&viewName=normal'
driver.get(url)

In [194]:
airline=driver.find_elements("xpath",'//span[@class="i-b text ellipsis"]')
len(airline)

93

In [195]:
Airline=[]
for i in airline:
    Airline.append(i.text)
Airline

['IndiGo',
 'IndiGo',
 'IndiGo',
 'Go First',
 'Air Asia',
 'IndiGo',
 'IndiGo',
 'SpiceJet',
 'SpiceJet',
 'SpiceJet',
 'Vistara',
 'Vistara',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'IndiGo',
 'IndiGo',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'IndiGo',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'IndiGo',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'IndiGo',
 'IndiGo',
 'Air India',
 'IndiGo',
 'IndiGo',
 'Air India',
 'IndiGo',
 'Air Asia',
 'Air Asia',
 'Air Asia',
 'Air Asia',
 'Air Asia',
 'Air Asia',
 'IndiGo',
 'IndiGo',
 'Air India',
 'IndiGo',
 'Air India',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Air India',
 'Vistara',
 'Air India',
 'Vistara',
 'Vistara',
 'Air India',
 'Air India',
 'Vistara',
 'IndiGo',
 'Vistara',
 'Air Asia',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India']

In [196]:
flight_no=driver.find_elements("xpath",'//p[@class="normal fs-11 font-lightestgrey no-wrap fl-no"]')
len(flight_no)

93

In [197]:
Flight_no=[]
for i in flight_no:
    Flight_no.append(i.text)
Flight_no

['6E-6494',
 '6E-283',
 '6E-6907',
 'G8-426/101',
 'I5-517',
 '6E-581/6038',
 '6E-6211/6038',
 'SG-160/8251',
 'SG-160/8254',
 'SG-160/8263',
 'UK-874/775',
 'UK-872/775',
 '6E-421/6101',
 '6E-922/7117',
 '6E-886/7306',
 '6E-6719/736',
 '6E-938/801',
 'UK-880/707',
 'UK-880/727',
 'UK-870/747',
 'UK-870/705',
 'UK-890/747',
 'UK-890/705',
 '6E-944',
 '6E-915/507',
 'UK-830/737',
 'UK-830/707',
 'UK-860/737',
 'UK-860/707',
 'UK-830/727',
 'UK-860/727',
 '6E-6911/7584',
 'UK-878/773',
 'UK-874/773',
 'UK-872/773',
 'UK-870/737',
 '6E-514/923',
 'AI-541/762',
 'AI-559/767',
 'AI-543/764',
 'AI-543/762',
 'AI-559/764',
 'AI-559/762',
 'AI-541/401',
 'AI-543/401',
 'AI-559/401',
 '6E-102/6123',
 '6E-514/6275',
 'AI-541/764',
 '6E-6007/987',
 '6E-6007/321',
 'AI-840/401',
 '6E-6151/6275',
 'I5-1543/1455',
 'I5-974/992',
 'I5-1543/592',
 'I5-1543/992',
 'I5-1518/611',
 'I5-974/611',
 '6E-6151/986',
 '6E-514/6123',
 'AI-840/764',
 '6E-664',
 'AI-525',
 'UK-898/816/737',
 'UK-898/816/707',
 'UK-898/816/727',
 'UK-898/816/747',
 'AI-840/762',
 'UK-898/816/705',
 'AI-618/442/762',
 'UK-876/771',
 'UK-876/775',
 'AI-541/767',
 'AI-698/774',
 'UK-876/773',
 '6E-6216/987',
 'UK-898/806/737',
 'I5-974/558',
 'AI-840/665/774',
 'AI-840/678/774',
 'AI-840/865/774',
 'AI-840/887/774',
 'AI-840/863/774',
 'AI-541/665/774',
 'AI-541/887/774',
 'AI-541/605/774',
 'AI-541/805/774',
 'AI-541/814/774',
 'AI-543/605/774',
 'AI-543/624/774',
 'AI-543/805/774',
 'AI-559/624/774']

In [198]:
source=driver.find_elements('xpath','//p[@class="fs-10 font-lightgrey no-wrap city ellipsis"]')
len(source)

186

In [199]:
sources=[]
for i in source:
    sources.append(i.text)
sources

['Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata',
 'Hyderabad',
 'Kolkata']

In [200]:
list1 = [sources[i] for i in range(len(sources)) if i % 2 != 0]

In [201]:
list1

['Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata']

In [202]:
list2=sources[::2]

In [203]:
list2

['Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad']

In [204]:
arr_t=driver.find_elements("xpath",'//div[@class="fs-15 bold time"]')
len(arr_t)

93

In [205]:
Arr_t=[]
for i in arr_t:
    Arr_t.append(i.text)
Arr_t

['03:05',
 '17:05',
 '15:00',
 '21:05',
 '12:10',
 '11:30',
 '06:30',
 '06:10',
 '06:10',
 '06:10',
 '08:30',
 '07:10',
 '08:30',
 '15:50',
 '11:00',
 '08:30',
 '09:25',
 '13:25',
 '13:25',
 '20:30',
 '20:30',
 '17:40',
 '17:40',
 '20:25',
 '09:20',
 '10:10',
 '10:10',
 '07:00',
 '07:00',
 '10:10',
 '07:00',
 '11:10',
 '12:55',
 '08:30',
 '07:10',
 '20:30',
 '13:50',
 '16:10',
 '06:40',
 '10:05',
 '10:05',
 '06:40',
 '06:40',
 '16:10',
 '10:05',
 '06:40',
 '17:55',
 '13:50',
 '16:10',
 '23:15',
 '23:15',
 '20:40',
 '10:05',
 '14:20',
 '20:20',
 '14:20',
 '14:20',
 '21:55',
 '20:20',
 '10:05',
 '13:50',
 '20:40',
 '06:15',
 '05:55',
 '07:30',
 '07:30',
 '07:30',
 '07:30',
 '20:40',
 '07:30',
 '13:15',
 '21:35',
 '21:35',
 '16:10',
 '22:25',
 '21:35',
 '21:05',
 '07:30',
 '20:20',
 '20:40',
 '20:40',
 '20:40',
 '20:40',
 '20:40',
 '16:10',
 '16:10',
 '16:10',
 '16:10',
 '16:10',
 '10:05',
 '10:05',
 '10:05',
 '06:40']

In [206]:
dep_t=driver.find_elements("xpath",'//p[@class="bold fs-15 mb-2 pr time"]')
len(dep_t)

93

In [207]:
Dep_t=[]
for i in dep_t:
    Dep_t.append(i.text)
Dep_t

['05:15',
 '19:15',
 '17:15',
 '08:00\n+ 1 day',
 '14:15',
 '16:50',
 '16:50',
 '21:00',
 '22:35',
 '09:05\n+ 1 day',
 '16:55',
 '16:55',
 '15:30',
 '23:15',
 '19:00',
 '17:30',
 '18:30',
 '19:35',
 '22:45',
 '08:20\n+ 1 day',
 '09:35\n+ 1 day',
 '08:20\n+ 1 day',
 '09:35\n+ 1 day',
 '22:30',
 '17:25',
 '18:05',
 '19:35',
 '18:05',
 '19:35',
 '22:45',
 '22:45',
 '15:50',
 '19:55',
 '19:55',
 '19:55',
 '18:05\n+ 1 day',
 '21:50',
 '22:25',
 '14:30',
 '19:10',
 '22:25',
 '19:10',
 '22:25',
 '09:00\n+ 1 day',
 '09:00\n+ 1 day',
 '09:00\n+ 1 day',
 '23:15',
 '19:45',
 '19:10\n+ 1 day',
 '07:35\n+ 1 day',
 '10:30\n+ 1 day',
 '09:00\n+ 1 day',
 '19:45',
 '19:50',
 '02:05\n+ 1 day',
 '20:50',
 '02:05\n+ 1 day',
 '11:15\n+ 1 day',
 '11:15\n+ 1 day',
 '18:20',
 '23:15',
 '19:10\n+ 1 day',
 '08:20',
 '08:15',
 '18:05',
 '19:35',
 '22:45',
 '08:20\n+ 1 day',
 '22:25\n+ 1 day',
 '09:35\n+ 1 day',
 '22:25',
 '09:40\n+ 1 day',
 '16:55\n+ 1 day',
 '14:30\n+ 1 day',
 '23:50\n+ 1 day',
 '19:55\n+ 1 day',
 '07:35\n+ 1 day',
 '18:05',
 '03:15\n+ 1 day',
 '23:50\n+ 1 day',
 '23:50\n+ 1 day',
 '23:50\n+ 1 day',
 '23:50\n+ 1 day',
 '23:50\n+ 1 day',
 '23:50\n+ 1 day',
 '23:50\n+ 1 day',
 '23:50\n+ 1 day',
 '23:50\n+ 1 day',
 '23:50\n+ 1 day',
 '23:50\n+ 1 day',
 '23:50\n+ 1 day',
 '23:50\n+ 1 day',
 '23:50\n+ 1 day']

In [208]:
total_s=driver.find_elements("xpath",'//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
len(total_s)

93

In [209]:
Total_s=[]
for i in total_s:
    Total_s.append(i.text)
Total_s

['Non Stop',
 'Non Stop',
 'Non Stop',
 '1 Stop',
 'Non Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 'Non Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 'Non Stop',
 'Non Stop',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '1 Stop',
 '2 Stop(s)',
 '2 Stop(s)',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)']

In [210]:
cost=driver.find_elements("xpath",'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
len(cost)

93

In [211]:
price=[]
for i in cost:
    price.append(i.text)
price

['6,577',
 '6,577',
 '6,892',
 '7,940',
 '7,942',
 '7,942',
 '7,942',
 '7,942',
 '7,942',
 '7,942',
 '8,529',
 '8,529',
 '8,614',
 '8,614',
 '8,614',
 '8,614',
 '8,614',
 '8,676',
 '8,676',
 '8,676',
 '8,676',
 '8,676',
 '8,676',
 '8,992',
 '9,286',
 '9,896',
 '9,896',
 '9,896',
 '9,896',
 '9,896',
 '9,896',
 '10,966',
 '11,098',
 '11,098',
 '11,098',
 '11,116',
 '11,302',
 '11,933',
 '11,933',
 '11,933',
 '11,933',
 '11,933',
 '11,933',
 '11,933',
 '11,933',
 '11,933',
 '11,974',
 '12,310',
 '12,458',
 '12,646',
 '12,982',
 '13,298',
 '13,318',
 '13,532',
 '13,532',
 '13,532',
 '13,532',
 '13,532',
 '13,532',
 '13,654',
 '13,654',
 '13,823',
 '14,662',
 '14,663',
 '14,663',
 '14,663',
 '14,663',
 '14,663',
 '14,663',
 '14,663',
 '15,818',
 '16,028',
 '16,028',
 '16,186',
 '16,973',
 '17,351',
 '17,382',
 '17,559',
 '17,563',
 '21,814',
 '21,814',
 '21,814',
 '21,814',
 '21,814',
 '21,814',
 '21,814',
 '21,814',
 '21,814',
 '21,814',
 '21,814',
 '21,814',
 '21,814',
 '21,814']

In [212]:
duration_tag=driver.find_elements("xpath",'//p[@class="fs-12 bold du mb-2"]')
len(duration_tag)

93

In [213]:
Duration=[]
for i in duration_tag:
    Duration.append(i.text)
Duration

['2h 10m',
 '2h 10m',
 '2h 15m',
 '10h 55m',
 '2h 05m',
 '5h 20m',
 '10h 20m',
 '14h 50m',
 '16h 25m',
 '26h 55m',
 '8h 25m',
 '9h 45m',
 '7h 00m',
 '7h 25m',
 '8h 00m',
 '9h 00m',
 '9h 05m',
 '6h 10m',
 '9h 20m',
 '11h 50m',
 '13h 05m',
 '14h 40m',
 '15h 55m',
 '2h 05m',
 '8h 05m',
 '7h 55m',
 '9h 25m',
 '11h 05m',
 '12h 35m',
 '12h 35m',
 '15h 45m',
 '4h 40m',
 '7h 00m',
 '11h 25m',
 '12h 45m',
 '21h 35m',
 '8h 00m',
 '6h 15m',
 '7h 50m',
 '9h 05m',
 '12h 20m',
 '12h 30m',
 '15h 45m',
 '16h 50m',
 '22h 55m',
 '26h 20m',
 '5h 20m',
 '5h 55m',
 '27h 00m',
 '8h 20m',
 '11h 15m',
 '12h 20m',
 '9h 40m',
 '5h 30m',
 '5h 45m',
 '6h 30m',
 '11h 45m',
 '13h 20m',
 '14h 55m',
 '8h 15m',
 '9h 25m',
 '22h 30m',
 '2h 05m',
 '2h 20m',
 '10h 35m',
 '12h 05m',
 '15h 15m',
 '24h 50m',
 '25h 45m',
 '26h 05m',
 '9h 10m',
 '12h 05m',
 '19h 20m',
 '22h 20m',
 '25h 25m',
 '22h 20m',
 '10h 30m',
 '10h 35m',
 '6h 55m',
 '27h 10m',
 '27h 10m',
 '27h 10m',
 '27h 10m',
 '27h 10m',
 '31h 40m',
 '31h 40m',
 '31h 40m',
 '31h 40m',
 '31h 40m',
 '37h 45m',
 '37h 45m',
 '37h 45m',
 '41h 10m']

In [214]:
add_tag=driver.find_elements("xpath",'//span[@class="text"]')
len(add_tag)

58

In [215]:
Add_info=[]
for i in add_tag:
    Add_info.append(i.text)
Add_info

['Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal']

In [216]:
flights7 = pd.DataFrame({})
flights7['Airline'] = Airline
flights7['Destination'] = list1
flights7['Source'] = list2
flights7['Arrival_time'] = Arr_t
flights7['Departure_time'] =Dep_t
flights7['Total_Stops']=Total_s
flights7['Total_Duration'] = Duration
flights7['Additional_Info'] = pd.Series(Add_info)
flights7['Price']=price
flights7

,Airline,Destination,Source,Arrival_time,Departure_time,Total_Stops,Total_Duration,Additional_Info,Price
0,IndiGo,Kolkata,Hyderabad,03:05,05:15,Non Stop,2h 10m,Free Meal,"6,577"
1,IndiGo,Kolkata,Hyderabad,17:05,19:15,Non Stop,2h 10m,Free Meal,"6,577"
2,IndiGo,Kolkata,Hyderabad,15:00,17:15,Non Stop,2h 15m,Free Meal,"6,892"
3,Go First,Kolkata,Hyderabad,21:05,08:00\n+ 1 day,1 Stop,10h 55m,Free Meal,"7,940"
4,Air Asia,Kolkata,Hyderabad,12:10,14:15,Non Stop,2h 05m,Free Meal,"7,942"
...,...,...,...,...,...,...,...,...,...
88,Air India,Kolkata,Hyderabad,16:10,23:50\n+ 1 day,2 Stop(s),31h 40m,NaN,"21,814"
89,Air India,Kolkata,Hyderabad,10:05,23:50\n+ 1 day,2 Stop(s),37h 45m,NaN,"21,814"
90,Air India,Kolkata,Hyderabad,10:05,23:50\n+ 1 day,2 Stop(s),37h 45m,NaN,"21,814"
91,Air India,Kolkata,Hyderabad,10:05,23:50\n+ 1 day,2 Stop(s),37h 45m,NaN,"21,814"
92,Air India,Kolkata,Hyderabad,06:40,23:50\n+ 1 day,2 Stop(s),41h 10m,NaN,"21,814"

In [217]:
driver = webdriver.Chrome(r'C:\Users\91749\Downloads\chromedriver_win32\chromedriver.exe')

In [218]:
url='https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=MAA&originCountry=IN&destination=DEL&destinationCountry=IN&flight_depart_date=22%2F09%2F2022&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=340297921975'
driver.get(url)

In [219]:
airline_tag=driver.find_elements("xpath",'//span[@class="i-b text ellipsis"]')
len(airline)

93

In [220]:
Airlines=[]
for i in airline_tag:
    Airlines.append(i.text)
Airlines

['SpiceJet',
 'IndiGo',
 'Vistara',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'Air India',
 'Vistara',
 'Air India',
 'Air India',
 'Air India',
 'IndiGo',
 'Go First',
 'Go First',
 'Go First',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Vistara',
 'IndiGo',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'IndiGo',
 'IndiGo',
 'SpiceJet',
 'SpiceJet',
 'SpiceJet',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'Air Asia',
 'IndiGo',
 'Vistara',
 'Air India',
 'IndiGo',
 'Vistara',
 'Vistara',
 'IndiGo',
 'IndiGo',
 'Air Asia',
 'Air India',
 'Air India',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Air India',
 'Air India',
 'IndiGo',
 'IndiGo',
 'Air Asia',
 'IndiGo',
 'Vistara',
 'Air India',
 'Air India',
 'Vistara',
 'IndiGo',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Air India',
 'IndiGo',
 'IndiGo',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara']

In [221]:
flight_no_tag=driver.find_elements("xpath",'//p[@class="normal fs-11 font-lightestgrey no-wrap fl-no"]')
len(flight_no_tag)

116

In [222]:
Flight_no=[]
for i in flight_no_tag:
    Flight_no.append(i.text)
Flight_no

['SG-8104',
 '6E-5038',
 'UK-836',
 '6E-2512',
 '6E-2698',
 '6E-6344',
 '6E-2316',
 '6E-2752',
 'AI-538',
 'UK-838',
 'AI-440',
 'AI-430',
 'AI-539',
 '6E-2098',
 'G8-304/339',
 'G8-304/322',
 'G8-304/345',
 'AI-672/660',
 'AI-569/866',
 'AI-569/809',
 'AI-569/677',
 'AI-569/687',
 'AI-569/442',
 'AI-569/660',
 'AI-672/864',
 'AI-672/806',
 'AI-672/866',
 'AI-672/677',
 'AI-569/864',
 'AI-672/687',
 'UK-832',
 '6E-2116',
 'AI-672/888',
 'AI-569/888',
 'AI-672/809',
 'AI-571/677',
 '6E-6892/2514',
 '6E-6892/2147',
 'SG-612/8152',
 'SG-612/8702',
 'SG-612/8158',
 '6E-6892/2401',
 '6E-562/2106',
 '6E-193/2324',
 '6E-6137/869',
 '6E-6805/2106',
 '6E-6605/2147',
 '6E-156/2335',
 '6E-562/6684',
 '6E-917/2069',
 '6E-6805/6684',
 '6E-562/2324',
 '6E-193/2335',
 '6E-6805/2324',
 '6E-6605/2174',
 'I5-821/722',
 '6E-905/6081',
 'UK-834',
 'AI-672/637/532',
 '6E-269/2063',
 'UK-822/944',
 'UK-828/944',
 '6E-917/2135',
 '6E-797/869',
 'I5-821/1528',
 'AI-569/617/541',
 'AI-569/655/404',
 'UK-826/902',
 'UK-828/960',
 'UK-822/902',
 'UK-828/902',
 'AI-571/617/541',
 'AI-571/655/404',
 '6E-495/2511',
 '6E-495/2171',
 'I5-821/741',
 '6E-6137/2401',
 'UK-828/994',
 'AI-786/768',
 'AI-786/770',
 'UK-822/952',
 '6E-6225/6991',
 'UK-828/952',
 'UK-824/954',
 'UK-824/928',
 'UK-828/647/644',
 'UK-828/877/880',
 'AI-549/486',
 '6E-6311/2027',
 '6E-6343/735',
 'UK-826/910',
 'UK-826/996',
 'UK-822/910',
 'UK-822/996',
 '6E-6343/5025',
 '6E-189/6042',
 '6E-189/2053',
 '6E-189/6991',
 'UK-826/940',
 'UK-826/988',
 'UK-828/852/618',
 'UK-826/843/806',
 'UK-826/843/816',
 'UK-822/843/806',
 'UK-822/843/816',
 'UK-828/843/806',
 'UK-826/843/810',
 'UK-826/843/808',
 'UK-824/851/806',
 'UK-824/851/816',
 'UK-826/851/806',
 'UK-826/851/816',
 'UK-822/851/806',
 'UK-822/851/816',
 'UK-828/851/806',
 'UK-826/853/802']

In [223]:
source_tag=driver.find_elements('xpath','//p[@class="fs-10 font-lightgrey no-wrap city ellipsis"]')
len(source_tag)

232

In [224]:
sourcess=[]
for i in source_tag:
    sourcess.append(i.text)
sourcess

['Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi',
 'Chennai',
 'New Delhi']

In [225]:
list1 = [sourcess[i] for i in range(len(sourcess)) if i % 2 != 0]

In [226]:
len(list1)

116

In [227]:
list1

['New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi']

In [228]:
list2=sourcess[::2]

In [229]:
len(list2)

116

In [230]:
list2

['Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai']

In [231]:
arr_tag=driver.find_elements("xpath",'//div[@class="fs-15 bold time"]')
len(arr_tag)

116

In [232]:
Arri_t=[]
for i in arr_tag:
    Arri_t.append(i.text)
Arri_t

['18:00',
 '08:45',
 '10:35',
 '10:40',
 '02:30',
 '13:30',
 '16:35',
 '19:35',
 '20:15',
 '21:05',
 '06:00',
 '09:55',
 '16:55',
 '22:50',
 '13:45',
 '13:45',
 '13:45',
 '15:25',
 '06:10',
 '06:10',
 '06:10',
 '06:10',
 '06:10',
 '06:10',
 '15:25',
 '15:25',
 '15:25',
 '15:25',
 '06:10',
 '15:25',
 '07:05',
 '06:20',
 '15:25',
 '06:10',
 '15:25',
 '07:55',
 '11:20',
 '11:20',
 '22:00',
 '22:00',
 '22:00',
 '11:20',
 '17:00',
 '19:25',
 '09:00',
 '16:25',
 '13:00',
 '21:20',
 '17:00',
 '12:00',
 '16:25',
 '17:00',
 '19:25',
 '16:25',
 '13:00',
 '22:35',
 '08:15',
 '17:15',
 '15:25',
 '09:25',
 '09:45',
 '07:00',
 '12:00',
 '07:45',
 '22:35',
 '06:10',
 '06:10',
 '12:30',
 '07:00',
 '09:45',
 '07:00',
 '07:55',
 '07:55',
 '06:35',
 '06:35',
 '22:35',
 '09:00',
 '07:00',
 '08:10',
 '08:10',
 '09:45',
 '21:35',
 '07:00',
 '20:30',
 '20:30',
 '07:00',
 '07:00',
 '05:05',
 '12:00',
 '16:20',
 '12:30',
 '12:30',
 '09:45',
 '09:45',
 '16:20',
 '19:10',
 '19:10',
 '19:10',
 '12:30',
 '12:30',
 '07:00',
 '12:30',
 '12:30',
 '09:45',
 '09:45',
 '07:00',
 '12:30',
 '12:30',
 '20:30',
 '20:30',
 '12:30',
 '12:30',
 '09:45',
 '09:45',
 '07:00',
 '12:30']

In [233]:
dep_tag=driver.find_elements("xpath",'//p[@class="bold fs-15 mb-2 pr time"]')
len(dep_tag)

116

In [234]:
Depa_t=[]
for i in dep_tag:
    Depa_t.append(i.text)
Depa_t

['20:45',
 '11:30',
 '13:20',
 '13:25',
 '05:20',
 '16:20',
 '19:25',
 '22:25',
 '23:05',
 '23:55',
 '08:55',
 '12:50',
 '19:50',
 '01:45\n+ 1 day',
 '20:55',
 '00:45\n+ 1 day',
 '01:10\n+ 1 day',
 '20:10',
 '11:20',
 '12:20',
 '15:15',
 '18:20',
 '19:10',
 '20:10',
 '09:05\n+ 1 day',
 '10:15\n+ 1 day',
 '11:20\n+ 1 day',
 '15:15\n+ 1 day',
 '09:05\n+ 1 day',
 '18:20\n+ 1 day',
 '09:45',
 '08:55',
 '21:15',
 '21:15',
 '12:20\n+ 1 day',
 '15:15',
 '17:45',
 '19:15',
 '09:35\n+ 1 day',
 '18:20\n+ 1 day',
 '22:00\n+ 1 day',
 '16:40',
 '22:20',
 '00:45\n+ 1 day',
 '14:40',
 '22:20',
 '19:15',
 '03:35\n+ 1 day',
 '23:30',
 '18:35',
 '23:30',
 '00:45\n+ 1 day',
 '03:35\n+ 1 day',
 '00:45\n+ 1 day',
 '20:45',
 '03:30\n+ 1 day',
 '15:55',
 '20:00',
 '23:20',
 '16:15',
 '16:55',
 '16:55',
 '20:15',
 '14:40',
 '08:55\n+ 1 day',
 '18:30',
 '17:10\n+ 1 day',
 '18:05',
 '14:05',
 '18:05',
 '18:05',
 '18:30',
 '17:10\n+ 1 day',
 '12:10',
 '13:55',
 '14:05\n+ 1 day',
 '16:40',
 '12:40',
 '17:55',
 '22:35',
 '14:20',
 '03:30\n+ 1 day',
 '14:20',
 '08:05\n+ 1 day',
 '08:35\n+ 1 day',
 '15:20',
 '15:35',
 '14:40',
 '19:00',
 '22:00',
 '19:40',
 '20:40',
 '19:40',
 '20:40',
 '23:15',
 '01:00\n+ 1 day',
 '02:00\n+ 1 day',
 '03:30\n+ 1 day',
 '21:55',
 '23:00',
 '16:15',
 '12:40\n+ 1 day',
 '14:20\n+ 1 day',
 '12:40\n+ 1 day',
 '14:20\n+ 1 day',
 '12:40\n+ 1 day',
 '09:40\n+ 1 day',
 '10:40\n+ 1 day',
 '12:40\n+ 1 day',
 '14:20\n+ 1 day',
 '12:40\n+ 1 day',
 '14:20\n+ 1 day',
 '12:40\n+ 1 day',
 '14:20\n+ 1 day',
 '12:40\n+ 1 day',
 '21:25']

In [235]:
total_s=driver.find_elements("xpath",'//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
len(total_s)

116

In [236]:
Total_s=[]
for i in total_s:
    Total_s.append(i.text)
Total_s

['Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 'Non Stop',
 'Non Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 'Non Stop',
 '2 Stop(s)',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '2 Stop(s)',
 '2 Stop(s)',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '2 Stop(s)',
 '2 Stop(s)',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '2 Stop(s)',
 '2 Stop(s)',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)']

In [237]:
cost_tag=driver.find_elements("xpath",'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
len(cost_tag)

116

In [238]:
prices=[]
for i in cost_tag:
    prices.append(i.text)
prices

['7,512',
 '7,513',
 '7,513',
 '7,513',
 '7,513',
 '7,513',
 '7,513',
 '7,513',
 '7,513',
 '7,513',
 '7,513',
 '7,513',
 '7,513',
 '7,513',
 '8,035',
 '8,035',
 '8,035',
 '8,112',
 '8,112',
 '8,112',
 '8,112',
 '8,112',
 '8,112',
 '8,112',
 '8,112',
 '8,112',
 '8,112',
 '8,112',
 '8,112',
 '8,112',
 '8,175',
 '8,371',
 '8,637',
 '8,637',
 '8,637',
 '8,847',
 '9,377',
 '9,377',
 '9,508',
 '9,508',
 '9,508',
 '10,033',
 '10,033',
 '10,033',
 '10,033',
 '10,033',
 '10,033',
 '10,033',
 '10,033',
 '10,033',
 '10,033',
 '10,033',
 '10,033',
 '10,033',
 '10,632',
 '10,795',
 '10,871',
 '10,978',
 '11,157',
 '11,230',
 '11,608',
 '11,608',
 '11,713',
 '11,829',
 '11,845',
 '11,997',
 '12,174',
 '12,480',
 '12,480',
 '12,480',
 '12,480',
 '12,732',
 '12,909',
 '13,026',
 '13,026',
 '13,629',
 '14,223',
 '14,231',
 '14,601',
 '14,601',
 '14,758',
 '14,758',
 '14,758',
 '14,758',
 '14,758',
 '15,265',
 '15,750',
 '16,090',
 '16,436',
 '16,504',
 '16,648',
 '16,648',
 '16,648',
 '16,648',
 '16,897',
 '17,121',
 '17,121',
 '17,215',
 '17,383',
 '18,118',
 '19,671',
 '20,724',
 '20,724',
 '20,724',
 '20,724',
 '20,724',
 '21,459',
 '21,459',
 '22,547',
 '22,547',
 '22,547',
 '22,547',
 '22,547',
 '22,547',
 '22,547',
 '30,718']

In [239]:
duration_tag=driver.find_elements("xpath",'//p[@class="fs-12 bold du mb-2"]')
len(duration_tag)

116

In [240]:
Duration=[]
for i in duration_tag:
    Duration.append(i.text)
Duration

['2h 45m',
 '2h 45m',
 '2h 45m',
 '2h 45m',
 '2h 50m',
 '2h 50m',
 '2h 50m',
 '2h 50m',
 '2h 50m',
 '2h 50m',
 '2h 55m',
 '2h 55m',
 '2h 55m',
 '2h 55m',
 '7h 10m',
 '11h 00m',
 '11h 25m',
 '4h 45m',
 '5h 10m',
 '6h 10m',
 '9h 05m',
 '12h 10m',
 '13h 00m',
 '14h 00m',
 '17h 40m',
 '18h 50m',
 '19h 55m',
 '23h 50m',
 '26h 55m',
 '26h 55m',
 '2h 40m',
 '2h 35m',
 '5h 50m',
 '15h 05m',
 '20h 55m',
 '7h 20m',
 '6h 25m',
 '7h 55m',
 '11h 35m',
 '20h 20m',
 '24h 00m',
 '5h 20m',
 '5h 20m',
 '5h 20m',
 '5h 40m',
 '5h 55m',
 '6h 15m',
 '6h 15m',
 '6h 30m',
 '6h 35m',
 '7h 05m',
 '7h 45m',
 '8h 10m',
 '8h 20m',
 '7h 45m',
 '4h 55m',
 '7h 40m',
 '2h 45m',
 '7h 55m',
 '6h 50m',
 '7h 10m',
 '9h 55m',
 '8h 15m',
 '6h 55m',
 '10h 20m',
 '12h 20m',
 '35h 00m',
 '5h 35m',
 '7h 05m',
 '8h 20m',
 '11h 05m',
 '10h 35m',
 '33h 15m',
 '5h 35m',
 '7h 20m',
 '15h 30m',
 '7h 40m',
 '5h 40m',
 '9h 45m',
 '14h 25m',
 '4h 35m',
 '5h 55m',
 '7h 20m',
 '11h 35m',
 '12h 05m',
 '8h 20m',
 '8h 35m',
 '9h 35m',
 '7h 00m',
 '5h 40m',
 '7h 10m',
 '8h 10m',
 '9h 55m',
 '10h 55m',
 '6h 55m',
 '5h 50m',
 '6h 50m',
 '8h 20m',
 '9h 25m',
 '10h 30m',
 '9h 15m',
 '24h 10m',
 '25h 50m',
 '26h 55m',
 '28h 35m',
 '29h 40m',
 '21h 10m',
 '22h 10m',
 '16h 10m',
 '17h 50m',
 '24h 10m',
 '25h 50m',
 '26h 55m',
 '28h 35m',
 '29h 40m',
 '8h 55m']

In [241]:
add_tag=driver.find_elements("xpath",'//span[@class="text"]')
len(add_tag)

68

In [242]:
Add_info=[]
for i in add_tag:
    Add_info.append(i.text)
Add_info

['Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal']

In [243]:
flights8 = pd.DataFrame({})
flights8['Airline'] = Airlines
flights8['Destination'] = list1
flights8['Source'] = list2
flights8['Arrival_time'] = Arri_t
flights8['Departure_time'] =Depa_t
flights8['Total_Stops']=Total_s
flights8['Total_Duration'] = Duration
flights8['Additional_Info'] = pd.Series(Add_info)
flights8['Price']=prices
flights8

,Airline,Destination,Source,Arrival_time,Departure_time,Total_Stops,Total_Duration,Additional_Info,Price
0,SpiceJet,New Delhi,Chennai,18:00,20:45,Non Stop,2h 45m,Free Meal,"7,512"
1,IndiGo,New Delhi,Chennai,08:45,11:30,Non Stop,2h 45m,Free Meal,"7,513"
2,Vistara,New Delhi,Chennai,10:35,13:20,Non Stop,2h 45m,Free Meal,"7,513"
3,IndiGo,New Delhi,Chennai,10:40,13:25,Non Stop,2h 45m,Free Meal,"7,513"
4,IndiGo,New Delhi,Chennai,02:30,05:20,Non Stop,2h 50m,Free Meal,"7,513"
...,...,...,...,...,...,...,...,...,...
111,Vistara,New Delhi,Chennai,12:30,14:20\n+ 1 day,2 Stop(s),25h 50m,NaN,"22,547"
112,Vistara,New Delhi,Chennai,09:45,12:40\n+ 1 day,2 Stop(s),26h 55m,NaN,"22,547"
113,Vistara,New Delhi,Chennai,09:45,14:20\n+ 1 day,2 Stop(s),28h 35m,NaN,"22,547"
114,Vistara,New Delhi,Chennai,07:00,12:40\n+ 1 day,2 Stop(s),29h 40m,NaN,"22,547"
115,Vistara,New Delhi,Chennai,12:30,21:25,2 Stop(s),8h 55m,NaN,"30,718"

In [244]:
url='https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=PNQ&destinationCountry=IN&flexi=0&flight_depart_date=20%2F09%2F2022&hb=&noOfSegments=1&origin=MAA&originCountry=IN&type=O&unique=1663586704565&viewName=normal'
driver.get(url)

In [245]:
airline_tag=driver.find_elements("xpath",'//span[@class="i-b text ellipsis"]')
len(airline_tag)

71

In [246]:
Airlines=[]
for i in airline_tag:
    Airlines.append(i.text)
Airlines

['IndiGo',
 'IndiGo',
 'Air Asia',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'Vistara',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'IndiGo',
 'IndiGo',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'IndiGo',
 'Vistara',
 'Vistara',
 'IndiGo',
 'Vistara',
 'Vistara',
 'IndiGo',
 'Vistara',
 'Vistara']

In [247]:
flight_no_tag=driver.find_elements("xpath",'//p[@class="normal fs-11 font-lightestgrey no-wrap fl-no"]')
len(flight_no_tag)

71

In [248]:
Flight_no=[]
for i in flight_no_tag:
    Flight_no.append(i.text)
Flight_no

['6E-401',
 '6E-6232/241',
 'I5-821/386',
 '6E-156/351',
 '6E-597/241',
 '6E-6805/118',
 '6E-495/6058',
 '6E-6225/408',
 '6E-6143/674',
 '6E-237/674',
 '6E-6011/674',
 'AI-430/849',
 'AI-440/857',
 'AI-538/851',
 'AI-430/853',
 'AI-440/849',
 'AI-539/851',
 'AI-440/853',
 'AI-538/481',
 'AI-538/857',
 'AI-539/481',
 'AI-430/851',
 'AI-538/849',
 'AI-539/857',
 'AI-538/853',
 'AI-440/851',
 'AI-539/849',
 'AI-430/481',
 'AI-539/853',
 'AI-440/481',
 '6E-6127/674',
 '6E-727',
 '6E-862',
 'UK-838/997',
 '6E-6225/699',
 '6E-562/118',
 '6E-193/351',
 '6E-502',
 'UK-832/997',
 'UK-838/971',
 'UK-832/973',
 'UK-838/991',
 '6E-6605/528',
 '6E-917/202',
 '6E-189/699',
 '6E-6892/528',
 '6E-6137/6104',
 'UK-836/997',
 'UK-836/991',
 'UK-836/973',
 'UK-832/991',
 '6E-5028/6877',
 '6E-6137/528',
 'AI-672/637/481',
 'AI-538/817/481',
 'AI-539/817/481',
 'AI-430/817/481',
 'AI-440/817/481',
 'UK-826/843/551',
 'UK-826/853/551',
 'UK-822/843/551',
 'UK-822/853/551',
 '6E-193/118',
 'UK-834/973',
 'UK-826/902/973',
 '6E-6605/426',
 'UK-834/971',
 'UK-822/944/991',
 '6E-6343/426',
 'UK-828/994/997',
 'UK-822/952/991']

In [249]:
source_tag=driver.find_elements('xpath','//p[@class="fs-10 font-lightgrey no-wrap city ellipsis"]')
len(source_tag)

142

In [250]:
sources=[]
for i in source_tag:
    sources.append(i.text)
sources

['Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune',
 'Chennai',
 'Pune']

In [251]:
list1 = [sources[i] for i in range(len(sources)) if i % 2 != 0]

In [252]:
list1

['Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune']

In [253]:
list2=sources[::2]

In [254]:
list2

['Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai']

In [255]:
arr_tag=driver.find_elements("xpath",'//div[@class="fs-15 bold time"]')
len(arr_tag)

71

In [256]:
Arri_t=[]
for i in arr_tag:
    Arri_t.append(i.text)
Arri_t

['03:30',
 '21:10',
 '22:35',
 '21:20',
 '17:25',
 '16:25',
 '06:35',
 '21:35',
 '19:00',
 '16:15',
 '14:35',
 '09:55',
 '06:00',
 '20:15',
 '09:55',
 '06:00',
 '16:55',
 '06:00',
 '20:15',
 '20:15',
 '16:55',
 '09:55',
 '20:15',
 '16:55',
 '20:15',
 '06:00',
 '16:55',
 '09:55',
 '16:55',
 '06:00',
 '12:35',
 '14:55',
 '22:35',
 '21:05',
 '21:35',
 '17:00',
 '19:25',
 '09:05',
 '07:05',
 '21:05',
 '07:05',
 '21:05',
 '13:00',
 '12:00',
 '19:10',
 '11:20',
 '09:00',
 '10:35',
 '10:35',
 '10:35',
 '07:05',
 '17:50',
 '09:00',
 '15:25',
 '20:15',
 '16:55',
 '09:55',
 '06:00',
 '12:30',
 '12:30',
 '09:45',
 '09:45',
 '19:25',
 '17:15',
 '12:30',
 '13:00',
 '17:15',
 '09:45',
 '16:20',
 '07:00',
 '09:45']

In [257]:
dep_tag=driver.find_elements("xpath",'//p[@class="bold fs-15 mb-2 pr time"]')
len(dep_tag)

71

In [258]:
Depa_t=[]
for i in dep_tag:
    Depa_t.append(i.text)
Depa_t

['05:05',
 '03:35\n+ 1 day',
 '05:00\n+ 1 day',
 '05:45\n+ 1 day',
 '03:35\n+ 1 day',
 '23:30',
 '15:10',
 '06:50\n+ 1 day',
 '23:00',
 '23:00',
 '23:00',
 '18:10',
 '15:20',
 '07:00\n+ 1 day',
 '21:10',
 '18:10',
 '07:00\n+ 1 day',
 '21:10',
 '12:10\n+ 1 day',
 '15:20\n+ 1 day',
 '12:10\n+ 1 day',
 '07:00\n+ 1 day',
 '18:10\n+ 1 day',
 '15:20\n+ 1 day',
 '21:10\n+ 1 day',
 '07:00\n+ 1 day',
 '18:10\n+ 1 day',
 '12:10\n+ 1 day',
 '21:10\n+ 1 day',
 '12:10\n+ 1 day',
 '23:00',
 '16:35',
 '00:20\n+ 1 day',
 '16:20\n+ 1 day',
 '03:55\n+ 1 day',
 '23:30',
 '05:45\n+ 1 day',
 '10:30',
 '16:20',
 '10:40\n+ 1 day',
 '23:05',
 '20:00\n+ 1 day',
 '18:25',
 '17:15',
 '03:55\n+ 1 day',
 '18:25',
 '12:20',
 '16:20',
 '20:00',
 '23:05',
 '20:00',
 '02:40\n+ 1 day',
 '18:25',
 '12:10\n+ 1 day',
 '12:10\n+ 1 day',
 '12:10\n+ 1 day',
 '12:10\n+ 1 day',
 '12:10\n+ 1 day',
 '05:55\n+ 1 day',
 '05:55\n+ 1 day',
 '05:55\n+ 1 day',
 '05:55\n+ 1 day',
 '23:30',
 '23:05',
 '23:05',
 '21:45',
 '10:40\n+ 1 day',
 '20:00',
 '21:45',
 '16:20',
 '20:00']

In [259]:
total_s=driver.find_elements("xpath",'//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
len(total_s)

71

In [260]:
Total_s=[]
for i in total_s:
    Total_s.append(i.text)
Total_s

['Non Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '2 Stop(s)',
 '1 Stop',
 '2 Stop(s)',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '2 Stop(s)',
 '1 Stop',
 '2 Stop(s)',
 '1 Stop',
 'Non Stop',
 'Non Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 'Non Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '1 Stop',
 '1 Stop',
 '2 Stop(s)',
 '1 Stop',
 '1 Stop',
 '2 Stop(s)',
 '1 Stop',
 '2 Stop(s)',
 '2 Stop(s)']

In [261]:
cost_tag=driver.find_elements("xpath",'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
len(cost_tag)

71

In [262]:
prices=[]
for i in cost_tag:
    prices.append(i.text)
prices

['7,198',
 '7,198',
 '7,198',
 '7,198',
 '7,555',
 '9,340',
 '9,340',
 '9,340',
 '9,666',
 '9,666',
 '9,666',
 '10,170',
 '10,170',
 '10,170',
 '10,170',
 '10,170',
 '10,170',
 '10,170',
 '10,170',
 '10,170',
 '10,170',
 '10,170',
 '10,170',
 '10,170',
 '10,170',
 '10,170',
 '10,170',
 '10,170',
 '10,170',
 '10,170',
 '10,243',
 '10,453',
 '10,453',
 '10,453',
 '10,768',
 '11,125',
 '11,125',
 '11,188',
 '11,526',
 '11,526',
 '11,526',
 '11,526',
 '11,733',
 '11,839',
 '11,839',
 '12,533',
 '12,910',
 '13,349',
 '13,349',
 '13,349',
 '13,349',
 '13,446',
 '13,981',
 '14,023',
 '14,055',
 '14,055',
 '14,055',
 '14,055',
 '14,634',
 '14,634',
 '14,634',
 '14,634',
 '15,651',
 '17,226',
 '18,045',
 '18,400',
 '18,969',
 '21,195',
 '23,211',
 '23,998',
 '23,998']

In [263]:
duration_tag=driver.find_elements("xpath",'//p[@class="fs-12 bold du mb-2"]')
len(duration_tag)

71

In [264]:
Duration=[]
for i in duration_tag:
    Duration.append(i.text)
Duration

['1h 35m',
 '6h 25m',
 '6h 25m',
 '8h 25m',
 '10h 10m',
 '7h 05m',
 '8h 35m',
 '9h 15m',
 '4h 00m',
 '6h 45m',
 '8h 25m',
 '8h 15m',
 '9h 20m',
 '10h 45m',
 '11h 15m',
 '12h 10m',
 '14h 05m',
 '15h 10m',
 '15h 55m',
 '19h 05m',
 '19h 15m',
 '21h 05m',
 '21h 55m',
 '22h 25m',
 '24h 55m',
 '25h 00m',
 '25h 15m',
 '26h 15m',
 '28h 15m',
 '30h 10m',
 '10h 25m',
 '1h 40m',
 '1h 45m',
 '19h 15m',
 '6h 20m',
 '6h 30m',
 '10h 20m',
 '1h 25m',
 '9h 15m',
 '13h 35m',
 '16h 00m',
 '22h 55m',
 '5h 25m',
 '5h 15m',
 '8h 45m',
 '7h 05m',
 '3h 20m',
 '5h 45m',
 '9h 25m',
 '12h 30m',
 '12h 55m',
 '8h 50m',
 '9h 25m',
 '20h 45m',
 '15h 55m',
 '19h 15m',
 '26h 15m',
 '30h 10m',
 '17h 25m',
 '17h 25m',
 '20h 10m',
 '20h 10m',
 '4h 05m',
 '5h 50m',
 '10h 35m',
 '8h 45m',
 '17h 25m',
 '10h 15m',
 '5h 25m',
 '9h 20m',
 '10h 15m']

In [265]:
add_tag=driver.find_elements("xpath",'//span[@class="text"]')
len(add_tag)

43

In [266]:
Add_info=[]
for i in add_tag:
    Add_info.append(i.text)
Add_info

['Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal']

In [267]:
flights9 = pd.DataFrame({})
flights9['Airline'] = Airlines
flights9['Destination'] = list1
flights9['Source'] = list2
flights9['Arrival_time'] = Arri_t
flights9['Departure_time'] =Depa_t
flights9['Total_Stops']=Total_s
flights9['Total_Duration'] = Duration
flights9['Additional_Info'] =pd.Series(Add_info)
flights9['Price']=prices
flights9

,Airline,Destination,Source,Arrival_time,Departure_time,Total_Stops,Total_Duration,Additional_Info,Price
0,IndiGo,Pune,Chennai,03:30,05:05,Non Stop,1h 35m,Free Meal,"7,198"
1,IndiGo,Pune,Chennai,21:10,03:35\n+ 1 day,1 Stop,6h 25m,Free Meal,"7,198"
2,Air Asia,Pune,Chennai,22:35,05:00\n+ 1 day,1 Stop,6h 25m,Free Meal,"7,198"
3,IndiGo,Pune,Chennai,21:20,05:45\n+ 1 day,1 Stop,8h 25m,Free Meal,"7,198"
4,IndiGo,Pune,Chennai,17:25,03:35\n+ 1 day,1 Stop,10h 10m,Free Meal,"7,555"
...,...,...,...,...,...,...,...,...,...
66,Vistara,Pune,Chennai,17:15,10:40\n+ 1 day,1 Stop,17h 25m,NaN,"18,969"
67,Vistara,Pune,Chennai,09:45,20:00,2 Stop(s),10h 15m,NaN,"21,195"
68,IndiGo,Pune,Chennai,16:20,21:45,1 Stop,5h 25m,NaN,"23,211"
69,Vistara,Pune,Chennai,07:00,16:20,2 Stop(s),9h 20m,NaN,"23,998"
70,Vistara,Pune,Chennai,09:45,20:00,2 Stop(s),10h 15m,NaN,"23,998"

In [268]:
Flights1=pd.concat([flights6,flights7,flights8,flights9],ignore_index=True)

In [269]:
Flights1.shape

(355, 9)

In [270]:
Flights2=pd.concat([Flights,Flights1],ignore_index=True)

In [271]:
Flights2.shape

(1014, 9)

In [272]:
Flights2.head(10)

,Airline,Destination,Source,Arrival_time,Departure_time,Total_Stops,Total_Duration,Additional_Info,Price
0,Go First,Mumbai,New Delhi,02:40,04:50,Non Stop,2h 10m,Free Meal,"5,950"
1,Go First,Mumbai,New Delhi,08:15,10:25,Non Stop,2h 10m,Free Meal,"5,950"
2,Go First,Mumbai,New Delhi,15:45,17:55,Non Stop,2h 10m,Free Meal,"5,950"
3,SpiceJet,Mumbai,New Delhi,19:00,21:10,Non Stop,2h 10m,Free Meal,"5,950"
4,Go First,Mumbai,New Delhi,20:50,23:00,Non Stop,2h 10m,Free Meal,"5,950"
5,SpiceJet,Mumbai,New Delhi,07:20,09:35,Non Stop,2h 15m,Free Meal,"5,950"
6,Go First,Mumbai,New Delhi,18:20,20:35,Non Stop,2h 15m,Free Meal,"5,950"
7,SpiceJet,Mumbai,New Delhi,21:40,23:55,Non Stop,2h 15m,Free Meal,"5,950"
8,IndiGo,Mumbai,New Delhi,15:25,17:20,Non Stop,1h 55m,Free Meal,"5,954"
9,IndiGo,Mumbai,New Delhi,11:55,13:55,Non Stop,2h 00m,Free Meal,"5,954"

In [349]:
# Connecting to the webdriver.

driver = webdriver.Chrome(r'C:\Users\91749\Downloads\chromedriver_win32\chromedriver.exe')

In [278]:
url='https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=CCU&destinationCountry=IN&flexi=0&flight_depart_date=20%2F09%2F2022&hb=0&noOfSegments=1&origin=PNQ&originCountry=IN&type=O&unique=161456816893&version=1.1&viewName=normal'
driver.get(url)

In [279]:
airline_tag=driver.find_elements("xpath",'//span[@class="i-b text ellipsis"]')
len(airline_tag)

45

In [280]:
Airlines=[]
for i in airline_tag:
    Airlines.append(i.text)
Airlines

['IndiGo',
 'Go First',
 'SpiceJet',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'IndiGo',
 'IndiGo',
 'Vistara',
 'Vistara',
 'IndiGo',
 'IndiGo',
 'Air Asia',
 'Air India',
 'Air India',
 'Air India',
 'Vistara',
 'Vistara',
 'Vistara',
 'Air India',
 'Air India',
 'IndiGo',
 'Air Asia',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara']

In [281]:
source_tag=driver.find_elements('xpath','//p[@class="fs-10 font-lightgrey no-wrap city ellipsis"]')
len(source_tag)

90

In [282]:
sources=[]
for i in source_tag:
    sources.append(i.text)
sources

['Pune',
 'Kolkata',
 'Pune',
 'Kolkata',
 'Pune',
 'Kolkata',
 'Pune',
 'Kolkata',
 'Pune',
 'Kolkata',
 'Pune',
 'Kolkata',
 'Pune',
 'Kolkata',
 'Pune',
 'Kolkata',
 'Pune',
 'Kolkata',
 'Pune',
 'Kolkata',
 'Pune',
 'Kolkata',
 'Pune',
 'Kolkata',
 'Pune',
 'Kolkata',
 'Pune',
 'Kolkata',
 'Pune',
 'Kolkata',
 'Pune',
 'Kolkata',
 'Pune',
 'Kolkata',
 'Pune',
 'Kolkata',
 'Pune',
 'Kolkata',
 'Pune',
 'Kolkata',
 'Pune',
 'Kolkata',
 'Pune',
 'Kolkata',
 'Pune',
 'Kolkata',
 'Pune',
 'Kolkata',
 'Pune',
 'Kolkata',
 'Pune',
 'Kolkata',
 'Pune',
 'Kolkata',
 'Pune',
 'Kolkata',
 'Pune',
 'Kolkata',
 'Pune',
 'Kolkata',
 'Pune',
 'Kolkata',
 'Pune',
 'Kolkata',
 'Pune',
 'Kolkata',
 'Pune',
 'Kolkata',
 'Pune',
 'Kolkata',
 'Pune',
 'Kolkata',
 'Pune',
 'Kolkata',
 'Pune',
 'Kolkata',
 'Pune',
 'Kolkata',
 'Pune',
 'Kolkata',
 'Pune',
 'Kolkata',
 'Pune',
 'Kolkata',
 'Pune',
 'Kolkata',
 'Pune',
 'Kolkata',
 'Pune',
 'Kolkata']

In [283]:
list1 = [sources[i] for i in range(len(sources)) if i % 2 != 0]
list1

['Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata']

In [284]:
list2=sources[::2]
list2

['Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Pune']

In [285]:
arr_tag=driver.find_elements("xpath",'//div[@class="fs-15 bold time"]')
len(arr_tag)

45

In [286]:
Arri_t=[]
for i in arr_tag:
    Arri_t.append(i.text)
Arri_t

['16:15',
 '22:15',
 '17:35',
 '16:55',
 '20:35',
 '16:55',
 '20:35',
 '20:35',
 '16:55',
 '20:35',
 '16:55',
 '15:55',
 '21:55',
 '18:50',
 '21:55',
 '15:55',
 '18:50',
 '21:55',
 '15:55',
 '18:50',
 '19:05',
 '17:50',
 '20:35',
 '16:55',
 '20:50',
 '19:05',
 '19:15',
 '21:55',
 '18:50',
 '15:55',
 '18:55',
 '18:55',
 '18:55',
 '18:50',
 '15:55',
 '17:40',
 '19:15',
 '18:55',
 '18:55',
 '20:35',
 '18:55',
 '16:55',
 '18:55',
 '20:35',
 '20:35']

In [287]:
dep_tag=driver.find_elements("xpath",'//p[@class="bold fs-15 mb-2 pr time"]')
len(dep_tag)

45

In [288]:
Depa_t=[]
for i in dep_tag:
    Depa_t.append(i.text)
Depa_t

['00:15\n+ 1 day',
 '08:00\n+ 1 day',
 '09:05\n+ 1 day',
 '22:45',
 '08:20\n+ 1 day',
 '08:20\n+ 1 day',
 '18:05\n+ 1 day',
 '19:35\n+ 1 day',
 '18:05\n+ 1 day',
 '22:45\n+ 1 day',
 '19:35\n+ 1 day',
 '23:05',
 '14:30\n+ 1 day',
 '14:30\n+ 1 day',
 '19:10\n+ 1 day',
 '14:30\n+ 1 day',
 '19:10\n+ 1 day',
 '22:25\n+ 1 day',
 '19:10\n+ 1 day',
 '22:25\n+ 1 day',
 '00:35\n+ 1 day',
 '22:30',
 '09:35\n+ 1 day',
 '09:35\n+ 1 day',
 '05:05\n+ 1 day',
 '02:00\n+ 1 day',
 '02:05\n+ 1 day',
 '09:00\n+ 1 day',
 '09:00\n+ 1 day',
 '09:00\n+ 1 day',
 '18:05\n+ 1 day',
 '19:35\n+ 1 day',
 '22:45\n+ 1 day',
 '08:15\n+ 1 day',
 '08:15\n+ 1 day',
 '23:15',
 '11:15\n+ 1 day',
 '18:05\n+ 1 day',
 '16:55\n+ 1 day',
 '16:55\n+ 1 day',
 '16:55\n+ 1 day',
 '09:40\n+ 1 day',
 '09:40\n+ 1 day',
 '16:55\n+ 1 day',
 '16:55\n+ 1 day']

In [289]:
total_s=driver.find_elements("xpath",'//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
len(total_s)

45

In [290]:
Total_s=[]
for i in total_s:
    Total_s.append(i.text)
Total_s

['1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '1 Stop',
 '1 Stop',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)']

In [291]:
cost_tag=driver.find_elements("xpath",'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
len(cost_tag)

45

In [292]:
prices=[]
for i in cost_tag:
    prices.append(i.text)
prices

['9,723',
 '9,723',
 '9,723',
 '11,006',
 '11,006',
 '11,006',
 '11,006',
 '11,006',
 '11,006',
 '11,006',
 '11,006',
 '11,823',
 '11,823',
 '11,823',
 '11,823',
 '11,823',
 '11,823',
 '11,823',
 '11,823',
 '11,823',
 '11,907',
 '11,981',
 '12,976',
 '12,976',
 '12,999',
 '13,766',
 '15,314',
 '15,341',
 '15,341',
 '15,341',
 '16,055',
 '16,055',
 '16,055',
 '16,559',
 '16,559',
 '16,821',
 '16,890',
 '18,950',
 '22,880',
 '23,751',
 '24,665',
 '25,744',
 '27,185',
 '28,056',
 '30,366']

In [293]:
duration_tag=driver.find_elements("xpath",'//p[@class="fs-12 bold du mb-2"]')
len(duration_tag)

45

In [294]:
Duration=[]
for i in duration_tag:
    Duration.append(i.text)
Duration

['8h 00m',
 '9h 45m',
 '15h 30m',
 '5h 50m',
 '11h 45m',
 '15h 25m',
 '21h 30m',
 '23h 00m',
 '25h 10m',
 '26h 10m',
 '26h 40m',
 '7h 10m',
 '16h 35m',
 '19h 40m',
 '21h 15m',
 '22h 35m',
 '24h 20m',
 '24h 30m',
 '27h 15m',
 '27h 35m',
 '5h 30m',
 '4h 40m',
 '13h 00m',
 '16h 40m',
 '8h 15m',
 '6h 55m',
 '6h 50m',
 '11h 05m',
 '14h 10m',
 '17h 05m',
 '23h 10m',
 '24h 40m',
 '27h 50m',
 '13h 25m',
 '16h 20m',
 '5h 35m',
 '16h 00m',
 '23h 10m',
 '22h 00m',
 '20h 20m',
 '22h 00m',
 '16h 45m',
 '14h 45m',
 '20h 20m',
 '20h 20m']

In [295]:
add_tag=driver.find_elements("xpath",'//span[@class="text"]')
len(add_tag)

35

In [296]:
Add_info=[]
for i in add_tag:
    Add_info.append(i.text)
Add_info

['Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal',
 'Free Meal']

In [300]:
flights10 = pd.DataFrame({})
flights10['Airline'] = Airlines
flights10['Destination'] = list1
flights10['Source'] = list2
flights10['Arrival_time'] = Arri_t
flights10['Departure_time'] =Depa_t
flights10['Total_Stops']=Total_s
flights10['Total_Duration'] = Duration
flights10['Additional_Info'] = pd.Series(Add_info)
flights10['Price']=prices
flights10.head()

,Airline,Destination,Source,Arrival_time,Departure_time,Total_Stops,Total_Duration,Additional_Info,Price
0,IndiGo,Kolkata,Pune,16:15,00:15\n+ 1 day,1 Stop,8h 00m,Free Meal,"9,723"
1,Go First,Kolkata,Pune,22:15,08:00\n+ 1 day,1 Stop,9h 45m,Free Meal,"9,723"
2,SpiceJet,Kolkata,Pune,17:35,09:05\n+ 1 day,1 Stop,15h 30m,Free Meal,"9,723"
3,Vistara,Kolkata,Pune,16:55,22:45,1 Stop,5h 50m,Free Meal,"11,006"
4,Vistara,Kolkata,Pune,20:35,08:20\n+ 1 day,1 Stop,11h 45m,Free Meal,"11,006"

In [302]:
url='https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=20%2F09%2F2022&hb=0&noOfSegments=1&origin=CCU&originCountry=IN&type=O&unique=732215010118&version=1.1&viewName=normal'
driver.get(url)

In [303]:
airline_tag=driver.find_elements("xpath",'//span[@class="i-b text ellipsis"]')
len(airline_tag)

46

In [304]:
Airlines=[]
for i in airline_tag:
    Airlines.append(i.text)
Airlines

['IndiGo',
 'IndiGo',
 'IndiGo',
 'Air Asia',
 'IndiGo',
 'Air Asia',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Air India',
 'Air India',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'IndiGo',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara']

In [305]:
source_tag=driver.find_elements('xpath','//p[@class="fs-10 font-lightgrey no-wrap city ellipsis"]')
len(source_tag)

92

In [306]:
sources=[]
for i in source_tag:
    sources.append(i.text)
sources

['Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore',
 'Kolkata',
 'Bangalore']

In [307]:
list1 = [sources[i] for i in range(len(sources)) if i % 2 != 0]
list1

['Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore']

In [308]:
list2=sources[::2]
list2

['Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata',
 'Kolkata']

In [309]:
arr_tag=driver.find_elements("xpath",'//div[@class="fs-15 bold time"]')
len(arr_tag)

46

In [310]:
Arri_t=[]
for i in arr_tag:
    Arri_t.append(i.text)
Arri_t

['18:45',
 '19:55',
 '21:20',
 '20:25',
 '23:10',
 '18:40',
 '20:35',
 '20:35',
 '20:20',
 '20:20',
 '18:45',
 '18:45',
 '20:20',
 '18:45',
 '20:20',
 '18:45',
 '20:20',
 '18:45',
 '20:15',
 '20:15',
 '20:15',
 '20:15',
 '20:20',
 '20:20',
 '18:45',
 '20:20',
 '18:45',
 '20:20',
 '18:45',
 '20:15',
 '20:15',
 '20:20',
 '20:20',
 '18:45',
 '18:45',
 '23:55',
 '20:20',
 '20:20',
 '18:45',
 '18:45',
 '20:20',
 '18:45',
 '20:35',
 '20:35',
 '20:20',
 '18:45']

In [311]:
dep_tag=driver.find_elements("xpath",'//p[@class="bold fs-15 mb-2 pr time"]')
len(dep_tag)

46

In [312]:
Depa_t=[]
for i in dep_tag:
    Depa_t.append(i.text)
Depa_t

['21:05',
 '22:25',
 '23:50',
 '23:10',
 '09:30\n+ 1 day',
 '22:30',
 '17:45\n+ 1 day',
 '19:15\n+ 1 day',
 '21:50\n+ 1 day',
 '21:50\n+ 1 day',
 '21:50\n+ 1 day',
 '21:50\n+ 1 day',
 '09:00\n+ 1 day',
 '09:00\n+ 1 day',
 '17:05\n+ 1 day',
 '17:05\n+ 1 day',
 '18:50\n+ 1 day',
 '18:50\n+ 1 day',
 '08:55\n+ 1 day',
 '18:20\n+ 1 day',
 '20:15\n+ 1 day',
 '00:05\n+ 2 days',
 '22:40\n+ 1 day',
 '23:20\n+ 1 day',
 '22:40\n+ 1 day',
 '10:50\n+ 1 day',
 '10:50\n+ 1 day',
 '20:25\n+ 1 day',
 '20:25\n+ 1 day',
 '10:30\n+ 1 day',
 '16:15\n+ 1 day',
 '17:45\n+ 1 day',
 '17:45\n+ 1 day',
 '17:45\n+ 1 day',
 '17:45\n+ 1 day',
 '09:55\n+ 1 day',
 '19:15\n+ 1 day',
 '19:15\n+ 1 day',
 '19:15\n+ 1 day',
 '19:15\n+ 1 day',
 '11:50\n+ 1 day',
 '11:50\n+ 1 day',
 '07:50\n+ 1 day',
 '10:45\n+ 1 day',
 '10:45\n+ 1 day',
 '10:45\n+ 1 day']

In [313]:
total_s=driver.find_elements("xpath",'//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
len(total_s)

46

In [314]:
Total_s=[]
for i in total_s:
    Total_s.append(i.text)
Total_s

['Non Stop',
 'Non Stop',
 'Non Stop',
 'Non Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '1 Stop',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '2 Stop(s)',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '1 Stop',
 '2 Stop(s)',
 '2 Stop(s)']

In [315]:
cost_tag=driver.find_elements("xpath",'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
len(cost_tag)

46

In [316]:
prices=[]
for i in cost_tag:
    prices.append(i.text)
prices

['9,132',
 '9,132',
 '9,132',
 '9,132',
 '9,132',
 '11,758',
 '12,784',
 '12,784',
 '12,790',
 '12,790',
 '12,790',
 '12,790',
 '13,075',
 '13,075',
 '13,075',
 '13,075',
 '13,075',
 '13,075',
 '13,542',
 '13,542',
 '13,542',
 '13,542',
 '13,813',
 '13,813',
 '13,813',
 '14,621',
 '14,621',
 '14,621',
 '14,621',
 '16,272',
 '16,272',
 '17,303',
 '17,303',
 '17,303',
 '17,303',
 '17,658',
 '17,975',
 '17,975',
 '17,975',
 '17,975',
 '19,107',
 '19,107',
 '24,357',
 '24,357',
 '25,115',
 '25,115']

In [317]:
duration_tag=driver.find_elements("xpath",'//p[@class="fs-12 bold du mb-2"]')
len(duration_tag)

46

In [318]:
Duration=[]
for i in duration_tag:
    Duration.append(i.text)
Duration

['2h 20m',
 '2h 30m',
 '2h 30m',
 '2h 45m',
 '10h 20m',
 '3h 50m',
 '21h 10m',
 '22h 40m',
 '25h 30m',
 '25h 30m',
 '27h 05m',
 '27h 05m',
 '12h 40m',
 '14h 15m',
 '20h 45m',
 '22h 20m',
 '22h 30m',
 '24h 05m',
 '12h 40m',
 '22h 05m',
 '24h 00m',
 '27h 50m',
 '26h 20m',
 '27h 00m',
 '27h 55m',
 '14h 30m',
 '16h 05m',
 '24h 05m',
 '25h 40m',
 '14h 15m',
 '20h 00m',
 '21h 25m',
 '21h 25m',
 '23h 00m',
 '23h 00m',
 '10h 00m',
 '22h 55m',
 '22h 55m',
 '24h 30m',
 '24h 30m',
 '15h 30m',
 '17h 05m',
 '11h 15m',
 '14h 10m',
 '14h 25m',
 '16h 00m']

In [319]:
add_tag=driver.find_elements("xpath",'//span[@class="text"]')
len(add_tag)

39

In [320]:
Add_info=[]
for i in add_tag:
    Add_info.append(i.text)

In [321]:
flights11 = pd.DataFrame({})
flights11['Airline'] = Airlines
flights11['Destination'] = list1
flights11['Source'] = list2
flights11['Arrival_time'] = Arri_t
flights11['Departure_time'] =Depa_t
flights11['Total_Stops']=Total_s
flights11['Total_Duration'] = Duration
flights11['Additional_Info'] = pd.Series(Add_info)
flights11['Price']=prices
flights11.head()

,Airline,Destination,Source,Arrival_time,Departure_time,Total_Stops,Total_Duration,Additional_Info,Price
0,IndiGo,Bangalore,Kolkata,18:45,21:05,Non Stop,2h 20m,Free Meal,"9,132"
1,IndiGo,Bangalore,Kolkata,19:55,22:25,Non Stop,2h 30m,Free Meal,"9,132"
2,IndiGo,Bangalore,Kolkata,21:20,23:50,Non Stop,2h 30m,Free Meal,"9,132"
3,Air Asia,Bangalore,Kolkata,20:25,23:10,Non Stop,2h 45m,Free Meal,"9,132"
4,IndiGo,Bangalore,Kolkata,23:10,09:30\n+ 1 day,1 Stop,10h 20m,Free Meal,"9,132"

In [323]:
url='https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=HYD&destinationCountry=IN&flexi=0&flight_depart_date=21%2F09%2F2022&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=1663673433891&viewName=normal'
driver.get(url)

In [324]:
airline_tag=driver.find_elements("xpath",'//span[@class="i-b text ellipsis"]')
len(airline_tag)

87

In [327]:
Airline=[]
for i in airline_tag:
    Airline.append(i.text)

In [328]:
source_tag=driver.find_elements('xpath','//p[@class="fs-10 font-lightgrey no-wrap city ellipsis"]')
len(source_tag)

174

In [329]:
sources=[]
for i in source_tag:
    sources.append(i.text)

In [330]:
list1 = [sources[i] for i in range(len(sources)) if i % 2 != 0]
len(list1)

87

In [331]:
list2=sources[::2]
len(list2)

87

In [332]:
arr_tag=driver.find_elements("xpath",'//div[@class="fs-15 bold time"]')
len(arr_tag)

87

In [333]:
Arri_t=[]
for i in arr_tag:
    Arri_t.append(i.text)

In [334]:
dep_tag=driver.find_elements("xpath",'//p[@class="bold fs-15 mb-2 pr time"]')
len(dep_tag)

87

In [335]:
Depa_t=[]
for i in dep_tag:
    Depa_t.append(i.text)

In [336]:
total_s=driver.find_elements("xpath",'//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
len(total_s)

87

In [337]:
Total_s=[]
for i in total_s:
    Total_s.append(i.text)

In [338]:
cost_tag=driver.find_elements("xpath",'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
len(cost_tag)

87

In [339]:
prices=[]
for i in cost_tag:
    prices.append(i.text)

In [340]:
duration_tag=driver.find_elements("xpath",'//p[@class="fs-12 bold du mb-2"]')
len(duration_tag)

87

In [341]:
Duration=[]
for i in duration_tag:
    Duration.append(i.text)

In [342]:
add_tag=driver.find_elements("xpath",'//span[@class="text"]')
len(add_tag)

64

In [343]:
Add_info=[]
for i in add_tag:
    Add_info.append(i.text)

In [344]:
flights12 = pd.DataFrame({})
flights12['Airline'] = Airlines
flights12['Destination'] = list1
flights12['Source'] = list2
flights12['Arrival_time'] = Arri_t
flights12['Departure_time'] =Depa_t
flights12['Total_Stops']=Total_s
flights12['Total_Duration'] = Duration
flights12['Additional_Info'] = pd.Series(Add_info)
flights12['Price']=prices
flights12.head()

,Airline,Destination,Source,Arrival_time,Departure_time,Total_Stops,Total_Duration,Additional_Info,Price
0,Go First,Hyderabad,Mumbai,22:30,23:55,Non Stop,1h 25m,Free Meal,"4,262"
1,IndiGo,Hyderabad,Mumbai,14:10,15:30,Non Stop,1h 20m,Free Meal,"4,263"
2,Vistara,Hyderabad,Mumbai,21:20,22:40,Non Stop,1h 20m,Free Meal,"4,263"
3,IndiGo,Hyderabad,Mumbai,06:05,07:30,Non Stop,1h 25m,Free Meal,"4,263"
4,Air India,Hyderabad,Mumbai,11:05,12:30,Non Stop,1h 25m,Free Meal,"4,263"

In [345]:
Flights3=pd.concat([flights10,flights11,flights12],ignore_index=True)

In [346]:
Flights3.shape

(178, 9)

In [347]:
Airline1=pd.concat([Flights2,Flights3],ignore_index=True)

In [348]:
Airline1.shape

(1192, 9)

In [389]:
url='https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=HYD&destinationCountry=IN&flexi=0&flight_depart_date=22%2F09%2F2022&hb=0&noOfSegments=1&origin=PNQ&originCountry=IN&type=O&unique=1663674901778&viewName=normal'
driver.get(url)

In [390]:
airline_tag=driver.find_elements("xpath",'//span[@class="i-b text ellipsis"]')
len(airline_tag)

77

In [391]:
Airline=[]
for i in airline_tag:
    Airline.append(i.text)

In [392]:
source_tag=driver.find_elements('xpath','//p[@class="fs-10 font-lightgrey no-wrap city ellipsis"]')
len(source_tag)

154

In [393]:
sources=[]
for i in source_tag:
    sources.append(i.text)

In [394]:
list1 = [sources[i] for i in range(len(sources)) if i % 2 != 0]
len(list1)

77

In [395]:
list2=sources[::2]
len(list2)

77

In [396]:
arr_tag=driver.find_elements("xpath",'//div[@class="fs-15 bold time"]')
len(arr_tag)

77

In [397]:
Arri_t=[]
for i in arr_tag:
    Arri_t.append(i.text)

In [398]:
dep_tag=driver.find_elements("xpath",'//p[@class="bold fs-15 mb-2 pr time"]')
len(dep_tag)

77

In [399]:
Depa_t=[]
for i in dep_tag:
    Depa_t.append(i.text)

In [400]:
total_s=driver.find_elements("xpath",'//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
len(total_s)

77

In [401]:
Total_s=[]
for i in total_s:
    Total_s.append(i.text)

In [402]:
cost_tag=driver.find_elements("xpath",'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
len(cost_tag)

77

In [403]:
prices=[]
for i in cost_tag:
    prices.append(i.text)

In [404]:
duration_tag=driver.find_elements("xpath",'//p[@class="fs-12 bold du mb-2"]')
len(duration_tag)

77

In [405]:
Duration=[]
for i in duration_tag:
    Duration.append(i.text)

In [406]:
add_tag=driver.find_elements("xpath",'//span[@class="text"]')
len(add_tag)

50

In [407]:
Add_info=[]
for i in add_tag:
    Add_info.append(i.text)

In [409]:
flights13 = pd.DataFrame({})
flights13['Airline'] = Airline
flights13['Destination'] = list1
flights13['Source'] = list2
flights13['Arrival_time'] = Arri_t
flights13['Departure_time'] =Depa_t
flights13['Total_Stops']=Total_s
flights13['Total_Duration'] = Duration
flights13['Additional_Info'] = pd.Series(Add_info)
flights13['Price']=prices
flights13.head()

,Airline,Destination,Source,Arrival_time,Departure_time,Total_Stops,Total_Duration,Additional_Info,Price
0,IndiGo,Hyderabad,Pune,06:25,07:35,Non Stop,1h 10m,No Meal Fare,"4,578"
1,IndiGo,Hyderabad,Pune,00:05,01:20,Non Stop,1h 15m,Free Meal,"4,578"
2,IndiGo,Hyderabad,Pune,13:55,15:10,Non Stop,1h 15m,Free Meal,"4,578"
3,IndiGo,Hyderabad,Pune,17:50,19:05,Non Stop,1h 15m,Free Meal,"4,578"
4,Alliance Air,Hyderabad,Pune,21:30,23:10,Non Stop,1h 40m,Free Meal,"4,578"

In [410]:
# Connecting to the webdriver.

driver = webdriver.Chrome(r'C:\Users\91749\Downloads\chromedriver_win32\chromedriver.exe')

In [411]:
url='https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=HYD&destinationCountry=IN&flexi=0&flight_depart_date=22%2F09%2F2022&hb=0&noOfSegments=1&origin=BLR&originCountry=IN&type=O&unique=1317858004036&version=1.2&viewName=normal'
driver.get(url)

In [412]:
airline_tag=driver.find_elements("xpath",'//span[@class="i-b text ellipsis"]')
len(airline_tag)

102

In [413]:
Airline=[]
for i in airline_tag:
    Airline.append(i.text)

In [414]:
source_tag=driver.find_elements('xpath','//p[@class="fs-10 font-lightgrey no-wrap city ellipsis"]')
len(source_tag)

204

In [415]:
sources=[]
for i in source_tag:
    sources.append(i.text)

In [416]:
list1 = [sources[i] for i in range(len(sources)) if i % 2 != 0]
len(list1)

102

In [417]:
list2=sources[::2]
len(list2)

102

In [418]:
arr_tag=driver.find_elements("xpath",'//div[@class="fs-15 bold time"]')
len(arr_tag)

102

In [419]:
Arri_t=[]
for i in arr_tag:
    Arri_t.append(i.text)

In [420]:
dep_tag=driver.find_elements("xpath",'//p[@class="bold fs-15 mb-2 pr time"]')
len(dep_tag)

102

In [421]:
Depa_t=[]
for i in dep_tag:
    Depa_t.append(i.text)

In [422]:
total_s=driver.find_elements("xpath",'//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
len(total_s)

102

In [423]:
Total_s=[]
for i in total_s:
    Total_s.append(i.text)

In [424]:
cost_tag=driver.find_elements("xpath",'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
len(cost_tag)

102

In [425]:
prices=[]
for i in cost_tag:
    prices.append(i.text)

In [426]:
duration_tag=driver.find_elements("xpath",'//p[@class="fs-12 bold du mb-2"]')
len(duration_tag)

102

In [427]:
Duration=[]
for i in duration_tag:
    Duration.append(i.text)

In [428]:
add_tag=driver.find_elements("xpath",'//span[@class="text"]')
len(add_tag)

66

In [429]:
Add_info=[]
for i in add_tag:
    Add_info.append(i.text)

In [430]:
flights14 = pd.DataFrame({})
flights14['Airline'] = Airline
flights14['Destination'] = list1
flights14['Source'] = list2
flights14['Arrival_time'] = Arri_t
flights14['Departure_time'] =Depa_t
flights14['Total_Stops']=Total_s
flights14['Total_Duration'] = Duration
flights14['Additional_Info'] = pd.Series(Add_info)
flights14['Price']=prices
flights14.head()

,Airline,Destination,Source,Arrival_time,Departure_time,Total_Stops,Total_Duration,Additional_Info,Price
0,Alliance Air,Hyderabad,Bangalore,08:35,10:10,Non Stop,1h 35m,No Meal Fare,"3,269"
1,Go First,Hyderabad,Bangalore,15:35,16:45,Non Stop,1h 10m,No Meal Fare,"4,532"
2,Air Asia,Hyderabad,Bangalore,14:25,15:40,Non Stop,1h 15m,Free Meal,"4,532"
3,Air Asia,Hyderabad,Bangalore,16:15,17:30,Non Stop,1h 15m,Free Meal,"4,532"
4,IndiGo,Hyderabad,Bangalore,16:00,16:55,Non Stop,0h 55m,Free Meal,"4,534"

In [431]:
url='https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=GOI&destinationCountry=IN&flexi=0&flight_depart_date=22%2F09%2F2022&hb=0&noOfSegments=1&origin=BLR&originCountry=IN&type=O&unique=622986798458&version=1.2&viewName=normal'
driver.get(url)

In [467]:
airline_tag=driver.find_elements("xpath",'//span[@class="i-b text ellipsis"]')
len(airline_tag)

74

In [492]:
Airline=[]
for i in airline_tag:
    Airline.append(i.text)

In [469]:
source_tag=driver.find_elements('xpath','//p[@class="fs-10 font-lightgrey no-wrap city ellipsis"]')
len(source_tag)

148

In [470]:
sources=[]
for i in source_tag:
    sources.append(i.text)

In [471]:
list1 = [sources[i] for i in range(len(sources)) if i % 2 != 0]
len(list1)

74

In [472]:
list2=sources[::2]
len(list2)

74

In [473]:
arr_tag=driver.find_elements("xpath",'//div[@class="fs-15 bold time"]')
len(arr_tag)

74

In [474]:
Arri_t=[]
for i in arr_tag:
    Arri_t.append(i.text)

In [475]:
dep_tag=driver.find_elements("xpath",'//p[@class="bold fs-15 mb-2 pr time"]')
len(dep_tag)

74

In [476]:
Depa_t=[]
for i in dep_tag:
    Depa_t.append(i.text)

In [477]:
total_s=driver.find_elements("xpath",'//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
len(total_s)

74

In [478]:
Total_s=[]
for i in total_s:
    Total_s.append(i.text)

In [479]:
cost_tag=driver.find_elements("xpath",'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
len(cost_tag)

74

In [480]:
prices=[]
for i in cost_tag:
    prices.append(i.text)

In [481]:
duration_tag=driver.find_elements("xpath",'//p[@class="fs-12 bold du mb-2"]')
len(duration_tag)

74

In [482]:
Duration=[]
for i in duration_tag:
    Duration.append(i.text)

In [483]:
add_tag=driver.find_elements("xpath",'//span[@class="text"]')
len(add_tag)

55

In [484]:
Add_info=[]
for i in add_tag:
    Add_info.append(i.text)

In [485]:
flights15= pd.DataFrame({})
flights15['Airline'] = Airline
flights15['Destination'] = list1
flights15['Source'] = list2
flights15['Arrival_time'] = Arri_t
flights15['Departure_time'] =Depa_t
flights15['Total_Stops']=Total_s
flights15['Total_Duration'] = Duration
flights15['Additional_Info'] = pd.Series(Add_info)
flights15['Price']=prices
flights15.head()

,Airline,Destination,Source,Arrival_time,Departure_time,Total_Stops,Total_Duration,Additional_Info,Price
0,SpiceJet,Goa,Bangalore,20:00,21:25,Non Stop,1h 25m,Free Meal,"4,691"
1,Air Asia,Goa,Bangalore,23:40,00:45\n+ 1 day,Non Stop,1h 05m,Free Meal,"5,370"
2,Air Asia,Goa,Bangalore,04:35,05:55,Non Stop,1h 20m,Free Meal,"5,370"
3,IndiGo,Goa,Bangalore,21:30,22:40,Non Stop,1h 10m,Free Meal,"5,479"
4,IndiGo,Goa,Bangalore,19:25,20:40,Non Stop,1h 15m,Free Meal,"6,214"

In [486]:
Airline2=pd.concat([flights13,flights14,flights15],ignore_index=True)

In [487]:
Airline3=pd.concat([Airline1,Airline2],ignore_index=True)

In [488]:
Airline3.shape

(1417, 9)

In [489]:
# Connecting to the webdriver.

driver = webdriver.Chrome(r'C:\Users\91749\Downloads\chromedriver_win32\chromedriver.exe')

In [490]:
url='https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=MAA&originCountry=IN&destination=GOI&destinationCountry=IN&flight_depart_date=22%2F09%2F2022&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=118126787093'
driver.get(url)

In [491]:
airline_tag=driver.find_elements("xpath",'//span[@class="i-b text ellipsis"]')
len(airline_tag)

74

In [493]:
Airline=[]
for i in airline_tag:
    Airline.append(i.text)

In [494]:
source_tag=driver.find_elements('xpath','//p[@class="fs-10 font-lightgrey no-wrap city ellipsis"]')
len(source_tag)

148

In [496]:
sources=[]
for i in source_tag:
    sources.append(i.text)

In [497]:
list1 = [sources[i] for i in range(len(sources)) if i % 2 != 0]
len(list1)

74

In [498]:
list2=sources[::2]
len(list2)

74

In [499]:
arr_tag=driver.find_elements("xpath",'//div[@class="fs-15 bold time"]')
len(arr_tag)

74

In [500]:
Arri_t=[]
for i in arr_tag:
    Arri_t.append(i.text)

In [501]:
dep_tag=driver.find_elements("xpath",'//p[@class="bold fs-15 mb-2 pr time"]')
len(dep_tag)

74

In [502]:
Depa_t=[]
for i in dep_tag:
    Depa_t.append(i.text)

In [503]:
total_s=driver.find_elements("xpath",'//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
len(total_s)

74

In [504]:
Total_s=[]
for i in total_s:
    Total_s.append(i.text)

In [505]:
cost_tag=driver.find_elements("xpath",'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
len(cost_tag)

74

In [506]:
prices=[]
for i in cost_tag:
    prices.append(i.text)

In [507]:
duration_tag=driver.find_elements("xpath",'//p[@class="fs-12 bold du mb-2"]')
len(duration_tag)

74

In [508]:
Duration=[]
for i in duration_tag:
    Duration.append(i.text)

In [509]:
add_tag=driver.find_elements("xpath",'//span[@class="text"]')
len(add_tag)

37

In [510]:
Add_info=[]
for i in add_tag:
    Add_info.append(i.text)

In [511]:
flights16= pd.DataFrame({})
flights16['Airline'] = Airline
flights16['Destination'] = list1
flights16['Source'] = list2
flights16['Arrival_time'] = Arri_t
flights16['Departure_time'] =Depa_t
flights16['Total_Stops']=Total_s
flights16['Total_Duration'] = Duration
flights16['Additional_Info'] = pd.Series(Add_info)
flights16['Price']=prices
flights16.head()

,Airline,Destination,Source,Arrival_time,Departure_time,Total_Stops,Total_Duration,Additional_Info,Price
0,SpiceJet,Goa,Chennai,22:00,03:15\n+ 1 day,1 Stop,5h 15m,Free Meal,"7,198"
1,SpiceJet,Goa,Chennai,22:00,17:05\n+ 1 day,1 Stop,19h 05m,Free Meal,"7,198"
2,IndiGo,Goa,Chennai,22:20,06:15\n+ 1 day,1 Stop,7h 55m,Free Meal,"7,476"
3,Air India,Goa,Chennai,15:25,22:20,1 Stop,6h 55m,Free Meal,"7,587"
4,Air India,Goa,Chennai,21:40,22:20\n+ 1 day,1 Stop,24h 40m,Free Meal,"7,587"

In [512]:
url='https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=CCU&destinationCountry=IN&flexi=0&flight_depart_date=22%2F09%2F2022&hb=0&noOfSegments=1&origin=MAA&originCountry=IN&type=O&unique=708820920668&version=1.4&viewName=normal'
driver.get(url)

In [513]:
airline_tag=driver.find_elements("xpath",'//span[@class="i-b text ellipsis"]')
len(airline_tag)

101

In [514]:
Airline=[]
for i in airline_tag:
    Airline.append(i.text)

In [515]:
source_tag=driver.find_elements('xpath','//p[@class="fs-10 font-lightgrey no-wrap city ellipsis"]')
len(source_tag)

202

In [516]:
sources=[]
for i in source_tag:
    sources.append(i.text)

In [517]:
list1 = [sources[i] for i in range(len(sources)) if i % 2 != 0]
len(list1)

101

In [518]:
list2=sources[::2]
len(list2)

101

In [519]:
arr_tag=driver.find_elements("xpath",'//div[@class="fs-15 bold time"]')
len(arr_tag)

101

In [520]:
Arri_t=[]
for i in arr_tag:
    Arri_t.append(i.text)

In [521]:
dep_tag=driver.find_elements("xpath",'//p[@class="bold fs-15 mb-2 pr time"]')
len(dep_tag)

101

In [522]:
Depa_t=[]
for i in dep_tag:
    Depa_t.append(i.text)

In [523]:
total_s=driver.find_elements("xpath",'//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
len(total_s)

101

In [524]:
Total_s=[]
for i in total_s:
    Total_s.append(i.text)

In [525]:
cost_tag=driver.find_elements("xpath",'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
len(cost_tag)

101

In [526]:
prices=[]
for i in cost_tag:
    prices.append(i.text)

In [527]:
duration_tag=driver.find_elements("xpath",'//p[@class="fs-12 bold du mb-2"]')
len(duration_tag)

101

In [528]:
Duration=[]
for i in duration_tag:
    Duration.append(i.text)

In [529]:
add_tag=driver.find_elements("xpath",'//span[@class="text"]')
len(add_tag)

57

In [530]:
Add_info=[]
for i in add_tag:
    Add_info.append(i.text)

In [531]:
flights17= pd.DataFrame({})
flights17['Airline'] = Airline
flights17['Destination'] = list1
flights17['Source'] = list2
flights17['Arrival_time'] = Arri_t
flights17['Departure_time'] =Depa_t
flights17['Total_Stops']=Total_s
flights17['Total_Duration'] = Duration
flights17['Additional_Info'] = pd.Series(Add_info)
flights17['Price']=prices
flights17.head()

,Airline,Destination,Source,Arrival_time,Departure_time,Total_Stops,Total_Duration,Additional_Info,Price
0,SpiceJet,Kolkata,Chennai,08:30,14:55,1 Stop,6h 25m,Free Meal,"7,618"
1,SpiceJet,Kolkata,Chennai,18:00,09:05\n+ 1 day,1 Stop,15h 05m,Free Meal,"7,618"
2,SpiceJet,Kolkata,Chennai,22:00,21:30\n+ 1 day,1 Stop,23h 30m,Free Meal,"7,618"
3,SpiceJet,Kolkata,Chennai,12:05,14:55\n+ 1 day,1 Stop,26h 50m,Free Meal,"7,618"
4,SpiceJet,Kolkata,Chennai,18:00,21:00\n+ 1 day,1 Stop,27h 00m,Free Meal,"7,618"

In [532]:
Airline4=pd.concat([flights16,flights17,Airline3],ignore_index=True)

In [533]:
Airline4.shape

(1592, 9)

# Saving the scrapped data into csv and excel format

In [534]:
Airline4.to_csv('Flight_data.csv')

In [536]:
Airline4.to_excel('Flights_data.xlsx')